Repository hnjae/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellharden, shellcheck, shfmt, just-fmt, yamlfix, taplo, biome, markdownlint

.pre-commit-config.yaml:

---
# See: https://pre-commit.com/
exclude: |
  (?x)^(
    .*/lazy-lock.json
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-private-key
        fail_fast: true
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: check-xml
  - repo: local
    hooks:
      - id: shellharden
        name: harden shell
        entry: shellharden --replace
        language: system
        files: \.(sh|bash|envrc|envrc.*)$
      - id: shellcheck
        name: check shell
        entry: shellcheck
        language: system
        files: \.(sh|bash|envrc|envrc.*)$
      - id: shfmt
        name: format shell
        entry: shfmt --indent 2 --simplify --write
        language: system
        files: \.(sh|bash|envrc|envrc.*)$
  - repo: local
    hooks:
      - id: just-fmt
        name: format just
        entry: bash -c 'just --fmt --unstable --justfile "$1"' --
        language: system
        files: (^|/)(\.)?justfile$
      - id: fish-indent
        name: format fish
        entry: fish_indent --write
        language: system
        types: [fish]
      - id: yamlfix
        name: format yaml
        entry: yamlfix
        language: system
        types: [yaml]
      - id: taplo
        name: format toml
        entry: taplo format
        language: system
        types: [toml]
      - id: biome
        name: format json(c)
        entry: biome format --write
        language: system
        files: \.(json|jsonc)$
      - id: markdownlint
        name: format markdown
        entry: markdownlint-cli2 --fix
        language: system
        types: [markdown]

nyx: 2026-09-24T09:30:58+09:00
  profiles/common/home/.omp/agent/config.yml
  profiles/desktop/xdg-config-home/ghostty/config
  profiles/desktop/xdg-config-home/mpv/mpv.conf
Due: yamlfix

nyx: 2026-09-24T09:49:11+09:00
  profiles/common/home/.omp/agent/config.yml
  profiles/desktop/xdg-config-home/ghostty/config
  profiles/desktop/xdg-config-home/kitty/kitty.conf
Due: yamlfix

nyx: 2026-09-24T09:59:13+09:00
  profiles/common/home/.omp/agent/config.yml
  profiles/common/home/.pi/.gitignore
  profiles/common/home/.pi/agent/settings.json
  profiles/common/xdg-config-home/zsh/modules/devenv/init.zsh
Due: yamlfix, biome

chore(nvim): update lazy-lock.json
  profiles/common/xdg-config-home/nvim/lazy-lock.json
Due: none

nyx: 2026-09-24T11:17:25+09:00
  profiles/common/home/.agents/AGENTS.md
  profiles/common/home/.omp/agent/config.yml
  profiles/common/home_Projects/mani.yaml
Due: yamlfix, markdownlint

feat(docs): add pull request drafting skill
  profiles/common/home/.agents/skills/pull-request/SKILL.md
  profiles/common/home/.agents/skills/pull-request/evals/evals.json
Due: biome, markdownlint

nyx: 2026-09-24T11:49:16+09:00
  profiles/common/home/.agents/AGENTS.md
  profiles/common/home/.agents/skills/brainstorming
  profiles/common/home/.agents/skills/show-me
  profiles/common/home/.omp/.gitignore
  profiles/common/home/.omp/agent/config.yml
  profiles/common/home/.pi/agent/settings.json
Due: yamlfix, biome, markdownlint

nyx: 2026-09-24T12:17:19+09:00
  profiles/common/home/.omp/.gitignore
  profiles/common/home/.omp/agent/config.yml
  profiles/common/home/.omp/agent/mcp.json
  profiles/common/home/.omp/plugins/bun.lock
  profiles/common/home/.omp/plugins/omp-plugins.lock.json
  profiles/common/home/.omp/plugins/package.json
  profiles/common/home/.pi/.gitignore
  profiles/common/home/.pi/agent/README.md
  profiles/common/home/.pi/agent/mcp.json
  profiles/common/home/.pi/agent/npm/.gitignore
  profiles/common/home/.pi/agent/npm/package.json
  profiles/common/home/.pi/agent/settings.json
  profiles/common/xdg-data-home/navi/cheats/omp.cheat
Due: yamlfix, biome, markdownlint

feat(zsh): add custom direnv module
  profiles/common/xdg-config-home/zsh/.zimrc
  profiles/common/xdg-config-home/zsh/modules/devenv/init.zsh
  profiles/common/xdg-config-home/zsh/modules/direnv/.gitignore
  profiles/common/xdg-config-home/zsh/modules/direnv/LICENSE
  profiles/common/xdg-config-home/zsh/modules/direnv/README.md
  profiles/common/xdg-config-home/zsh/modules/direnv/init.zsh
  profiles/common/xdg-config-home/zsh/modules/pnpm/init.zsh
Due: markdownlint

nyx: 2026-09-27T09:00:39+09:00
  profiles/common/home/.omp/.gitignore
  profiles/common/home/.omp/agent/config.yml
  profiles/common/home/.pi/agent/settings.json
Due: yamlfix, biome

docs(docs): clarify when to ask during discovery
  profiles/common/home/.agents/AGENTS.md
Due: markdownlint

docs: distinguish questions from change requests
  profiles/common/home/.agents/AGENTS.md
Due: markdownlint

feat: align terminal tab and split navigation shortcuts
  profiles/desktop/xdg-config-home/ghostty/config
  profiles/desktop/xdg-config-home/kitty/kitty.conf
Due: none

nyx: 2026-09-29T13:53:48+09:00
  devenv/common/devenv.lock
  profiles/common/home/.omp/agent/config.yml
  profiles/common/home/.omp/plugins/omp-plugins.lock.json
  profiles/common/home/.omp/plugins/package.json
  profiles/common/home/.pi/agent/settings.json
  profiles/common/home_.ssh/config
  profiles/common/home_Projects/mani.yaml
  profiles/common/xdg-config-home/codex/.gitignore
  profiles/common/xdg-data-home/navi/cheats/fido.cheat
  profiles/common/xdg-data-home/navi/cheats/hermes.cheat
  profiles/desktop/xdg-config-home/mpv/input.conf
  profiles/desktop/xdg-config-home/mpv/mpv.conf
Due: yamlfix, biome

nyx: 2026-09-29T13:57:17+09:00
  profiles/common/xdg-config-home/nvim/lua/config/options/setups/options.lua
Due: none

chore: update devenv.lock
  devenv/common/devenv.lock
  profiles/common/xdg-config-home/cheat/cheatsheets/personal/code-agent
Due: none

nyx: 2026-09-30T10:16:41+09:00
  profiles/common/home/.agents/skills/docs-review/SKILL.md
  profiles/common/home/.agents/skills/docs-review/agents/openai.yaml
  profiles/common/home/.agents/skills/docs-review/references/delegated-review.md
  profiles/common/home/.agents/skills/docs-review/references/review-checklist.md
  profiles/common/home/.agents/skills/docs-review/scripts/docs_manifest.py
  profiles/common/home/.agents/skills/docs-review/tests/test_docs_manifest.py
  profiles/common/install.conf.yaml
  profiles/common/xdg-config-home/codex/.gitignore
  profiles/common/xdg-config-home@merge/codex/AGENTS.md
  profiles/common/xdg-config-home@merge/codex/rules/default.rules
  profiles/common/xdg-config-home@merge/codex/rules/systemctl.rules
  profiles/common/xdg-config-home@merge/codex/skills/.gitignore
  profiles/common/xdg-config-home@merge/codex/skills/address-design-review-findings/SKILL.md
  profiles/common/xdg-config-home@merge/codex/skills/address-design-review-findings/agents/openai.yaml
  profiles/common/xdg-config-home@merge/codex/skills/generate-design-review-report/SKILL.md
  profiles/common/xdg-config-home@merge/codex/skills/generate-design-review-report/agents/openai.yaml
  profiles/common/xdg-config-home@merge/codex/skills/generate-design-review-report/references/audit.md
Due: yamlfix, markdownlint

nyx: 2026-10-03T19:23:41+09:00
  profiles/common/install.conf.yaml
  profiles/common/xdg-config-home@merge/claude/settings.json
  profiles/common/xdg-config-home@merge/claude/skills/.gitignore
  profiles/common/xdg-data-home/navi/cheats/hermes.cheat
Due: yamlfix, biome

nyx: 2026-10-03T19:54:33+09:00
  profiles/common/install.conf.yaml
  profiles/common/xdg-config-home@merge/claude/CLAUDE.md
  profiles/common/xdg-config-home@merge/claude/settings.json
Due: yamlfix, biome, markdownlint
