Repository hnjae/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellharden, shellcheck, shfmt, just-fmt, yamlfix, taplo, biome, markdownlint

shellharden:
  name: harden shell
  entry: shellharden --replace
  language: system

shellcheck:
  name: check shell
  entry: shellcheck
  language: system

shfmt:
  name: format shell
  entry: shfmt --indent 2 --simplify --write
  language: system

just-fmt:
  name: format just
  entry: bash -c 'just --fmt --unstable --justfile "$1"' --
  language: system

yamlfix:
  name: format yaml
  entry: yamlfix
  language: system

taplo:
  name: format toml
  entry: taplo format
  language: system

biome:
  name: format json(c)
  entry: biome format --write
  language: system

markdownlint:
  name: format markdown
  entry: markdownlint-cli2 --fix
  language: system

chore: update opencode configuration
  profiles/common/xdg-config-home/opencode/opencode.jsonc
  profiles/common/xdg-config-home/opencode/tui.json
  profiles/common/xdg-config-home/opencode/tui.jsonc
Due: biome

feat: update gitignore
  profiles/common/xdg-config-home/git/ignore
  profiles/common/xdg-config-home/opencode/.gitignore
Due: none

feat: add agent skill(s)
  .gitmodules
  profiles/common/home/.agents/skills/brainstorming
  profiles/common/home/.agents/skills/git-commit
  profiles/common/home/.agents/skills/oss-review
  profiles/common/home/.agents/skills/pdf
  profiles/common/home/.agents/skills/pptx
  profiles/common/home/.agents/skills/skill-creator
  profiles/common/home/.agents/skills/x-twitter-scraper
  profiles/common/home/.agents/skills/xlsx
Due: none

feat: various update
  profiles/common/xdg-config-home/codex/.gitignore
  profiles/common/xdg-config-home/opencode/.gitignore
  profiles/common/xdg-config-home/opencode/opencode.jsonc
  profiles/common/xdg-config-home/zsh/modules/opencode/init.zsh
  profiles/common/xdg-config-home/zsh/modules/utilities/init.zsh
  profiles/desktop-kde/install.d/configure-mimeapps.list.sh
Due: shellharden, shellcheck, shfmt, biome

feat: configure opentmux
  profiles/common/xdg-config-home/opencode/justfile
  profiles/common/xdg-config-home/opencode/opencode.jsonc
Due: just-fmt, biome

feat(code-agents): update skills
  .gitmodules
  profiles/common/home/.agents/skills/grilling
  profiles/common/home/.agents/skills/link-html-clipper/SKILL.md
  profiles/common/home/.agents/skills/researched-html-note/SKILL.md
Due: markdownlint

feat(zsh): switch git-commit-llm from codex to opencode
  profiles/common/xdg-config-home/zsh/modules/git/functions/git-commit-llm-codex
Due: none

nyx: 2026-09-05T10:42:18+09:00
  profiles/common/xdg-config-home/opencode/opencode.jsonc
  profiles/common/xdg-config-home/zsh/modules/history/init.zsh
  profiles/common/xdg-data-home/navi/cheats/systemd/systemctl.cheat
  profiles/desktop-kde/install.d/configure-mimeapps.list.sh
  profiles/desktop/xdg-config-home/mpv/input.conf
  profiles/desktop/xdg-config-home/mpv/mpv.conf
Due: shellharden, shellcheck, shfmt, biome

feat: add agent skills
  .gitmodules
  profiles/common/home/.agents/skills/ffmpeg-skill
  profiles/common/home/.agents/skills/show-me
Due: none

nyx: 2026-09-12T09:29:44+09:00
  profiles/common/xdg-config-home/opencode/opencode.jsonc
  profiles/common/xdg-config-home/zsh/modules/systemd/init.zsh
  profiles/common/xdg-data-home/navi/cheats/flac.cheat
Due: biome

feat(code-agents): disclose AI assistance in git-commit skill
  profiles/common/home/.agents/skills/git-commit
  profiles/common/home/.agents/skills/git-commit/LICENSE.md
  profiles/common/home/.agents/skills/git-commit/SKILL.md
Due: markdownlint

nyx: 2026-09-13T14:37:29+09:00
  profiles/common/xdg-config-home/nvim/lua/plugins/extends/ai.codecompanion.lua
Due: none

docs(opencode): delegate commit format to git-commit skill
  profiles/common/xdg-config-home/opencode/AGENTS.md
Due: markdownlint

refactor(code-agents): share AGENTS.md between opencode and codex
  profiles/common/home/.agents/AGENTS.md
  profiles/common/xdg-config-home/codex/AGENTS.md
  profiles/common/xdg-config-home/opencode/AGENTS.md
Due: markdownlint

nyx: 2026-09-13T21:06:26+09:00
  profiles/common/home/.agents/skills/create-readme
  profiles/common/home/.agents/skills/github-actions-efficiency
  profiles/common/home/.agents/skills/github-actions-hardening
  profiles/common/home/.agents/skills/github-actions-runtime-upgrade-conventions
  profiles/common/xdg-config-home/opencode/opencode.jsonc
Due: biome

nyx: 2026-09-14T23:51:16+09:00
  profiles/common/xdg-config-home/cheat/cheatsheets/personal/lobehub
  profiles/common/xdg-config-home/opencode/opencode.jsonc
Due: biome

nyx: 2026-09-16T14:20:47+09:00
  profiles/common/home/.agents/skills/git-commit/SKILL.md
  profiles/common/xdg-config-home/cheat/cheatsheets/personal/lobechat
  profiles/common/xdg-config-home/cheat/cheatsheets/personal/lobehub
Due: markdownlint

nyx: 2026-09-16T14:30:50+09:00
  profiles/common/home/.agents/AGENTS.md
Due: markdownlint

nyx: 2026-09-17T22:04:15+09:00
  profiles/common/home_.ssh/config
  profiles/common/xdg-config-home/opencode/cli.json
  profiles/common/xdg-config-home/opencode/opencode.jsonc
  profiles/common/xdg-config-home/zsh/modules/opencode/init.zsh
Due: biome

ci: exclude git submodules and KDE-managed files from typos
  typos.toml
Due: taplo

docs(code-agents): omit provider prefix from Assisted-by model identifier
  profiles/common/home/.agents/AGENTS.md
  profiles/common/home/.agents/skills/git-commit/SKILL.md
Due: markdownlint

feat: migrate opencode to v2
  profiles/common/xdg-config-home/opencode/README.md
  profiles/common/xdg-config-home/opencode/cli.jsonc
  profiles/common/xdg-config-home/opencode/justfile
  profiles/common/xdg-config-home/opencode/opencode.jsonc
  profiles/common/xdg-config-home/opencode/tui.jsonc
Due: just-fmt, biome, markdownlint

nyx: 2026-09-18T10:17:58+09:00
  profiles/common/xdg-config-home/opencode/cli.json
  profiles/common/xdg-config-home/opencode/cli.jsonc
  profiles/common/xdg-config-home/zsh/modules/opencode/init.zsh
Due: biome

feat: replace source clip template with paper clipping design
  profiles/common/home/.agents/skills/link-html-clipper/SKILL.md
  profiles/common/home/.agents/skills/link-html-clipper/assets/obsidian-source-clip-template.html
Due: markdownlint

fix: restore dark-mode body background in clip template
  profiles/common/home/.agents/skills/link-html-clipper/assets/obsidian-source-clip-template.html
Due: none

feat: adopt paper clipping design for researched note template
  profiles/common/home/.agents/skills/researched-html-note/SKILL.md
  profiles/common/home/.agents/skills/researched-html-note/assets/researched-note-template.html
Due: markdownlint

docs(code-agents): write Assisted-by trailer without angle brackets
  profiles/common/home/.agents/AGENTS.md
  profiles/common/home/.agents/skills/git-commit/SKILL.md
Due: markdownlint

feat(desktop-kde): use firefox as default browser
  profiles/desktop-kde/install.d/configure-mimeapps.list.sh
Due: shellharden, shellcheck, shfmt

nyx: 2026-09-18T11:17:10+09:00
  profiles/common/home/.agents/skills/frontend-design
Due: none

nyx: 2026-09-18T15:19:54+09:00
  profiles/common/xdg-config-home/opencode/cli.jsonc
  profiles/common/xdg-config-home/opencode/opencode.jsonc
  profiles/desktop-kde/xdg-config-home/fontconfig/conf.d/10-generic.conf
Due: biome

fix(zsh): adapt git-commit-llm to opencode v2 CLI
  profiles/common/xdg-config-home/zsh/modules/git/functions/git-commit-llm
Due: none

nyx: 2026-09-19T00:14:07+09:00
  profiles/common/xdg-config-home/opencode/opencode.jsonc
  profiles/common/xdg-data-home/navi/cheats/fontconfig.cheat
  profiles/common/xdg-data-home/navi/cheats/systemd/systemctl.cheat
  profiles/desktop-kde/install.d/apply-kde-config.sh
  profiles/desktop-kde/xdg-config-home/fontconfig/conf.d/00-reject.conf
  profiles/desktop-kde/xdg-config-home/fontconfig/conf.d/10-generic.conf
Due: shellharden, shellcheck, shfmt, biome

nyx: 2026-09-19T21:07:58+09:00
  .gitmodules
  profiles/common/home/.agents/skills/i-have-adhd
  profiles/common/home/.agents/skills/karpathy-guidelines
  profiles/common/home/.agents/skills/security-audit
  profiles/common/home_.ssh/config
  profiles/common/xdg-config-home/codex/.gitignore
Due: none

fix: fall back to branch update for tagless submodules
  lib/update-submodules.sh
Due: shellharden, shellcheck, shfmt

feat(code-agents): always load i-have-adhd and karpathy-guidelines skills
  profiles/common/home/.agents/AGENTS.md
Due: markdownlint

nyx: 2026-09-20T15:51:09+09:00
  profiles/common/xdg-data-home/navi/cheats/gh.cheat
Due: none

nyx: 2026-09-21T17:11:38+09:00
  profiles/common/home/.omp/.gitignore
  profiles/common/home/.omp/agent/AGENTS.md
  profiles/common/home/.omp/agent/config.yml
  profiles/desktop-kde/xdg-config-home/fontconfig/conf.d/10-generic.conf
  profiles/desktop-kde/xdg-config-home/fontconfig/conf.d/11-generic-css.conf
Due: yamlfix, markdownlint

nyx: 2026-09-22T23:27:22+09:00
  profiles/common/home/.omp/.gitignore
  profiles/common/home/.omp/agent/config.yml
  profiles/common/xdg-config-home/zsh/.zimrc
  profiles/common/xdg-config-home/zsh/modules/pnpm/init.zsh
Due: yamlfix

docs: embed agent operating guidelines
  profiles/common/home/.agents/AGENTS.md
  profiles/common/home/.agents/skills/i-have-adhd
  profiles/common/home/.agents/skills/karpathy-guidelines
  profiles/common/home/.omp/agent/config.yml
Due: yamlfix, markdownlint

Path conditions:
  shellharden: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shellcheck: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shfmt: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  just-fmt: any of: (^|/)(\.)?justfile$, but not: (?x)^(
  .*/lazy-lock.json
)$

  yamlfix: any of: \.(yaml|yml)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  taplo: any of: \.toml$, but not: (?x)^(
  .*/lazy-lock.json
)$

  biome: any of: \.(json|jsonc)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  markdownlint: any of: \.(md|markdown|mdown)$, but not: (?x)^(
  .*/lazy-lock.json
)$

