Repository hnjae/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellharden, shellcheck, shfmt, just-fmt, yamlfix, taplo, biome, markdownlint

shellharden:
  name: harden shell
  entry: shellharden --replace
  language: system

shellcheck:
  name: check shell
  entry: shellcheck
  language: system

shfmt:
  name: format shell
  entry: shfmt --indent 2 --simplify --write
  language: system

just-fmt:
  name: format just
  entry: bash -c 'just --fmt --unstable --justfile "$1"' --
  language: system

yamlfix:
  name: format yaml
  entry: yamlfix
  language: system

taplo:
  name: format toml
  entry: taplo format
  language: system

biome:
  name: format json(c)
  entry: biome format --write
  language: system

markdownlint:
  name: format markdown
  entry: markdownlint-cli2 --fix
  language: system

isis: 2026-01-11T16:19:44+09:00
  profiles/00-default/xdg-config/cheat/cheatsheets/personal/ghostty
  profiles/00-default/xdg-config/cheat/cheatsheets/personal/wezterm
  profiles/00-default/xdg-config/wezterm/colors/_base24.toml
  profiles/00-default/xdg-data/navi/cheats/caffeine-sleep-suspend.cheat
  profiles/40-linux-desktop/xdg-config/btop/btop.conf
Due: taplo

feat: add Claude configuration files
  profiles/00-default/home/.claude/.gitignore
  profiles/00-default/home/.claude/README.md
  profiles/00-default/home/.claude/settings.json
Due: biome, markdownlint

isis: 2026-01-11T17:08:49+09:00
  .editorconfig
  profiles/00-default/home/.claude/.gitignore
  profiles/00-default/home/.claude/settings.json
  profiles/00-default/xdg-config/nvim/snippets/snippets/editorconfig-2.json
Due: biome

isis: 2026-01-11T19:43:12+09:00
  profiles/00-default/home/.claude/settings.json
  profiles/00-default/xdg-config/nvim/snippets/snippets/just-2.json
  profiles/00-default/xdg-data/navi/cheats/uv.cheat
Due: biome

isis: 2026-01-12T00:15:25+09:00
  profiles/00-default/xdg-data/navi/cheats/fontconfig.cheat
  profiles/00-default/xdg-data/navi/cheats/wezterm.cheat
  profiles/40-linux-desktop/xdg-config/fontconfig/README.md
  profiles/40-linux-desktop/xdg-config/fontconfig/conf.d/10-generic.conf
Due: markdownlint

feat(wezterm): various updates
  profiles/00-default/xdg-config/wezterm/fonts.lua
  profiles/00-default/xdg-config/wezterm/refrences/colorscheme-example.toml
  profiles/00-default/xdg-config/wezterm/refrences/default-tabbar-color.lua
  profiles/00-default/xdg-config/wezterm/refrences/ui.lua
  profiles/00-default/xdg-config/wezterm/refrences/wezterm-inactive-pane-styling.md
  profiles/00-default/xdg-config/wezterm/refrences/wezterm-lua-api-reference.md
  profiles/00-default/xdg-config/wezterm/refrences/wezterm-pane-api-reference.md
  profiles/00-default/xdg-config/wezterm/tabline.lua
  profiles/00-default/xdg-config/wezterm/ui.lua
  profiles/00-default/xdg-config/wezterm/wezterm.lua
Due: taplo, markdownlint

isis: 2026-01-12T15:45:02+09:00
  profiles/00-default/xdg-config/zsh/.zimrc
  profiles/00-default/xdg-config/zsh/.zshenv
  profiles/00-default/xdg-config/zsh/.zshrc
  profiles/00-default/xdg-config/zsh/README.md
  profiles/00-default/xdg-config/zsh/my-podman/init.zsh
  profiles/00-default/xdg-config/zsh/my-wezterm/init.zsh
  profiles/00-default/xdg-config/zsh/my-zimfw/init.zsh
  profiles/00-default/xdg-data/navi/cheats/git.cheat
  profiles/40-kde/xdg-config/kglobalshortcutsrc
Due: markdownlint

isis: 2026-01-12T17:25:48+09:00
  justfile
  profiles/00-default/home/.claude/.gitignore
  profiles/00-default/xdg-data/navi/cheats/hyperfine.cheat
Due: just-fmt

isis: 2026-01-12T22:51:20+09:00
  profiles/00-default/xdg-config/nvim/_not-in-use/cheatsheet.lua
  profiles/00-default/xdg-config/nvim/_todo/nvim-lint-cwd-guide.md
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/python.formatting.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/python.linting.none-ls.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/python.lsp.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/python.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/zsh.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/lsp.mason.lua
  profiles/40-kde/xdg-config/kglobalshortcutsrc
Due: markdownlint

isis: 2026-01-13T01:20:43+09:00
  ansible/tasks/components/flatpak/apps/_not-in-use/z-image-viewer.yaml
  ansible/tasks/components/flatpak/apps/z-remove-apps.yaml
  profiles/40-kde/xdg-config/dolphinrc
  profiles/40-linux-desktop/xdg-config/fcitx5/conf/notifications.conf
Due: yamlfix

isis: 2026-01-13T14:43:32+09:00
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/_.lazy-nvim.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/lsp.mason.lua
  profiles/40-kde/xdg-config/dolphinrc
Due: none

isis: 2026-01-13T17:39:16+09:00
  profiles/00-default/xdg-config/nvim/_todo/nvim-lint-cwd-guide.md
  profiles/00-default/xdg-config/nvim/lazy-lock.json
  profiles/00-default/xdg-config/nvim/lazyvim.json
  profiles/00-default/xdg-config/nvim/lua/config/options/setups/lazyvim.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/_not-in-use/lua.linting.nvim-lint.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/_not-in-use/typst.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/lua.formatting.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/lua.linting.none-ls.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/lua.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/python.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/sh.formatting.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/sh.linting.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/sh.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/_.lazy-nvim.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/visual/ui.lualine.nvim-lint.lua
  profiles/00-default/xdg-config/nvim/vim.toml
  profiles/00-default/xdg-config/wezterm/tabline.lua
Due: taplo, biome, markdownlint

chore: move fcitx5 worktree skip to direnv config
  .envrc
  justfile
Due: shellharden, shellcheck, shfmt, just-fmt

isis: 2026-01-13T17:58:53+09:00
  justfile
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/beancount.lua
Due: just-fmt

isis: 2026-01-13T20:25:56+09:00
  profiles/00-default/home/.claude/settings.json
  profiles/00-default/xdg-config/nvim/lazy-lock.json
  profiles/00-default/xdg-config/nvim/lazyvim.json
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/_not-in-use/ai.copilot-own.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/_not-in-use/ai.copilot.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/ai.copilot.lua
  profiles/40-kde/xdg-config/plasmanotifyrc
Due: biome

isis: 2026-01-13T22:23:59+09:00
  profiles/00-default/xdg-config/nvim/lazy-lock.json
  profiles/00-default/xdg-config/nvim/lazyvim.json
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/_not-in-use/ai.copilot-own.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/_not-in-use/ai.copilot.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/_not-in-use/ai.copilot.mine.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/ai.copilot.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/visual/ui.lualine.conform.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/visual/ui.lualine.lua
  profiles/00-default/xdg-config/wezterm/fonts.lua
Due: biome

isis: 2026-01-13T22:28:12+09:00
  profiles/40-linux-desktop/xdg-config/xdg-terminals.list
Due: none

isis: 2026-01-13T22:31:54+09:00
  install.sh
  justfile
Due: shellharden, shellcheck, shfmt, just-fmt

isis: 2026-01-13T23:38:23+09:00
  profiles/00-default/xdg-config/nvim/lazy-lock.json
  profiles/00-default/xdg-config/nvim/lazyvim.json
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/coding.luasnip.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/visual/ui.lualine.lua
  profiles/00-default/xdg-config/nvim/snippets/snippets/nix-2/_.json
Due: biome

feat: add zoxide cleanup script
  .lib/clean-zoxide.sh
Due: shellharden, shellcheck, shfmt

feat(kde): add more kde-related configs to dotfiles
  profiles/40-kde/xdg-config/emaildefaults
  profiles/40-kde/xdg-config/kde.org/UserFeedback.org.kde.systemsettings.conf
  profiles/40-kde/xdg-config/konsave/conf.yaml
  profiles/40-kde/xdg-config/plasmaparc
Due: yamlfix

isis: 2026-01-14T17:53:36+09:00
  profiles/00-default/home/.claude/.gitignore
  profiles/00-default/home/.claude/settings.json
  profiles/00-default/home/.profile
  profiles/40-kde/xdg-config/konsolerc
  profiles/40-kde/xdg-data/konsole/bash.profile
  profiles/40-kde/xdg-data/konsole/zsh.profile
Due: biome

isis: 2026-01-14T18:13:18+09:00
  profiles/00-default/xdg-config/ghostty/config
  profiles/00-default/xdg-config/opencode/opencode.json
  profiles/40-linux-desktop/xdg-config/fcitx5/conf/classicui.conf
  profiles/40-linux-desktop/xdg-config/fcitx5/conf/waylandim.conf
  profiles/40-linux-desktop/xdg-config/fcitx5/config
Due: biome

isis: 2026-01-14T18:15:09+09:00
  profiles/00-default/home/.gemini/.gitignore
  profiles/00-default/home/.gemini/settings.json
Due: biome

isis: 2026-01-14T20:12:50+09:00
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/_not-in-use/ai.copilot-chat.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/_not-in-use/ai.copilot.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/_not-in-use/ai.copilot.mine.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/_not-in-use/editor.fzf-lua.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/_not-in-use/editor.picker.override-keymaps.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/_not-in-use/extras.coding.blink.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/_not-in-use/extras.coding.luasnip.blink.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/_not-in-use/extras.coding.snippets.cmp.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/_not-in-use/util.snacks.terminal.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/ai.sidekick.lua
  profiles/00-default/xdg-config/nvim/lua/sidekick/mywezterm.lua
Due: none

isis: 2026-01-14T20:33:19+09:00
  .lib/nvim-plugin-restore.sh
  .lib/nvim-plugin-sync.sh
  justfile
  profiles/00-default/xdg-config/nvim/lazy-lock.json
Due: shellharden, shellcheck, shfmt, just-fmt

build(nvim): update lazy-lock.json
  profiles/00-default/xdg-config/nvim/lazy-lock.json
Due: none

feat(ansible): replace nvim lazy commands with plugin restore script
  ansible/tasks/components/various/init-or-sync-lazy-nvim.yaml
Due: yamlfix

isis: 2026-01-14T20:50:30+09:00
  profiles/00-default/xdg-config/ghostty/config
  profiles/00-default/xdg-config/wezterm/wezterm.lua
  profiles/00-default/xdg-config/zsh/my-wezterm/init.zsh
Due: none

isis: 2026-01-15T17:59:51+09:00
  .envrc
  profiles/00-default/xdg-config/joshuto/joshuto.toml
  profiles/00-default/xdg-config/nvim/lazy-lock.json
  profiles/00-default/xdg-config/nvim/lazyvim.json
  profiles/00-default/xdg-config/starship.toml
  profiles/00-default/xdg-config/wezterm/wezterm.lua
  profiles/40-kde/xdg-config/kglobalshortcutsrc
  profiles/40-kde/xdg-config/krunnerrc
Due: shellharden, shellcheck, shfmt, taplo, biome

isis: 2026-01-15T18:29:59+09:00
  ansible/tasks/components/_not-in-use/remove-associations.yaml
  ansible/tasks/components/default-app/remove-associations-brave.yaml
  ansible/tasks/components/default-app/remove-associations-chrome.yaml
  ansible/tasks/components/flatpak/apps/_not-in-use/google-chrome.yaml
  ansible/tasks/components/flatpak/apps/z-remove-apps.yaml
Due: yamlfix

osiris: 2026-01-15T18:45:23+09:00
  profiles/00-default/xdg-config/zsh/my-systemd/init.zsh
  profiles/00-default/xdg-data/navi/cheats/linux-utilities/btrfs.cheat
Due: none

isis: 2026-01-16T16:22:14+09:00
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/_conditional.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/z.lazy-nvim.lua
Due: none

isis: 2026-01-16T16:02:55+09:00
  profiles/40-kde/xdg-config/kglobalshortcutsrc
Due: none

osiris: 2026-01-15T19:26:37+09:00
  profiles/40-kde/xdg-config/kglobalshortcutsrc
Due: none

osiris: 2026-01-16T21:07:52+09:00
  profiles/40-kde/xdg-config/dolphinrc
  profiles/40-kde/xdg-config/plasmanotifyrc
  profiles/40-linux-desktop/xdg-config/fcitx5/conf/notifications.conf
Due: none

isis: 2026-01-17T16:57:04+09:00
  profiles/00-default/home/.gemini/.gitignore
  profiles/40-kde/xdg-config/kglobalshortcutsrc
Due: none

feat(zsh): update journalctl aliases
  profiles/00-default/xdg-config/zsh/my-systemd/init.zsh
Due: none

feat(claude): add global git and commit guidelines
  profiles/00-default/home/.claude/CLAUDE.md
  profiles/00-default/home/.claude/settings.json
Due: biome, markdownlint

feat(nvim): change snacks explorer to open parent directory
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/editor.snacks.explorer.lua
Due: none

Path conditions:
  shellharden: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shellcheck: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shfmt: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  just-fmt: any of: (^|/)(\.)?justfile$, but not: (?x)^(
  .*/lazy-lock.json
)$

  yamlfix: any of: \.(yaml|yml)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  taplo: any of: \.toml$, but not: (?x)^(
  .*/lazy-lock.json
)$

  biome: any of: \.(json|jsonc)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  markdownlint: any of: \.(md|markdown|mdown)$, but not: (?x)^(
  .*/lazy-lock.json
)$

