Repository hnjae/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellharden, shellcheck, shfmt, just-fmt, yamlfix, taplo, biome, markdownlint

shellharden:
  name: harden shell
  entry: shellharden --replace
  language: system

shellcheck:
  name: check shell
  entry: shellcheck
  language: system

shfmt:
  name: format shell
  entry: shfmt --indent 2 --simplify --write
  language: system

just-fmt:
  name: format just
  entry: bash -c 'just --fmt --unstable --justfile "$1"' --
  language: system

yamlfix:
  name: format yaml
  entry: yamlfix
  language: system

taplo:
  name: format toml
  entry: taplo format
  language: system

biome:
  name: format json(c)
  entry: biome format --write
  language: system

markdownlint:
  name: format markdown
  entry: markdownlint-cli2 --fix
  language: system

build(nvim): update lazy-lock.json
  profiles/00-default/xdg-config/nvim/lazy-lock.json
Due: none

refactor(nvim): replace deprecated LSP keymaps require
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/keymaps.lsp.lua
Due: none

chore(nvim): add pre-commit config for lua formatting
  profiles/00-default/xdg-config/nvim/.pre-commit-config.yaml
Due: yamlfix

chore(nvim): add editorconfig for lua formatting
  profiles/00-default/xdg-config/nvim/.editorconfig
Due: none

style: change shell indent size from 2 to 4
  .editorconfig
  .pre-commit-config.yaml
  ansible/run.sh
  install.sh
  profiles/00-default/xdg-config/zsh/_not-in-use/my-alacritty/init.zsh
  profiles/00-default/xdg-config/zsh/_not-in-use/my-duf/init.zsh
  profiles/00-default/xdg-config/zsh/_not-in-use/my-lf/init.zsh
  profiles/00-default/xdg-config/zsh/_not-in-use/my-omp/init.zsh
  profiles/00-default/xdg-config/zsh/_not-in-use/my-p10k-instant-prompt/init.zsh
  profiles/00-default/xdg-config/zsh/_not-in-use/my-yazi/init.zsh
  profiles/00-default/xdg-config/zsh/my-bat/init.zsh
  profiles/00-default/xdg-config/zsh/my-cheat/init.zsh
  profiles/00-default/xdg-config/zsh/my-eza/init.zsh
  profiles/00-default/xdg-config/zsh/my-flatpak/init.zsh
  profiles/00-default/xdg-config/zsh/my-fzf/init.zsh
  profiles/00-default/xdg-config/zsh/my-git/init.zsh
  profiles/00-default/xdg-config/zsh/my-home/init.zsh
  profiles/00-default/xdg-config/zsh/my-joshuto/init.zsh
  profiles/00-default/xdg-config/zsh/my-jq/init.zsh
  profiles/00-default/xdg-config/zsh/my-mani/init.zsh
  profiles/00-default/xdg-config/zsh/my-navi/init.zsh
  profiles/00-default/xdg-config/zsh/my-nix/init.zsh
  profiles/00-default/xdg-config/zsh/my-podman/init.zsh
  profiles/00-default/xdg-config/zsh/my-pueue/init.zsh
  profiles/00-default/xdg-config/zsh/my-rsync/init.zsh
  profiles/00-default/xdg-config/zsh/my-starship/init.zsh
  profiles/00-default/xdg-config/zsh/my-systemd/init.zsh
  profiles/00-default/xdg-config/zsh/my-tmux/init.zsh
  profiles/00-default/xdg-config/zsh/my-utilities/init.zsh
  profiles/00-default/xdg-config/zsh/my-zoxide/init.zsh
  update-submodules.sh
Due: shellharden, shellcheck, shfmt, yamlfix

style(nvim): run formatter
  profiles/00-default/xdg-config/nvim/lua/_base24.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/extends/_not-in-use/debug.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/extends/editor.diffview.lua
Due: none

feat(nvim): change default shell indent from 2 to 4 spaces
  profiles/00-default/xdg-config/nvim/ftplugin/sh.lua
Due: none

feat(ansible): update video/ogg and other video type association
  ansible/tasks/components/default-app/video-player.yaml
  ansible/tasks/components/flatpak/apps/home-kid3.yaml
  ansible/tasks/components/flatpak/apps/home-picard.yaml
Due: yamlfix

feat(ansible): remove various mime type associations from google-chrome
  ansible/tasks/components/flatpak/apps/google-chrome.yaml
  ansible/tasks/components/flatpak/apps/z-various-apps.yaml
Due: yamlfix

feat(nvim): disable copilot
  profiles/00-default/xdg-config/nvim/lazyvim.json
Due: biome

chore: update pre-commit and formatter config
  .pre-commit-config.yaml
  biome.json
  profiles/00-default/xdg-config/joshuto/.pre-commit-config.yaml
Due: yamlfix, biome

feat(update-submodules): clean local changes before updating
  update-submodules.sh
Due: shellharden, shellcheck, shfmt

chore(wezterm): add pre-commit hook
  profiles/00-default/xdg-config/wezterm/.pre-commit-config.yaml
Due: yamlfix

chore(alacritty): add pre-commit config
  profiles/00-default/xdg-config/alacritty/.pre-commit-config.yaml
Due: yamlfix

feat(ghostty): simplify split navigation keybinds and add tab movement
  profiles/00-default/xdg-config/ghostty/config
Due: none

feat(zsh): replace termtitle with custom implementation
  profiles/00-default/xdg-config/tmux/tmux.conf
  profiles/00-default/xdg-config/zsh/.typos.toml
  profiles/00-default/xdg-config/zsh/.zimrc
  profiles/00-default/xdg-config/zsh/_not-in-use/my-alacritty/init.zsh
  profiles/00-default/xdg-config/zsh/my-termtitle/init.zsh
Due: taplo

osiris: 2026-01-05T20:06:52+09:00
  profiles/00-default/xdg-config/nvim/shell.nix
  profiles/40-kde/xdg-config/kglobalshortcutsrc
  profiles/40-kde/xdg-config/konsolerc
  profiles/40-kde/xdg-config/ksplashrc
Due: none

chore: add tinted-builder-rust derivation and update justfile build script
  .lib/tinted-builder-rust/bin/tinted-builder-rust
  .lib/tinted-builder-rust/default.nix
  .lib/tinted-builder-rust/derivation.nix
  justfile
Due: just-fmt

feat(base24): update some schemes and templates for base24 0.1.2 spec
  .lib/print-term-colors.sh
  justfile
  profiles/00-default/xdg-config/alacritty/_base24.toml
  profiles/00-default/xdg-config/ghostty/themes/_base24
  profiles/00-default/xdg-config/tinted-theming/my-schemes/base24/my-kanagawa-dragon.yaml
  profiles/00-default/xdg-config/tinted-theming/my-schemes/base24/my-kanagawa-wave.yaml
  profiles/00-default/xdg-config/tinted-theming/my-templates/tinted-alacritty/templates/default.mustache
  profiles/00-default/xdg-config/tinted-theming/my-templates/tinted-ghostty/templates/default.mustache
  profiles/00-default/xdg-config/tinted-theming/my-templates/tinted-wezterm/templates/default.mustache
  profiles/00-default/xdg-config/tinted-theming/tinty/config.toml
  profiles/00-default/xdg-config/wezterm/colors/_base24.toml
  profiles/40-kde/xdg-data/konsole/_base24.colorscheme
Due: shellharden, shellcheck, shfmt, just-fmt, yamlfix, taplo

feat(wezterm): various wezterm config updates
  profiles/00-default/xdg-config/wezterm/.editorconfig
  profiles/00-default/xdg-config/wezterm/stylua.toml
  profiles/00-default/xdg-config/wezterm/ui.lua
  profiles/00-default/xdg-config/wezterm/wezterm.lua
Due: taplo

fix: resolve submodule version update failure in update-submodules.sh
  .lib/update-submodules.sh
  justfile
Due: shellharden, shellcheck, shfmt, just-fmt

style(zsh): set indent=4
  profiles/00-default/xdg-config/zsh/.zshrc
Due: none

osiris: 2026-01-06T16:56:46+09:00
  profiles/00-default/xdg-config/tinted-theming/my-templates/tinted-wezterm/templates/default.mustache
  profiles/00-default/xdg-config/wezterm/colors/_base24.toml
  profiles/00-default/xdg-config/wezterm/ui.lua
  profiles/00-default/xdg-config/wezterm/wezterm.lua
  profiles/00-default/xdg-data/navi/cheats/nix-channel.cheat
Due: taplo

osiris: 2026-01-06T22:27:32+09:00
  ansible/tasks/components/flatpak/apps/z-remove-apps.yaml
  profiles/00-default/xdg-data/navi/cheats/linux-utilities/mkfs.btrfs.cheat
  profiles/00-default/xdg-data/navi/cheats/linux-utilities/zfs.cheat
Due: yamlfix

osiris: 2026-01-06T23:52:16+09:00
  .editorconfig
  .pre-commit-config.yaml
  biome.json
Due: yamlfix, biome

refactor: improve shell script consistency
  .lib/update-submodules.sh
  ansible/run.sh
  install.sh
Due: shellharden, shellcheck, shfmt

osiris: 2026-01-10T02:25:29+09:00
  ansible/files/seafile-ignore.txt
  profiles/00-default/xdg-config/ruff/pyproject.toml
  profiles/00-default/xdg-config/ruff/pyproject.toml.backup
  profiles/00-default/xdg-data/navi/cheats/ruff.cheat
Due: taplo

osiris: 2026-01-10T14:28:51+09:00
  profiles/00-default/xdg-data/navi/cheats/btrfs-send-receive.cheat
  profiles/00-default/xdg-data/navi/cheats/git-init.cheat
  profiles/00-default/xdg-data/navi/cheats/linux-utilities/btrfs.cheat
Due: none

isis: 2026-01-10T17:01:30+09:00
  profiles/00-default/xdg-data/navi/cheats/git.cheat
  profiles/40-kde/xdg-config/kglobalshortcutsrc
Due: none

feat(nvim): remove custom toggleterm config
  profiles/00-default/xdg-config/nvim/lua/plugins/replacements/_not-in-use/util.toggleterm.lua
Due: none

isis: 2026-01-10T20:12:01+09:00
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/editor.snacks.explorer.lua
  profiles/00-default/xdg-config/nvim/snippets/snippets/nix-2/lib.attrsets.json
  profiles/00-default/xdg-data/navi/cheats/nix/repl.cheat
Due: biome

isis: 2026-01-10T21:10:48+09:00
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/editor.snacks.explorer.lua
Due: none

isis: 2026-01-10T23:17:33+09:00
  profiles/00-default/xdg-config/zsh/my-git/init.zsh
  profiles/00-default/xdg-config/zsh/my-zimfw/init.zsh
Due: none

isis: 2026-01-10T23:27:16+09:00
  profiles/00-default/xdg-config/nvim/.pre-commit-config.yaml
  profiles/00-default/xdg-config/nvim/_not-in-use/cheatsheet.lua
  profiles/00-default/xdg-config/nvim/lua/config/autocmds/_testing/lsp-attach-test.lua
  profiles/00-default/xdg-config/nvim/lua/config/keymaps/setups/markdowns-headings.lua
  profiles/00-default/xdg-config/nvim/lua/config/options/setups/options-background.lua
  profiles/00-default/xdg-config/nvim/selene.toml
  profiles/00-default/xdg-config/nvim/vim.toml
Due: yamlfix, taplo

isis: 2026-01-10T23:38:03+09:00
  .editorconfig
  .pre-commit-config.yaml
Due: yamlfix

isis: 2026-01-10T23:55:27+09:00
  profiles/00-default/xdg-config/wezterm/fonts.lua
  profiles/00-default/xdg-config/wezterm/wezterm.lua
Due: none

isis: 2026-01-11T00:20:30+09:00
  profiles/00-default/xdg-config/ghostty/config
  profiles/00-default/xdg-config/wezterm/wezterm.lua
Due: none

Path conditions:
  shellharden: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shellcheck: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shfmt: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  just-fmt: any of: (^|/)(\.)?justfile$, but not: (?x)^(
  .*/lazy-lock.json
)$

  yamlfix: any of: \.(yaml|yml)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  taplo: any of: \.toml$, but not: (?x)^(
  .*/lazy-lock.json
)$

  biome: any of: \.(json|jsonc)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  markdownlint: any of: \.(md|markdown|mdown)$, but not: (?x)^(
  .*/lazy-lock.json
)$

