Repository hnjae/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellharden, shellcheck, shfmt, just-fmt, yamlfix, taplo, biome, markdownlint

shellharden:
  name: harden shell
  entry: shellharden --replace
  language: system

shellcheck:
  name: check shell
  entry: shellcheck
  language: system

shfmt:
  name: format shell
  entry: shfmt --indent 2 --simplify --write
  language: system

just-fmt:
  name: format just
  entry: bash -c 'just --fmt --unstable --justfile "$1"' --
  language: system

yamlfix:
  name: format yaml
  entry: yamlfix
  language: system

taplo:
  name: format toml
  entry: taplo format
  language: system

biome:
  name: format json(c)
  entry: biome format --write
  language: system

markdownlint:
  name: format markdown
  entry: markdownlint-cli2 --fix
  language: system

chore: add prek install to envrc setup
  .envrc
Due: shellharden, shellcheck, shfmt

isis: 2026-01-17T18:38:43+09:00
  profiles/00-default/home/.claude/.gitignore
  profiles/40-kde/xdg-config/plasmanotifyrc
  profiles/40-linux-desktop/xdg-config/fcitx5/conf/notifications.conf
Due: none

osiris: 2026-01-17T20:50:02+09:00
  profiles/00-default/home/.claude/settings.json
  profiles/00-default/xdg-config/ruff/pyproject.toml
Due: taplo, biome

osiris: 2026-01-18T02:41:58+09:00
  ansible/tasks/components/flatpak/apps/z-image-viewer.yaml
  profiles/00-default/home/.claude/settings.json
Due: yamlfix, biome

osiris: 2026-01-18T03:18:39+09:00
  profiles/00-default/xdg-config/ruff/pyproject.toml
Due: taplo

osiris: 2026-01-18T14:34:32+09:00
  profiles/00-default/home/.claude/.gitignore
  profiles/00-default/home/.claude/settings.json
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/python.lua
Due: biome

osiris: 2026-01-18T23:45:18+09:00
  profiles/00-default/home/.claude/settings.json
  profiles/00-default/xdg-config/qalculate/qalc.cfg
  profiles/00-default/xdg-data/navi/cheats/linux-utilities/hdparm.cheat
  profiles/00-default/xdg-data/navi/cheats/linux-utilities/mkfs.btrfs.cheat
  profiles/00-default/xdg-data/navi/cheats/rsync.cheat
  profiles/40-kde/xdg-config/kglobalshortcutsrc
Due: biome

osiris: 2026-01-19T00:48:30+09:00
  profiles/00-default/xdg-data/navi/cheats/linux/udev.cheat
Due: none

osiris: 2026-01-20T04:50:39+09:00
  profiles/00-default/xdg-config/nvim/snippets/snippets/python/python-2.json
  profiles/00-default/xdg-config/opencode/opencode.json
  profiles/00-default/xdg-config/ruff/pyproject.toml
  profiles/00-default/xdg-data/navi/cheats/linux/udev.cheat
Due: taplo, biome

osiris: 2026-01-20T18:11:53+09:00
  profiles/00-default/home/.profile
  profiles/00-default/xdg-config/joshuto/joshuto.toml
  profiles/40-kde/xdg-config/kglobalshortcutsrc
  profiles/40-linux-desktop/xdg-config/btop/btop.conf
Due: taplo

isis: 2026-01-20T20:35:25+09:00
  README.md
Due: markdownlint

osiris: 2026-01-20T20:59:52+09:00
  profiles/00-default/home/.claude/.gitignore
  profiles/00-default/home/.claude/settings.json
  profiles/00-default/xdg-config/opencode/oh-my-opencode.json
  profiles/00-default/xdg-config/opencode/opencode.json
Due: biome

osiris: 2026-01-20T23:19:32+09:00
  profiles/00-default/xdg-config/opencode/oh-my-opencode.json
  profiles/00-default/xdg-config/opencode/opencode.json
  profiles/00-default/xdg-config/zsh/.zshrc
Due: biome

osiris: 2026-01-21T10:00:29+09:00
  profiles/00-default/xdg-config/opencode/oh-my-opencode.json
Due: biome

osiris: 2026-01-22T14:19:20+09:00
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/yaml.formatting.lua
  profiles/00-default/xdg-config/opencode/oh-my-opencode.json
Due: biome

feat(starship): enable hostname, username on remote connection
  profiles/00-default/xdg-config/starship.toml
Due: taplo

osiris: 2026-01-22T22:37:24+09:00
  my-llm-prompts/20260122-review-project.md
  profiles/00-default/home/.claude/settings.json
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/ai.sidekick.lua
  profiles/00-default/xdg-config/opencode/oh-my-opencode.json
  profiles/00-default/xdg-config/opencode/opencode.json_0
Due: biome, markdownlint

osiris: 2026-01-23T16:31:28+09:00
  my-llm-prompts/20260123-agent-refactor.md
  profiles/00-default/xdg-config/opencode/.gitignore
  profiles/00-default/xdg-config/opencode/oh-my-opencode.jsonc
  profiles/00-default/xdg-config/opencode/opencode.json_0
  profiles/00-default/xdg-config/opencode/opencode.jsonc
  profiles/00-default/xdg-data/navi/cheats/git.cheat
Due: biome, markdownlint

osiris: 2026-01-23T19:05:39+09:00
  my-llm-prompts/20260123-agent-refactor.md
  profiles/00-default/xdg-config/opencode/oh-my-opencode.jsonc
  profiles/00-default/xdg-config/opencode/oh-my-opencode.jsonc.bak.2026-01-23T07-46-27-808Z
Due: biome, markdownlint

osiris: 2026-01-23T20:39:08+09:00
  profiles/00-default/xdg-config/opencode/oh-my-opencode.jsonc
  profiles/00-default/xdg-config/opencode/opencode.jsonc
Due: biome

osiris: 2026-01-23T22:36:23+09:00
  profiles/00-default/xdg-config/nvim/lua/plugins/extends/util.gp.lua
  profiles/00-default/xdg-data/navi/cheats/git-merge.cheat
Due: none

isis: 2026-01-24T16:40:11+09:00
  profiles/00-default/install.conf.yaml
  profiles/00-default/xdg-config/opencode/oh-my-opencode.jsonc.bak.2026-01-23T07-46-27-808Z
  profiles/00-default/xdg-config/opencode/opencode-with-ohmyopencode.jsonc
  profiles/00-default/xdg-data/navi/cheats/linux/users.cheat
  profiles/00-default/xdg-data/navi/cheats/systemd/journalctl.cheat
  profiles/00-default/xdg-pin/opencode-ohmy
  profiles/80-home-desktop/Projects/mani.yaml
Due: yamlfix, biome

feat(opencode): add commit skill
  profiles/00-default/xdg-config/opencode/skills/git-commit/SKILL.md
Due: markdownlint

isis: 2026-01-24T20:05:17+09:00
  profiles/00-default/xdg-config/nvim/lua/plugins/extends/util.gp.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/gitcommit.gp.lua
  profiles/00-default/xdg-config/opencode/opencode.jsonc
Due: biome

osiris: 2026-01-24T22:26:08+09:00
  profiles/00-default/xdg-config/opencode/oh-my-opencode.jsonc
  profiles/00-default/xdg-config/opencode/opencode-bqasic.jsonc
  profiles/00-default/xdg-config/opencode/opencode-with-ohmyopencode.jsonc
Due: biome

osiris: 2026-01-25T00:00:34+09:00
  profiles/00-default/xdg-config/opencode/oh-my-opencode.jsonc
  profiles/00-default/xdg-config/opencode/opencode-oh-my.jsonc
  profiles/00-default/xdg-config/opencode/opencode.jsonc
Due: biome

osiris: 2026-01-25T22:47:07+09:00
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/json.linting.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/json.lua
  profiles/00-default/xdg-config/opencode/opencode.jsonc
  profiles/00-default/xdg-config/opencode/skills/commit/SKILL.md
  profiles/00-default/xdg-data/navi/cheats/linux-utilities/sd.cheat
Due: biome, markdownlint

osiris: 2026-01-26T01:59:21+09:00
  profiles/00-default/xdg-data/rsync-exclude
Due: none

osiris: 2026-01-26T02:52:27+09:00
  TODO.md
Due: markdownlint

hemera: 2026-01-26T02:54:28+09:00
  install.sh
Due: shellharden, shellcheck, shfmt

hemera: 2026-01-26T03:27:13+09:00
  profiles/00-default/xdg-config/cheat/cheatsheets/personal/lofree-flow-light
  profiles/00-default/xdg-config/zsh/my-home/init.zsh
  profiles/40-kde/xdg-config/breezerc
  profiles/40-kde/xdg-config/ktimezonedrc
Due: none

hemera: 2026-01-26T04:25:04+09:00
  profiles/40-kde/xdg-config/plasma_calendar_holiday_regions
  profiles/40-kde/xdg-config/powermanagementprofilesrc
Due: none

hemera: 2026-01-28T23:29:06+09:00
  profiles/00-default/xdg-data/navi/cheats/linux-utilities/cups.cheat
  profiles/80-home-desktop/Projects/mani.yaml
Due: yamlfix

hemera: 2026-02-01T20:07:58+09:00
  profiles/00-default/home/.claude/settings.json
  profiles/00-default/xdg-config/cheat/cheatsheets/personal/nix
  profiles/00-default/xdg-config/opencode/opencode.jsonc
  profiles/00-default/xdg-config/starship.toml
  profiles/00-default/xdg-data/navi/cheats/nix-shell.cheat
  profiles/00-default/xdg-data/navi/cheats/nix/shell.cheat
Due: taplo, biome

osiris: 2026-02-01T20:27:14+09:00
  profiles/80-home-desktop/Projects/mani.yaml
Due: yamlfix

osiris: 2026-02-14T17:32:12+09:00
  profiles/00-default/home/.claude/settings.json
  profiles/40-kde/xdg-config/dolphinrc
Due: biome

hemera: 2026-02-15T11:36:41+09:00
  profiles/00-default/home/.claude/.gitignore
  profiles/00-default/home/.claude/plugins/known_marketplaces.json
  profiles/00-default/xdg-config/nvim/lua/config/autocmds/setups/markdown-templates.lua
  profiles/00-default/xdg-data/navi/cheats/dbus.cheat
  profiles/00-default/xdg-data/navi/cheats/pnpm.cheat
  profiles/40-kde/xdg-config/dolphinrc
  profiles/40-linux-desktop/xdg-config/btop/btop.conf
Due: biome

osiris: 2026-02-16T17:23:05+09:00
  profiles/00-default/home/.claude/.gitignore
  profiles/40-kde/xdg-config/dolphinrc
Due: none

osiris: 2026-02-18T18:25:49+09:00
  profiles/00-default/home/.claude/plugins/known_marketplaces.json
Due: biome

hemera: 2026-02-15T21:49:02+09:00
  profiles/00-default/home/.claude/plugins/known_marketplaces.json
  profiles/00-default/xdg-config/nvim/lua/config/autocmds/setups/cheat-templates.lua
Due: biome

Path conditions:
  shellharden: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shellcheck: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shfmt: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  just-fmt: any of: (^|/)(\.)?justfile$, but not: (?x)^(
  .*/lazy-lock.json
)$

  yamlfix: any of: \.(yaml|yml)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  taplo: any of: \.toml$, but not: (?x)^(
  .*/lazy-lock.json
)$

  biome: any of: \.(json|jsonc)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  markdownlint: any of: \.(md|markdown|mdown)$, but not: (?x)^(
  .*/lazy-lock.json
)$

