Repository hnjae/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellharden, shellcheck, shfmt, just-fmt, yamlfix, taplo, biome, markdownlint

shellharden:
  name: harden shell
  entry: shellharden --replace
  language: system

shellcheck:
  name: check shell
  entry: shellcheck
  language: system

shfmt:
  name: format shell
  entry: shfmt --indent 2 --simplify --write
  language: system

just-fmt:
  name: format just
  entry: bash -c 'just --fmt --unstable --justfile "$1"' --
  language: system

yamlfix:
  name: format yaml
  entry: yamlfix
  language: system

taplo:
  name: format toml
  entry: taplo format
  language: system

biome:
  name: format json(c)
  entry: biome format --write
  language: system

markdownlint:
  name: format markdown
  entry: markdownlint-cli2 --fix
  language: system

nyx: 2026-05-16T13:20:48+09:00
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/plugins/my-copy-bracket-content.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-copy-file-content.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-copy-file-content.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-copy-filename-osc52.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-copy-filename-osc52.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-copy-path-osc52.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-copy-path-osc52.yazi/main.lua
Due: taplo, markdownlint

fix(yazi): wrap OSC52 copies for tmux
  profiles/common/xdg-config-home/yazi/plugins/my-copy-bracket-content.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-copy-file-content.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-copy-filename-osc52.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-copy-path-osc52.yazi/main.lua
Due: none

fix: avoid git index lock preflight in llm commit
  profiles/common/xdg-config-home/zsh/modules/git/functions/git-commit-llm
Due: none

metis: 2026-05-16T07:59:53+00:00
  profiles/common/xdg-config-home/zsh/modules/git/functions/git-commit-llm
Due: none

nyx: 2026-05-16T20:48:46+09:00
  profiles/common/home/.codex/.gitignore
  profiles/common/home/.codex/skills/.gitignore
  profiles/common/home/.codex/skills/link-html-clipper/SKILL.md
  profiles/common/home/.codex/skills/link-html-clipper/agents/openai.yaml
  profiles/common/home/.codex/skills/link-html-clipper/assets/obsidian-source-clip-template.html
  profiles/common/xdg-config-home/git/ignore
Due: yamlfix, markdownlint

nyx: 2026-05-16T21:17:51+09:00
  profiles/common/home/.codex/skills/link-html-clipper/SKILL.md
  profiles/common/home/.codex/skills/link-html-clipper/assets/obsidian-source-clip-template.html
  profiles/common/xdg-config-home/zsh/modules/git/functions/git-commit-llm
  profiles/common/xdg-config-home/zsh/modules/git/functions/git-commit-llm-autonomous
  profiles/common/xdg-config-home/zsh/modules/git/functions/git-commit-llm-fixed
Due: markdownlint

nyx: 2026-05-16T22:01:05+09:00
  profiles/common/home/.codex/skills/link-html-clipper/SKILL.md
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/markdown.lua
  profiles/common/xdg-config-home/zsh/modules/git/functions/git-commit-llm-fixed
  profiles/desktop-kde/install.d/configure-mimeapps.list.sh
Due: shellharden, shellcheck, shfmt, markdownlint

feat(nvim): add markdown-oxide LSP config for nvim-lspconfig
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/markdown.obsidia.lua
Due: none

feat(zsh): rename git-commit alias and remove git-commit-llm-simple
  profiles/common/xdg-config-home/zsh/modules/git/functions/git-commit-llm
  profiles/common/xdg-config-home/zsh/modules/git/functions/git-commit-llm-simple
  profiles/common/xdg-config-home/zsh/modules/git/init.zsh
Due: none

feat(desktop): add removed associations
  profiles/desktop/install.d/mimeapps/configure_removed_associations.py
Due: none

nyx: 2026-05-17T17:18:22+09:00
  profiles/desktop-kde/install.d/apply-kde-config.sh
  profiles/desktop-kde/xdg-config-home/kiorc
  profiles/desktop-kde/xdg-config-home/konsolerc
Due: shellharden, shellcheck, shfmt

feat: add zsh modules/devenv with cached devenv hook
  .typos.toml
  profiles/common/xdg-config-home/zsh/.typos.toml
  profiles/common/xdg-config-home/zsh/.zimrc
  profiles/common/xdg-config-home/zsh/modules/devenv/.gitignore
  profiles/common/xdg-config-home/zsh/modules/devenv/init.zsh
Due: taplo

nyx: 2026-05-17T18:09:21+09:00
  .typos.toml
  profiles/common/xdg-config-home/zsh/modules/pueue/init.zsh
Due: taplo

feat: cache zoxide init.zsh generation with signature checks
  profiles/common/xdg-config-home/zsh/modules/zoxide/.gitignore
  profiles/common/xdg-config-home/zsh/modules/zoxide/init.zsh
Due: none

feat: add signature-based cache invalidation for generated zsh scripts
  profiles/common/xdg-config-home/zsh/.zimrc
  profiles/common/xdg-config-home/zsh/modules/eza/init.zsh
  profiles/common/xdg-config-home/zsh/modules/fzf/.gitignore
  profiles/common/xdg-config-home/zsh/modules/fzf/README.md
  profiles/common/xdg-config-home/zsh/modules/fzf/init.zsh
  profiles/common/xdg-config-home/zsh/modules/jq/init.zsh
  profiles/common/xdg-config-home/zsh/modules/navi/.gitignore
  profiles/common/xdg-config-home/zsh/modules/navi/init.zsh
  profiles/common/xdg-config-home/zsh/modules/nix/.gitignore
  profiles/common/xdg-config-home/zsh/modules/nix/init.zsh
  profiles/common/xdg-config-home/zsh/modules/prompt/config.bak.json
  profiles/common/xdg-config-home/zsh/modules/prompt/config.json
  profiles/common/xdg-config-home/zsh/modules/prompt/hotstick.minimal.omp.json
  profiles/common/xdg-config-home/zsh/modules/prompt/init.zsh
  profiles/common/xdg-config-home/zsh/modules/prompt/stelbent.minimal.omp.json
  profiles/common/xdg-config-home/zsh/modules/utilities/.gitignore
  profiles/common/xdg-config-home/zsh/modules/utilities/init.zsh
Due: biome, markdownlint

feat(zsh): add enhanced navi-edit command with interactive cheat search
  profiles/common/xdg-config-home/zsh/modules/navi/functions/__navi_select_enhanced
  profiles/common/xdg-config-home/zsh/modules/navi/functions/navi-edit
  profiles/common/xdg-config-home/zsh/modules/navi/init.zsh
Due: none

nyx: 2026-05-17T19:28:08+09:00
  profiles/common/xdg-config-home/git/config
Due: none

nyx: 2026-05-17T21:13:55+09:00
  devenv.lock
  profiles/common/home/.codex/rules/default.rules
Due: none

feat(tmux): bind new-window and split-window to active pane path
  profiles/common/xdg-config-home/tmux/tmux.conf
Due: none

nyx: 2026-05-20T12:42:57+09:00
  profiles/common/home/.codex/rules/default.rules
  profiles/common/home_Projects/mani.yaml
  profiles/desktop-kde/xdg-data-home/konsole/.gitignore
Due: yamlfix

nyx: 2026-05-20T19:53:55+09:00
  .envrc
  dev/devenv.nix
  dev/devenv.yaml
  devenv.lock
  devenv.nix
  devenv.yaml
  install.sh
  lib/nix-profile-manager/np/__init__.py
  lib/update-submodules.sh
  nix/shared/devenv.nix
  profiles/common/home/.codex/skills/link-html-clipper/agents/openai.yaml
  profiles/common/home_Projects/mani.yaml
  profiles/common/install.d/seed-files.sh
  profiles/common/xdg-bin-home/np
  profiles/common/xdg-config-home/bash/modules/fzf/init.bash
  profiles/common/xdg-config-home/bash/modules/oh-my-posh/init.bash
  profiles/common/xdg-config-home/bash/modules/zoxide/init.bash
  profiles/common/xdg-config-home/cheat/cheatsheets/personal/epomaker-ek75
  profiles/common/xdg-config-home/nvim/.editorconfig
  profiles/common/xdg-config-home/nvim/.envrc
  profiles/common/xdg-config-home/nvim/devenv.lock
  profiles/common/xdg-config-home/nvim/devenv.nix
  profiles/common/xdg-config-home/nvim/devenv.yaml
  profiles/common/xdg-config-home/nvim/justfile
  profiles/common/xdg-config-home/nvim/snippets/pnpm-lock.yaml
  profiles/common/xdg-config-home/yazi/justfile
  profiles/desktop-kde/xdg-config-home/bluedevilglobalrc
  profiles/desktop-kde/xdg-config-home/konsolerc
Due: shellharden, shellcheck, shfmt, just-fmt, yamlfix

nyx: 2026-05-20T20:05:43+09:00
  nix/shared/devenv.nix
Due: none

nyx: 2026-05-20T21:41:33+09:00
  nix/shared/devenv.nix
  profiles/common/xdg-config-home/pnpm/config.yaml
  profiles/common/xdg-data-home/navi/cheats/pnpm.cheat
Due: yamlfix

nyx: 2026-05-21T12:18:07+09:00
  profiles/common/xdg-bin-home/np
  profiles/common/xdg-bin-home/np_legacy
Due: none

nyx: 2026-05-22T01:01:16+09:00
  profiles/common/xdg-config-home/process-compose/default-theme.ymal
  profiles/common/xdg-config-home/process-compose/theme.yaml
  profiles/common/xdg-data-home/navi/cheats/linux-utilities/cups.cheat
  profiles/desktop-kde/install.d/configure-mimeapps.list.sh
Due: shellharden, shellcheck, shfmt, yamlfix

nyx: 2026-05-22T21:26:03+09:00
  profiles/common/xdg-config-home/nvim/ftplugin/terraform-vars.lua
  profiles/common/xdg-config-home/nvim/lua/config/options/setups/lazyvim.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/typescript.lua
  profiles/common/xdg-config-home/ruff/ruff.toml
  profiles/common/xdg-data-home/navi/cheats/gh.cheat
  profiles/common/xdg-data-home/navi/cheats/virsh.cheat
Due: taplo

nyx: 2026-05-23T13:10:27+09:00
  profiles/common/home/.codex/.gitignore
  profiles/common/home_Projects/mani.yaml
  profiles/common/xdg-config-home/opencode/oh-my-openagent.backup.2026-05-23T03-46-46Z/README.md
  profiles/common/xdg-config-home/opencode/oh-my-openagent.backup.2026-05-23T03-46-46Z/justfile
  profiles/common/xdg-config-home/opencode/oh-my-openagent.backup.2026-05-23T03-46-46Z/oh-my-openagent.jsonc
  profiles/common/xdg-config-home/opencode/oh-my-openagent.backup.2026-05-23T03-46-46Z/oh-my-openagent.jsonc.bak.2026-05-07T03-41-45-552Z
  profiles/common/xdg-config-home/opencode/oh-my-openagent.backup.2026-05-23T03-46-46Z/opencode-oh-my-openagent.jsonc
  profiles/common/xdg-config-home/opencode/oh-my-openagent.backup.2026-05-23T03-46-46Z/package-lock.json
  profiles/common/xdg-config-home/opencode/oh-my-openagent.backup.2026-05-23T03-46-46Z/package.json
  profiles/common/xdg-config-home/opencode/opencode-vanilla.jsonc
  profiles/common/xdg-config-home/opencode/opencode.jsonc
  profiles/common/xdg-config-home/opencode/themes/ansi.json
  profiles/common/xdg-config-home/opencode/themes/gruvbox2.json
Due: just-fmt, yamlfix, biome, markdownlint

build(nvim): update lazy-lock.json
  profiles/common/xdg-config-home/nvim/lazy-lock.json
Due: none

feat(nvim): migrate from gp to codecompanion
  profiles/common/xdg-config-home/nvim/lazy-lock.json
  profiles/common/xdg-config-home/nvim/lua/plugins/extends/ai.codecompanion.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/extends/util.gp.lua
Due: none

nyx: 2026-05-23T15:22:36+09:00
  profiles/common/xdg-config-home/codex/.gitignore
  profiles/common/xdg-config-home/codex/rules/default.rules
  profiles/common/xdg-config-home/codex/rules/systemctl.rules
  profiles/common/xdg-config-home/codex/skills/.gitignore
  profiles/common/xdg-config-home/codex/skills/link-html-clipper/SKILL.md
  profiles/common/xdg-config-home/codex/skills/link-html-clipper/agents/openai.yaml
  profiles/common/xdg-config-home/codex/skills/link-html-clipper/assets/obsidian-source-clip-template.html
Due: yamlfix, markdownlint

nyx: 2026-05-23T16:10:48+09:00
  profiles/common/home_Projects/mani.yaml
  profiles/common/xdg-config-home/nvim/lua/plugins/overrides/editor.aerial.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/icons.lazyvim.lua
Due: yamlfix

nyx: 2026-05-23T17:11:14+09:00
  profiles/common/xdg-bin-home/np
Due: none

nyx: 2026-05-23T17:17:29+09:00
  profiles/common/xdg-data-home/navi/cheats/secure-esase-or-sanitize.cheat
Due: none

nyx: 2026-05-23T18:21:49+09:00
  profiles/common/xdg-config-home/nvim/lua/plugins/overrides/editor.which-key.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/icons.which-key.overseer.lua
Due: none

nyx: 2026-05-23T19:27:46+09:00
  profiles/common/xdg-config-home/nvim/filetype.lua
Due: none

nyx: 2026-05-23T21:47:10+09:00
  profiles/common/home_Projects/mani.yaml
  profiles/common/xdg-config-home/tmux/tmux.conf
Due: yamlfix

nyx: 2026-05-24T22:46:59+09:00
  profiles/common/xdg-config-home/cheat/cheatsheets/personal/podman
  profiles/common/xdg-config-home/codex/skills/researched-html-note/SKILL.md
  profiles/common/xdg-config-home/codex/skills/researched-html-note/agents/openai.yaml
  profiles/common/xdg-config-home/codex/skills/researched-html-note/assets/researched-note-template.html
  profiles/common/xdg-data-home/navi/cheats/linux-utilities/cups.cheat
  profiles/common/xdg-data-home/navi/cheats/ocrmypdf.cheat
Due: yamlfix, markdownlint

nyx: 2026-05-26T21:27:01+09:00
  profiles/common/home_.ssh/config
  profiles/common/xdg-config-home/yazi/package.toml
  profiles/common/xdg-config-home/yazi/yazi.toml
Due: taplo

nyx: 2026-05-26T21:44:56+09:00
  profiles/common/xdg-config-home/codex/config.toml.backup.2026-05-26
Due: none

nyx: 2026-05-27T21:24:30+09:00
  profiles/common/xdg-config-home/nvim/lazy-lock.json
  profiles/common/xdg-config-home/nvim/lua/plugins/extends/editor.vim-matchup.lua
  profiles/desktop/xdg-config-home/mpv/mpv.conf
Due: none

Path conditions:
  shellharden: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shellcheck: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shfmt: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  just-fmt: any of: (^|/)(\.)?justfile$, but not: (?x)^(
  .*/lazy-lock.json
)$

  yamlfix: any of: \.(yaml|yml)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  taplo: any of: \.toml$, but not: (?x)^(
  .*/lazy-lock.json
)$

  biome: any of: \.(json|jsonc)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  markdownlint: any of: \.(md|markdown|mdown)$, but not: (?x)^(
  .*/lazy-lock.json
)$

