Repository hnjae/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellharden, shellcheck, shfmt, just-fmt, yamlfix, taplo, biome, markdownlint

shellharden:
  name: harden shell
  entry: shellharden --replace
  language: system

shellcheck:
  name: check shell
  entry: shellcheck
  language: system

shfmt:
  name: format shell
  entry: shfmt --indent 2 --simplify --write
  language: system

just-fmt:
  name: format just
  entry: bash -c 'just --fmt --unstable --justfile "$1"' --
  language: system

yamlfix:
  name: format yaml
  entry: yamlfix
  language: system

taplo:
  name: format toml
  entry: taplo format
  language: system

biome:
  name: format json(c)
  entry: biome format --write
  language: system

markdownlint:
  name: format markdown
  entry: markdownlint-cli2 --fix
  language: system

hemera: 2026-04-03T09:51:05+09:00
  profiles/00-default/xdg-config/ghostty/config
  profiles/00-default/xdg-config/git/ignore
  profiles/00-default/xdg-config/nvim/lazy-lock.json
  profiles/00-default/xdg-config/nvim/lazyvim.json
  profiles/00-default/xdg-config/nvim/lua/plugins/extends/util.gp.lua
  profiles/00-default/xdg-config/qalculate/qalc.cfg
  profiles/00-default/xdg-data/navi/cheats/nix/registry.cheat
  profiles/50-kde/xdg-config/kglobalshortcutsrc
Due: biome

hemera: 2026-04-03T11:45:22+09:00
  .gitmodules
  .pre-commit-config.yaml
  devenv.lock
  devenv.nix
  devenv.yaml
  justfile
  profiles/common/xdg-config-home/nvim/lazy-lock.json
  profiles/common/xdg-config-home/nvim/lazyvim.json
  profiles/common/xdg-config-home/nvim/lua/plugins/extends/util.gp.lua
  profiles/common/xdg-config-home/yazi/.envrc
  profiles/common/xdg-config-home/yazi/.gitignore
  profiles/common/xdg-config-home/yazi/.luarc.json
  profiles/common/xdg-config-home/yazi/devenv.lock
  profiles/common/xdg-config-home/yazi/devenv.nix
  profiles/common/xdg-config-home/yazi/devenv.yaml
  profiles/common/xdg-config-home/yazi/init.lua
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/package.toml
  profiles/common/xdg-config-home/yazi/yazi.toml
  profiles/desktop/install.conf.yaml
  profiles/desktop/xdg-config-home/mpv/input.conf
  profiles/desktop/xdg-config-home/mpv/mpv.conf
  profiles/desktop/xdg-config-home/mpv/script-opts/mpv_thumbnail_script.conf
  profiles/desktop/xdg-config-home/mpv/scripts/thumbfast.lua
  shared/devenv.nix
Due: shellharden, shellcheck, shfmt, just-fmt, yamlfix, taplo, biome

hemera: 2026-04-03T12:53:37+09:00
  .gitmodules
  profiles/50-kde/xdg-config/plasmaparc
  profiles/desktop/xdg-config-home/mpv/mpv.conf
  profiles/desktop/xdg-config-home/mpv/script-opts/mpv_thumbnail_script.conf
  profiles/desktop/xdg-config-home/mpv/scripts/osc.lua
Due: none

hemera: 2026-04-03T21:16:15+09:00
  profiles/common/xdg-config-home/nvim/lua/plugins/extends/util.gp.lua
  profiles/common/xdg-config-home/zsh/.zimrc
  profiles/common/xdg-config-home/zsh/my-joshuto/functions/joshuto-cd
  profiles/common/xdg-config-home/zsh/my-yazi/init.zsh
Due: none

hemera: 2026-04-04T23:38:32+09:00
  profiles/common/xdg-config-home/ruff/pyproject.toml
  profiles/common/xdg-data-home/navi/cheats/gdbus.cheat
  profiles/common/xdg-data-home/navi/cheats/qdbus.cheat
  profiles/desktop-kde/xdg-config-home/ksmserverrc
Due: taplo

hemera: 2026-04-06T22:37:57+09:00
  profiles/common/home/.codex/rules/default.rules
  profiles/common/xdg-config-home/opencode/.gitignore
  profiles/common/xdg-config-home/opencode/pnpm-lock.yaml
  profiles/common/xdg-config-home/yazi/justfile
  profiles/common/xdg-config-home/yazi/package.toml
  profiles/common/xdg-config-home/yazi/yazi.toml
  profiles/desktop-linux/xdg-config-home/btop/btop.conf
Due: just-fmt, yamlfix, taplo

hemera: 2026-04-07T11:10:21+09:00
  devenv.lock
  profiles/common/xdg-config-home/yazi/devenv.lock
Due: none

hemera: 2026-04-10T13:48:24+09:00
  profiles/common/home/.codex/rules/default.rules
  profiles/common/xdg-config-home/git/_base24-delta.gitconfig
  profiles/common/xdg-config-home/git/config
  profiles/common/xdg-config-home/nvim/lazy-lock.json
  profiles/common/xdg-config-home/zsh/my-yazi/init.zsh
  profiles/common/xdg-data-home/navi/cheats/nix/profile.cheat
  profiles/common/xdg-data-home/navi/cheats/qdbus.cheat
  profiles/desktop/xdg-config-home/ghostty/config
  profiles/desktop/xdg-config-home/mpv/mpv.conf
Due: none

hemera: 2026-04-11T11:59:14+09:00
  profiles/50-kde/xdg-config/plasmaparc
  profiles/common/xdg-config-home/cheat/cheatsheets/personal/yazi
  profiles/common/xdg-config-home/ruff/pyproject.toml
  profiles/common/xdg-data-home/navi/cheats/direnv.cheat
  profiles/common/xdg-data-home/navi/cheats/nix/profile.cheat
  profiles/desktop-kde/xdg-config-home/konsolerc
  profiles/desktop/xdg-config-home/ghostty/themes/_base24
  profiles/tinted-theming/config/tinty/config.toml
  profiles/tinted-theming/custom-schemes/base24/my-gruvbox-light-C.yaml
Due: yamlfix, taplo

hemera: 2026-04-11T12:11:54+09:00
  profiles/common/xdg-config-home/nvim/lazy-lock.json
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/nix.linting.lua
  profiles/common/xdg-config-home/yazi/.gitignore
  profiles/common/xdg-config-home/yazi/devenv.nix
  profiles/common/xdg-config-home/yazi/justfile
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/package.toml
  profiles/common/xdg-config-home/yazi/theme.toml
Due: just-fmt, taplo

feat(yazi): add custom my-file-create plugin
  profiles/common/xdg-config-home/yazi/.gitignore
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/plugins/my-file-create.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-file-create.yazi/main.lua
Due: taplo, markdownlint

feat(yazi): add plugin to open file with associated program
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/plugins/my-open-associated.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-open-associated.yazi/main.lua
Due: taplo, markdownlint

feat(yazi): add keybindings for spot and paste
  profiles/common/xdg-config-home/yazi/keymap.toml
Due: taplo

feat(yazi): add and reorganize yank/paste keymaps
  profiles/common/xdg-config-home/yazi/keymap.toml
Due: taplo

feat(yazi): add linemode and noop keybindings
  profiles/common/xdg-config-home/yazi/keymap.toml
Due: taplo

feat(yazi): add plugin to copy bracket content
  profiles/common/xdg-config-home/cheat/cheatsheets/personal/yazi
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/plugins/my-copy-bracket-content.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-copy-bracket-content.yazi/main.lua
Due: taplo, markdownlint

feat(yazi): add support for last bracket content extraction
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/plugins/my-copy-bracket-content.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-copy-bracket-content.yazi/main.lua
Due: taplo, markdownlint

hemera: 2026-04-11T12:52:08+09:00
  profiles/common/xdg-config-home/joshuto/.pre-commit-config.yaml
  profiles/common/xdg-config-home/joshuto/.taplo.toml
  profiles/common/xdg-config-home/joshuto/bin/copy-parentheses
  profiles/common/xdg-config-home/joshuto/bin/newfile
  profiles/common/xdg-config-home/joshuto/bin/pistol-wrapper
  profiles/common/xdg-config-home/joshuto/bin/trash-with-trace
  profiles/common/xdg-config-home/joshuto/joshuto.toml
  profiles/common/xdg-config-home/joshuto/keymap.toml
  profiles/common/xdg-config-home/joshuto/theme.toml
  profiles/common/xdg-config-home/zsh/.zimrc
  profiles/common/xdg-config-home/zsh/my-joshuto/functions/joshuto-cd
  profiles/common/xdg-config-home/zsh/my-joshuto/init.zsh
  profiles/common/xdg-config-home/zsh/my-yazi/init.zsh
Due: yamlfix, taplo

feat(yazi): add custom trash-with-trace plugin
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/plugins/my-trash-with-trace.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-trash-with-trace.yazi/main.lua
Due: taplo, markdownlint

feat(yazi): add custom plugins and keymaps
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/plugins/my-rename-with-vimv.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-rename-with-vimv.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-select-sort.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-select-sort.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-toggle-sort-reverse.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-toggle-sort-reverse.yazi/main.lua
Due: taplo, markdownlint

hemera: 2026-04-11T15:04:11+09:00
  profiles/common/xdg-config-home/yazi/keymap.toml
Due: taplo

feat(yazi): use relative paths in rename-with-vimv
  profiles/common/xdg-config-home/yazi/plugins/my-rename-with-vimv.yazi/main.lua
Due: none

hemera: 2026-04-11T15:13:08+09:00
  profiles/common/xdg-config-home/yazi/keymap.toml
Due: taplo

hemera: 2026-04-11T15:17:32+09:00
  profiles/common/xdg-config-home/nvim/.envrc
  profiles/common/xdg-config-home/nvim/.pre-commit-config.yaml
  profiles/common/xdg-config-home/nvim/devenv.lock
  profiles/common/xdg-config-home/nvim/devenv.nix
  profiles/common/xdg-config-home/nvim/devenv.yaml
  profiles/common/xdg-config-home/nvim/justfile
  shared/devenv.nix
Due: shellharden, shellcheck, shfmt, just-fmt, yamlfix

hemera: 2026-04-11T15:45:45+09:00
  profiles/common/xdg-config-home/nvim/.typos.toml
  profiles/common/xdg-config-home/yazi/.ruff.toml
  profiles/common/xdg-config-home/yazi/.taplo.toml
  profiles/common/xdg-config-home/yazi/devenv.nix
  profiles/common/xdg-config-home/yazi/justfile
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/lib/generate-keymap.py
  profiles/common/xdg-config-home/yazi/selene.toml
  profiles/common/xdg-config-home/yazi/yazi-std.yml
Due: just-fmt, yamlfix, taplo

style: fix typos
  profiles/common/xdg-config-home/nvim/.typos.toml
  profiles/common/xdg-config-home/nvim/ftplugin/tex.lua
  profiles/common/xdg-config-home/nvim/snippets/README.md
  profiles/common/xdg-config-home/nvim/snippets/snippets/beancount.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/c/cdoc.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/cmake.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/cobol/vscode_cobol-compound.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/cobol/vscode_cobol.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/cpp/cppdoc.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/frameworks/djangohtml.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/frameworks/jekyll.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/frameworks/rails.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/frameworks/unreal.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/frameworks/vue/nuxt-script.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/html.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/javascript/next.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/javascript/react-ts.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/javascript/react.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/julia.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/kotlin/kdoc.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/latex/latex-snippets.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/latex/vscode-latex-snippets.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/lua/luadoc.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/objc.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/php/php.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/php/phpdoc.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/purescript.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/rescript.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/rmarkdown.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/ruby/rdoc.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/ruby/ruby.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/solidity.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/sql.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/svelte.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/systemverilog.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/tcl.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/terraform.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/verilog.json
Due: taplo, biome, markdownlint

hemera: 2026-04-11T16:37:36+09:00
  devenv.nix
  profiles/common/xdg-config-home/nvim/.biome.json
  profiles/common/xdg-config-home/nvim/.stylua.toml
  profiles/common/xdg-config-home/nvim/devenv.nix
  profiles/common/xdg-config-home/nvim/justfile
  profiles/common/xdg-config-home/nvim/selene.toml
  shared/devenv.nix
Due: just-fmt, taplo, biome

hemera: 2026-04-12T11:20:42+09:00
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/plugins/my-change-permissions.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-change-permissions.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-open-netrw-cr.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-open-netrw-cr.yazi/main.lua
  profiles/common/xdg-config-home/yazi/yazi.toml
Due: taplo, markdownlint

feat(yazi): add plugin to open entry in tmux split
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/plugins/my-open-in-split.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-open-in-split.yazi/main.lua
Due: taplo, markdownlint

hemera: 2026-04-12T13:02:58+09:00
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/lib/generate-keymap.py
  profiles/common/xdg-config-home/yazi/plugins/my-open-in-split.yazi/main.lua
  profiles/common/xdg-config-home/yazi/yazi.toml
  profiles/common/xdg-data-home/navi/cheats/systemd/systemctl.cheat
Due: taplo

feat(yazi): add my-rmdir plugin and <F8> keymap
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/lib/generate-keymap.py
  profiles/common/xdg-config-home/yazi/plugins/my-rmdir.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-rmdir.yazi/main.lua
Due: taplo, markdownlint

hemera: 2026-04-12T13:18:51+09:00
  profiles/common/xdg-config-home/yazi/keymap.toml
Due: taplo

feat(yazi): add keybindings for file renaming
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/lib/generate-keymap.py
Due: taplo

feat(yazi): add confirmation dialog to trash plugin
  profiles/common/xdg-config-home/yazi/plugins/my-trash-with-trace.yazi/main.lua
Due: none

feat(yazi): support bulk trash with trace for selected files
  profiles/common/xdg-config-home/yazi/plugins/my-trash-with-trace.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-trash-with-trace.yazi/main.lua
Due: markdownlint

feat(yazi): add plugin to copy files to clipboard
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/lib/generate-keymap.py
  profiles/common/xdg-config-home/yazi/plugins/my-copy-file-clipboard.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-copy-file-clipboard.yazi/main.lua
Due: taplo, markdownlint

feat(yazi): add plugin to copy file content to clipboard
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/lib/generate-keymap.py
  profiles/common/xdg-config-home/yazi/plugins/my-copy-file-content.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-copy-file-content.yazi/main.lua
Due: taplo, markdownlint

Path conditions:
  shellharden: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shellcheck: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shfmt: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  just-fmt: any of: (^|/)(\.)?justfile$, but not: (?x)^(
  .*/lazy-lock.json
)$

  yamlfix: any of: \.(yaml|yml)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  taplo: any of: \.toml$, but not: (?x)^(
  .*/lazy-lock.json
)$

  biome: any of: \.(json|jsonc)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  markdownlint: any of: \.(md|markdown|mdown)$, but not: (?x)^(
  .*/lazy-lock.json
)$

