Repository hnjae/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellharden, shellcheck, shfmt, just-fmt, yamlfix, taplo, biome, markdownlint

shellharden:
  name: harden shell
  entry: shellharden --replace
  language: system

shellcheck:
  name: check shell
  entry: shellcheck
  language: system

shfmt:
  name: format shell
  entry: shfmt --indent 2 --simplify --write
  language: system

just-fmt:
  name: format just
  entry: bash -c 'just --fmt --unstable --justfile "$1"' --
  language: system

yamlfix:
  name: format yaml
  entry: yamlfix
  language: system

taplo:
  name: format toml
  entry: taplo format
  language: system

biome:
  name: format json(c)
  entry: biome format --write
  language: system

markdownlint:
  name: format markdown
  entry: markdownlint-cli2 --fix
  language: system

hemera: 2026-04-12T13:47:03+09:00
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/lib/generate-keymap.py
  profiles/common/xdg-config-home/yazi/plugins/my-copy-file-clipboard.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-copy-file-content.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-rmdir.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-trash-with-trace.yazi/main.lua
Due: taplo

feat(yazi): add keybindings for mass file selection
  profiles/common/xdg-config-home/yazi/keymap.toml
Due: taplo

feat(yazi): add reverse selection keybinding
  profiles/common/xdg-config-home/yazi/keymap.toml
Due: taplo

feat(yazi): Updates the keymap.toml
  profiles/common/xdg-config-home/yazi/keymap.toml
Due: taplo

feat(yazi): remap split-open keys from g to z
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/lib/generate-keymap.py
  profiles/common/xdg-config-home/yazi/plugins/my-open-in-split.yazi/README.md
Due: taplo, markdownlint

feat(yazi): add plugin to open terminal in current directory
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/lib/generate-keymap.py
  profiles/common/xdg-config-home/yazi/plugins/my-open-cwd-terminal.yazi/main.lua
Due: taplo

hemera: 2026-04-12T14:51:17+09:00
  .editorconfig
  .pre-commit-config.yaml
  shared/devenv.nix
Due: yamlfix

hemera: 2026-04-12T15:36:10+09:00
  profiles/common/xdg-config-home/nvim/.biome.json
  profiles/common/xdg-config-home/nvim/devenv.nix
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/json.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/nix.lua
  profiles/common/xdg-config-home/opencode/opencode.jsonc
Due: biome

hemera: 2026-04-13T11:36:39+09:00
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/nix.lua
  profiles/common/xdg-config-home/opencode-backup/.gitignore
  profiles/common/xdg-config-home/opencode-backup/oh-my-opencode.jsonc
  profiles/common/xdg-config-home/opencode-backup/opencode-oh-my.jsonc
  profiles/common/xdg-config-home/opencode-backup/opencode.jsonc
  profiles/common/xdg-config-home/opencode-backup/opencode.jsonc.tui-migration.bak
  profiles/common/xdg-config-home/opencode-backup/skills/commit/SKILL.md
  profiles/common/xdg-config-home/opencode-backup/tui.json
  profiles/common/xdg-config-home/yazi/keymap.toml
Due: taplo, biome, markdownlint

hemera: 2026-04-13T12:56:03+09:00
  profiles/common/home/.codex/.gitignore
  profiles/common/xdg-config-home/opencode-backup/oh-my-opencode.jsonc
  profiles/common/xdg-config-home/opencode/oh-my-openagent.json.backup-2026-04-13T02-42-47-901Z
  profiles/common/xdg-config-home/opencode/oh-my-openagent.jsonc
  profiles/common/xdg-config-home/opencode/opencode.json
  profiles/common/xdg-config-home/opencode/tui.json
Due: biome

hemera: 2026-04-13T14:40:04+09:00
  profiles/common/xdg-config-home/git/ignore
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/lib/generate-keymap.py
Due: taplo

hemera: 2026-04-13T15:11:24+09:00
  profiles/common/xdg-config-home/nvim/lua/config/lazy.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/nix.formatting.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/nix.linting.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/nix.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/overrides/lsp.mason.lua
  profiles/common/xdg-config-home/opencode/opencode.json
  profiles/common/xdg-config-home/ruff/pyproject.toml
Due: taplo, biome

feat: scripts
  scripts/btrfs-disposable-subvolumes.sh
  scripts/deploy-secrets-from-1password.sh
  scripts/handlr-set-default-applications.sh
Due: shellharden, shellcheck, shfmt

hemera: 2026-04-13T17:29:27+09:00
  profiles/common/install.conf.yaml
  profiles/common/xdg-bin-home/ocv
  profiles/common/xdg-config-home/cheat/cheatsheets/personal/OmO
  profiles/common/xdg-config-home/nvim/devenv.nix
  profiles/common/xdg-config-home/nvim/lua/plugins/extends/util.gp.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/replacements/colorscheme.lua
  profiles/common/xdg-config-home/opencode-backup/oh-my-opencode.jsonc
  profiles/common/xdg-config-home/opencode-backup/opencode-oh-my.jsonc
  profiles/common/xdg-config-home/opencode-backup/opencode.jsonc.tui-migration.bak
  profiles/common/xdg-config-home/opencode-backup/tui.json
  profiles/common/xdg-config-home/opencode-vanilla/.gitignore
  profiles/common/xdg-config-home/opencode-vanilla/skills/commit/SKILL.md
  profiles/common/xdg-config-home/opencode/README.md
  profiles/common/xdg-config-home/opencode/justfile
  profiles/common/xdg-config-home/opencode/oh-my-openagent.json.backup-2026-04-13T02-42-47-901Z
  profiles/common/xdg-config-home/opencode/oh-my-openagent.jsonc.bak.2026-04-13T19-05-15+09:00
  profiles/common/xdg-config-home/opencode/oh-my-openagent.jsonc.migrations.json
  profiles/common/xdg-config-home/opencode/opencode-vanilla.jsonc
  profiles/common/xdg-config-home/opencode/opencode.jsonc
  profiles/common/xdg-config-home/opencode/tui.json
  profiles/common/xdg-config-home/opencode/tui.jsonc
  profiles/common/xdg-data-home/navi/cheats/pnpm.cheat
Due: just-fmt, yamlfix, biome, markdownlint

hemera: 2026-04-13T20:36:18+09:00
  profiles/common/xdg-config-home/nvim/lazy-lock.json
  profiles/common/xdg-config-home/nvim/lua/config/options/setups/options-appearance.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/replacements/colorscheme.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/ui.lualine.lua
  profiles/common/xdg-config-home/nvim/lua/utils/init.lua
Due: none

hemera: 2026-04-14T11:19:34+09:00
  profiles/common/xdg-config-home/opencode/oh-my-openagent.jsonc
  profiles/common/xdg-config-home/opencode/opencode-vanilla.jsonc
  profiles/common/xdg-config-home/opencode/tui.jsonc
Due: biome

hemera: 2026-04-14T11:36:25+09:00
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/lib/generate-keymap.py
  profiles/common/xdg-config-home/yazi/plugins/my-trash-with-trace.yazi/main.lua
  profiles/desktop/xdg-config-home/mpv/input.conf
Due: taplo

hemera: 2026-04-14T19:59:39+09:00
  README.md
  profiles/common/xdg-bin-home/ocv
  profiles/common/xdg-config-home/opencode/oh-my-openagent.jsonc
  profiles/common/xdg-config-home/opencode/opencode-vanilla.jsonc
  profiles/common/xdg-config-home/opencode/opencode.jsonc
  profiles/common/xdg-data-home/navi/cheats/bun.cheat
Due: biome, markdownlint

hemera: 2026-04-14T20:42:37+09:00
  README.md
  profiles/common/xdg-config-home/zsh/.zimrc
  profiles/common/xdg-data-home/navi/cheats/zimfw.cheat
Due: markdownlint

hemera: 2026-04-15T18:43:31+09:00
  profiles/common/xdg-config-home/yazi/keymap.toml
Due: taplo

feat: add submodule install step to seeding
  profiles/common/install.conf.yaml
Due: yamlfix

feat(zsh): migrate from starship to oh-my-posh
  profiles/common/xdg-config-home/git/ignore
  profiles/common/xdg-config-home/zsh/.zimrc
  profiles/common/xdg-config-home/zsh/modules/oh-my-posh/README.md
  profiles/common/xdg-config-home/zsh/modules/oh-my-posh/config.json
  profiles/common/xdg-config-home/zsh/modules/oh-my-posh/hotstick.minimal.omp.json
  profiles/common/xdg-config-home/zsh/modules/oh-my-posh/init.zsh
  profiles/common/xdg-config-home/zsh/modules/oh-my-posh/stelbent.minimal.omp.json
  profiles/common/xdg-config-home/zsh/modules/starship/.gitignore
  profiles/common/xdg-config-home/zsh/modules/starship/init.zsh
Due: biome, markdownlint

hemera: 2026-04-17T12:53:02+09:00
  profiles/common/xdg-bin-home/ocv
  profiles/common/xdg-config-home/nvim/.gitignore
  profiles/common/xdg-config-home/nvim/lazy-lock.json
  profiles/common/xdg-config-home/nvim/lua/plugins/extends/editor.trailspace.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/markdown.lua
  profiles/common/xdg-config-home/ruff/pyproject.toml
  profiles/common/xdg-config-home/rumdl/rumdl.toml
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/zsh/modules/oh-my-posh/README.md
  profiles/common/xdg-data-home/navi/cheats/oh-my-posh.cheat
  profiles/common/xdg-data-home/navi/cheats/opencode.cheat
  profiles/common/xdg-data-home/navi/cheats/pnpm.cheat
Due: taplo, markdownlint

hemera: 2026-04-17T12:58:54+09:00
  .gitmodules
  profiles/common/home_.ssh/config
  profiles/common/home_.ssh/known_hosts.permanent
  profiles/common/home_projects/justfile
  profiles/common/home_projects/mani.yaml
  profiles/common/install.conf.yaml
  profiles/common/xdg-config-home/bottom/bottom.toml
  profiles/common/xdg-config-home/navi/.gitignore
  profiles/common/xdg-config-home/navi/navi.log
  profiles/common/xdg-config-home/nvim/snippets/snippets/markdown-2.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/markdown.json
  profiles/common/xdg-config-home/zsh/modules/oh-my-posh/config.json
  profiles/desktop-kde/install.conf.yaml
  profiles/desktop-kde/xdg-data-home_applications/net.local.1password.desktop
Due: just-fmt, yamlfix, taplo, biome

feat(update-submodules): handle branch-based submodules
  lib/update-submodules.sh
Due: shellharden, shellcheck, shfmt

feat: restore lazy-lock plugins on install.sh
  lib/nvim-plugin-restore.sh
  profiles/common/install.conf.yaml
Due: shellharden, shellcheck, shfmt, yamlfix

feat: update lazy-lock.json
  profiles/common/xdg-config-home/nvim/lazy-lock.json
  profiles/common/xdg-config-home/nvim/lua/plugins/extends/coding.better-whitespace.lua
Due: none

chore(yazi): remove unused files
  profiles/common/xdg-config-home/yazi/lib/generate-keymap.py
Due: none

fix(yazi): run associated plugin for archives
  profiles/common/xdg-config-home/yazi/plugins/my-open-netrw-cr.yazi/main.lua
Due: none

hemera: 2026-04-17T13:40:51+09:00
  profiles/common/xdg-config-home/nvim/lua/plugins/replacements/colorscheme.lua
Due: none

hemera: 2026-04-17T18:43:29+09:00
  profiles/common/xdg-config-home/nvim/lua/plugins/overrides/coding.luasnip.lua
  profiles/common/xdg-config-home/opencode/oh-my-openagent.jsonc
  profiles/common/xdg-config-home/opencode/opencode-vanilla.jsonc
Due: biome

hemera: 2026-04-17T18:59:02+09:00
  profiles/common/xdg-config-home/nvim/lua/plugins/overrides/_conditional.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/overrides/coding.luasnip.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/replacements/colorscheme.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/_not-in-use/which-key.flash.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/_not-in-use/which-key.gitsigns.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/_not-in-use/which-key.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/which-key.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/which-key.overseer.lua
  shared/devenv.nix
Due: none

hemera: 2026-04-17T19:03:58+09:00
  profiles/common/xdg-config-home/nvim/lua/plugins/overrides/_conditional.lua
Due: none

feat(nvim): disable terminal colors
  profiles/common/xdg-config-home/nvim/lua/plugins/replacements/colorscheme.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/snacks.lua
Due: none

hemera: 2026-04-18T01:29:16+09:00
  profiles/common/xdg-config-home/opencode/opencode-vanilla.jsonc
  profiles/common/xdg-config-home/opencode/opencode.jsonc
  profiles/common/xdg-config-home/zsh/modules/oh-my-posh/config.json
  profiles/desktop-linux/xdg-config-home/btop/btop.conf
Due: biome

hemera: 2026-04-18T09:12:19+09:00
  profiles/common/xdg-config-home/nvim/lazy-lock.json
  profiles/common/xdg-config-home/opencode/themes/gruvbox-light.json
  profiles/common/xdg-config-home@seed/btop/btop.conf
  profiles/common/xdg-data-home/navi/cheats/podman.cheat
  profiles/desktop-linux/xdg-config-home/btop/themes/rose-pine.theme
Due: biome

hemera: 2026-04-18T09:13:57+09:00
  profiles/common/xdg-config-home/zsh/modules/oh-my-posh/init.zsh
Due: none

Path conditions:
  shellharden: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shellcheck: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shfmt: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  just-fmt: any of: (^|/)(\.)?justfile$, but not: (?x)^(
  .*/lazy-lock.json
)$

  yamlfix: any of: \.(yaml|yml)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  taplo: any of: \.toml$, but not: (?x)^(
  .*/lazy-lock.json
)$

  biome: any of: \.(json|jsonc)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  markdownlint: any of: \.(md|markdown|mdown)$, but not: (?x)^(
  .*/lazy-lock.json
)$

