Repository hnjae/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellharden, shellcheck, shfmt, just-fmt, yamlfix, taplo, biome, markdownlint

shellharden:
  name: harden shell
  entry: shellharden --replace
  language: system

shellcheck:
  name: check shell
  entry: shellcheck
  language: system

shfmt:
  name: format shell
  entry: shfmt --indent 2 --simplify --write
  language: system

just-fmt:
  name: format just
  entry: bash -c 'just --fmt --unstable --justfile "$1"' --
  language: system

yamlfix:
  name: format yaml
  entry: yamlfix
  language: system

taplo:
  name: format toml
  entry: taplo format
  language: system

biome:
  name: format json(c)
  entry: biome format --write
  language: system

markdownlint:
  name: format markdown
  entry: markdownlint-cli2 --fix
  language: system

nyx: 2026-06-14T14:37:12+09:00
  profiles/common/xdg-config-home/yazi/.envrc
  profiles/common/xdg-config-home/yazi/keymap.toml
  taplo.toml
Due: shellharden, shellcheck, shfmt, taplo

fix(local-targets): restore target list binding
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/plugins/local-targets.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-targets.yazi/main.lua
Due: taplo, markdownlint

nyx: 2026-06-14T14:59:22+09:00
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/desktop-kde/xdg-data-home/kxmlgui5/dolphin/dolphinui.rc
  profiles/desktop-kde/xdg-data-home/kxmlgui5/konsole/partui.rc
Due: taplo

fix(local-targets): keep cwd after target transfers
  profiles/common/xdg-config-home/yazi/plugins/local-targets.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-targets.yazi/main.lua
Due: markdownlint

fix(local-trash-with-trace): keep cursor on next entry
  profiles/common/xdg-config-home/yazi/plugins/local-trash-with-trace.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-trash-with-trace.yazi/main.lua
Due: markdownlint

feat(local-targets): add copy and move here
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/plugins/local-targets.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-targets.yazi/main.lua
Due: taplo, markdownlint

nyx: 2026-06-17T10:38:35+09:00
  profiles/desktop/install.d/mimeapps/configure_removed_associations.py
Due: none

nyx: 2026-06-17T10:50:49+09:00
  profiles/common/xdg-config-home/yazi/plugins/local-archive-previewer.yazi/main.lua
  profiles/common/xdg-config-home/zsh/modules/fzf/init.zsh
  profiles/common/xdg-data-home/navi/cheats/virsh.cheat
  profiles/desktop-kde/xdg-config-home/fcitx5/config
  profiles/desktop/install.d/mimeapps/configure_removed_associations.py
Due: none

feat(np): add profile upgrade command
  profiles/common/xdg-bin-home/np
Due: none

fix(local-targets): restore cursor after target transfers
  profiles/common/xdg-config-home/yazi/plugins/local-targets.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-targets.yazi/main.lua
Due: markdownlint

fix(local-targets): list files in target transfer confirmation
  profiles/common/xdg-config-home/yazi/plugins/local-targets.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-targets.yazi/main.lua
Due: markdownlint

fix(local-targets): confirm current-directory transfers
  profiles/common/xdg-config-home/yazi/plugins/local-targets.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-targets.yazi/main.lua
Due: markdownlint

nyx: 2026-06-20T21:59:29+09:00
  profiles/common/home_Projects/mani.yaml
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-data-home/navi/cheats/linux-utilities/zfs.cheat
  profiles/desktop-kde/install.d/configure-mimeapps.list.sh
Due: shellharden, shellcheck, shfmt, yamlfix, taplo

nyx: 2026-06-21T10:54:28+09:00
  profiles/desktop/install.d/mimeapps/configure_removed_associations.py
Due: none

nyx: 2026-06-23T12:59:35+09:00
  profiles/common/xdg-data-home/navi/cheats/gpac.cheat
  profiles/common/xdg-data-home/navi/cheats/nice.cheat
  profiles/common/xdg-data-home/navi/cheats/uv.cheat
  profiles/desktop-kde/install.d/configure-mimeapps.list.sh
Due: shellharden, shellcheck, shfmt

nyx: 2026-06-27T10:42:25+09:00
  profiles/common/xdg-data-home/navi/cheats/nix/flake.cheat
Due: none

chore: update devenv.lock
  devenv/common/devenv.lock
Due: none

fix(nvim): skip auto listchars for text buffers
  profiles/common/xdg-config-home/nvim/lua/config/autocmds/setups/auto-listchars.lua
Due: none

nyx: 2026-06-27T18:49:45+09:00
  profiles/common/home_Projects/mani.yaml
  profiles/common/xdg-config-home/glow/glow.yaml
  profiles/common/xdg-config-home/nvim/ftplugin/navi.lua
  profiles/common/xdg-data-home/navi/cheats/linux-utilities/cryptsetup.cheat
Due: yamlfix

nyx: 2026-06-27T18:50:04+09:00
  artifacts/my-llm-prompts/20260101-agent-spec.en.md
  artifacts/my-llm-prompts/20260101-agent-spec.ko.md
  artifacts/my-llm-prompts/20260101-agent-spec.md
  artifacts/my-llm-prompts/20260122-review-project.md
  artifacts/my-llm-prompts/20260123-agent-refactor.md
  artifacts/my-llm-prompts/20260308 AGENT BUILD PROMPT TEMPLATE.md
  artifacts/my-llm-prompts/20260308 AGENT_PROMPT_TEMPLATE (type 2).md
  artifacts/my-llm-prompts/20260505-spec.md-fix.md
Due: markdownlint

nyx: 2026-06-30T23:41:30+09:00
  profiles/common/xdg-data-home/navi/cheats/linux-utilities/cups.cheat
Due: none

nyx: 2026-07-04T11:30:26+09:00
  profiles/common/xdg-data-home/navi/cheats/linux-utilities/cryptsetup.cheat
  profiles/desktop/xdg-config-home/foot/themes/gruvbox-dark-tuned.ini
  profiles/desktop/xdg-config-home/foot/themes/gruvbox-light-tuned.ini
Due: none

nyx: 2026-07-04T14:44:54+09:00
  profiles/common/xdg-config-home/codex/AGENTS.md
  profiles/common/xdg-data-home/navi/cheats/agent.cheat
  profiles/desktop-kde/xdg-config-home/kwinrulesrc
Due: markdownlint

feat(mpv): add cpu playback profile
  profiles/desktop/xdg-config-home/mpv/mpv.conf
Due: none

eris: 2026-07-07T19:45:22+09:00
  profiles/common/xdg-config-home/codex/AGENTS.md
Due: markdownlint

eris: 2026-07-08T15:27:40+09:00
  profiles/common/xdg-config-home/codex/.gitignore
  profiles/common/xdg-config-home/opencode/AGENTS.md
Due: markdownlint

eris: 2026-07-08T17:57:56+09:00
  profiles/common/xdg-config-home/codex/AGENTS.md
Due: markdownlint

eris: 2026-07-08T21:47:36+09:00
  profiles/common/xdg-config-home/opencode/AGENTS.md
Due: markdownlint

nyx: 2026-07-09T11:32:46+09:00
  profiles/common/home/.omp/.gitignore
  profiles/common/home/.omp/agent/AGENTS.md
  profiles/common/home/.omp/agent/config.yml
Due: yamlfix, markdownlint

nyx: 2026-07-12T10:39:13+09:00
  profiles/common/README.md
  profiles/common/home/.omp/agent/config.yml
  profiles/common/home_Projects/mani.yaml
  profiles/common/xdg-config-home/glow/glow.yaml
  profiles/common/xdg-config-home/opencode/oh-my-openagent.backup.2026-05-23T03-46-46Z/README.md
  profiles/common/xdg-config-home/zsh/README.md
  profiles/desktop/install.d/mimeapps/configure_removed_associations.py
Due: yamlfix, markdownlint

docs(codex): tighten global agent guidance
  profiles/common/xdg-config-home/codex/AGENTS.md
Due: markdownlint

docs(codex): keep final TDD commits green
  profiles/common/xdg-config-home/codex/AGENTS.md
Due: markdownlint

docs(codex): clarify amended TDD commit messages
  profiles/common/xdg-config-home/codex/AGENTS.md
Due: markdownlint

docs(codex): clarify attribution after amend
  profiles/common/xdg-config-home/codex/AGENTS.md
Due: markdownlint

nyx: 2026-07-12T22:17:13+09:00
  profiles/desktop/xdg-config-home/mpv/mpv.conf
Due: none

feat(codex): add design review skill
  profiles/common/xdg-config-home/codex/skills/design-review/README.md
  profiles/common/xdg-config-home/codex/skills/design-review/SKILL.md
  profiles/common/xdg-config-home/codex/skills/design-review/agents/openai.yaml
  profiles/common/xdg-config-home/codex/skills/design-review/references/audit.md
Due: yamlfix, markdownlint

fix(codex): harden design review boundaries
  profiles/common/xdg-config-home/codex/skills/design-review/SKILL.md
Due: markdownlint

fix(codex): tighten design review workflow
  profiles/common/xdg-config-home/codex/skills/design-review/README.md
  profiles/common/xdg-config-home/codex/skills/design-review/SKILL.md
  profiles/common/xdg-config-home/codex/skills/design-review/references/audit.md
Due: markdownlint

docs(codex): add docs-review skill
  profiles/common/xdg-config-home/codex/skills/docs-review/README.md
  profiles/common/xdg-config-home/codex/skills/docs-review/SKILL.md
  profiles/common/xdg-config-home/codex/skills/docs-review/agents/openai.yaml
  profiles/common/xdg-config-home/codex/skills/docs-review/references/review-checklist.md
Due: yamlfix, markdownlint

nyx: 2026-07-18T18:44:14+09:00
  profiles/common/xdg-config-home/cheat/cheatsheets/personal/codex
Due: none

Path conditions:
  shellharden: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shellcheck: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shfmt: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  just-fmt: any of: (^|/)(\.)?justfile$, but not: (?x)^(
  .*/lazy-lock.json
)$

  yamlfix: any of: \.(yaml|yml)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  taplo: any of: \.toml$, but not: (?x)^(
  .*/lazy-lock.json
)$

  biome: any of: \.(json|jsonc)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  markdownlint: any of: \.(md|markdown|mdown)$, but not: (?x)^(
  .*/lazy-lock.json
)$

