Repository hnjae/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellharden, shellcheck, shfmt, just-fmt, yamlfix, taplo, biome, markdownlint

shellharden:
  name: harden shell
  entry: shellharden --replace
  language: system

shellcheck:
  name: check shell
  entry: shellcheck
  language: system

shfmt:
  name: format shell
  entry: shfmt --indent 2 --simplify --write
  language: system

just-fmt:
  name: format just
  entry: bash -c 'just --fmt --unstable --justfile "$1"' --
  language: system

yamlfix:
  name: format yaml
  entry: yamlfix
  language: system

taplo:
  name: format toml
  entry: taplo format
  language: system

biome:
  name: format json(c)
  entry: biome format --write
  language: system

markdownlint:
  name: format markdown
  entry: markdownlint-cli2 --fix
  language: system

nyx: 2026-05-27T22:01:21+09:00
  lib/update-submodules.sh
  profiles/desktop/xdg-config-home/mpv/scripts/clip-copy.lua
Due: shellharden, shellcheck, shfmt

nyx: 2026-05-27T22:22:02+09:00
  profiles/common/xdg-config-home/zsh/modules/git/functions/git-commit-llm
Due: none

nyx: 2026-05-28T21:53:02+09:00
  profiles/common/home_Projects/mani.yaml
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/desktop/xdg-config-home/mpv/input.conf
  scripts/deploy-secrets-from-1password.sh
Due: shellharden, shellcheck, shfmt, yamlfix, taplo

nyx: 2026-05-28T23:08:59+09:00
  .gitmodules
  lib/update-submodules.sh
  profiles/desktop/xdg-config-home/mpv/mpv.conf
Due: shellharden, shellcheck, shfmt

nyx: 2026-05-29T22:56:59+09:00
  profiles/desktop/xdg-config-home/mpv/mpv.conf
  scripts/deploy-secrets-from-1password.sh
Due: shellharden, shellcheck, shfmt

nyx: 2026-05-31T01:05:58+09:00
  profiles/common/xdg-config-home/cheat/cheatsheets/personal/podman
  profiles/common/xdg-config-home/opencode/opencode.jsonc
  profiles/desktop-kde/install.d/configure-mimeapps.list.sh
Due: shellharden, shellcheck, shfmt, biome

nyx: 2026-05-31T11:57:58+09:00
  profiles/common/xdg-config-home/codex/config.toml.backup.2026-05-31
  profiles/common/xdg-config-home/zsh/.zimrc
  profiles/common/xdg-config-home/zsh/modules/agents/init.zsh
Due: none

nyx: 2026-05-31T13:35:12+09:00
  profiles/common/home_Projects/mani.yaml
  profiles/common/xdg-config-home/codex/AGENTS.md
  profiles/common/xdg-config-home/codex/rules/default.rules
Due: yamlfix, markdownlint

nyx: 2026-05-31T22:04:47+09:00
  devenv.yaml
  profiles/common/home_Projects/mani.yaml
  profiles/common/xdg-config-home/codex/skills/researched-html-note/agents/openai.yaml
  profiles/common/xdg-config-home/nvim/lua/plugins/extends/ai.codecompanion.lua
  profiles/common/xdg-config-home/yazi/devenv.lock
  profiles/common/xdg-config-home/yazi/devenv.nix
  profiles/common/xdg-config-home/yazi/devenv.yaml
  profiles/common/xdg-config-home/yazi/init.lua
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/package.toml
  profiles/common/xdg-config-home/zsh/.zimrc
  profiles/common/xdg-config-home/zsh/modules/1password/init.zsh
Due: yamlfix, taplo

refactor(yazi): rename my- prefix to local-
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/plugins/my-archive-previewer.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-change-permissions.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-change-permissions.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-copy-bracket-content.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-copy-bracket-content.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-copy-file-clipboard.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-copy-file-clipboard.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-copy-file-content.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-copy-file-content.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-copy-filename-osc52.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-copy-filename-osc52.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-copy-path-osc52.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-copy-path-osc52.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-file-create.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-file-create.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-mediainfo-preview.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-open-associated.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-open-associated.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-open-cwd-terminal.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-open-in-split.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-open-in-split.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-open-netrw-cr.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-open-netrw-cr.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-rename-with-vimv.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-rename-with-vimv.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-rmdir.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-rmdir.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-select-sort.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-select-sort.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-toggle-sort-reverse.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-toggle-sort-reverse.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/my-trash-with-trace.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-trash-with-trace.yazi/main.lua
  profiles/common/xdg-config-home/yazi/yazi.toml
Due: taplo, markdownlint

feat(yazi): add local relative motions plugin
  profiles/common/xdg-config-home/yazi/init.lua
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/plugins/local-relative-motions.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-relative-motions.yazi/main.lua
Due: taplo, markdownlint

feat(yazi): select relative range with space
  profiles/common/xdg-config-home/yazi/plugins/local-relative-motions.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-relative-motions.yazi/main.lua
Due: markdownlint

feat(yazi): add ansi flavor
  profiles/common/xdg-config-home/yazi/flavors/ansi.yazi/README.md
  profiles/common/xdg-config-home/yazi/flavors/ansi.yazi/flavor.toml
  profiles/common/xdg-config-home/yazi/package.toml
  profiles/common/xdg-config-home/yazi/theme.toml
Due: taplo, markdownlint

feat(yazi): align ansi flavor with dircolors
  profiles/common/xdg-config-home/yazi/flavors/ansi.yazi/README.md
  profiles/common/xdg-config-home/yazi/flavors/ansi.yazi/flavor.toml
Due: taplo, markdownlint

nyx: 2026-06-03T09:45:47+09:00
  profiles/common/home/.claude/settings.json
  profiles/desktop-kde/xdg-config-home/breezerc
  profiles/desktop/xdg-config-home/mpv/mpv.conf
Due: biome

feat(zsh): add nix develop wrapper
  .typos.toml
  profiles/common/xdg-config-home/zsh/modules/nix/functions/nd
Due: taplo

feat(nix): use devenv lsp for devenv.nix
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/nix.lua
Due: none

nyx: 2026-06-06T18:46:46+09:00
  profiles/common/xdg-config-home/ruff/pyproject.toml
  profiles/common/xdg-config-home/ruff/pyproject.toml.backup
  profiles/common/xdg-config-home/ruff/ruff.toml
  profiles/desktop-kde/install.d/configure-mimeapps.list.sh
Due: shellharden, shellcheck, shfmt, taplo

feat(kitty): add fixed-width custom tab bar
  profiles/desktop/xdg-config-home/kitty/kitty.conf
  profiles/desktop/xdg-config-home/kitty/tab_bar.py
Due: none

ci: overhaul devenv
  .gitignore
  AGENTS.md
  biome.json
  devenv.lock
  devenv.nix
  devenv.yaml
  devenv/common/devenv.lock
  devenv/common/devenv.nix
  devenv/common/devenv.yaml
  devenv/lua/devenv.lock
  devenv/lua/devenv.nix
  justfile
  nix/shared/devenv.nix
  profiles/common/xdg-config-home/codex/AGENTS.md
  profiles/common/xdg-config-home/nvim/devenv.nix
  profiles/common/xdg-config-home/nvim/devenv.yaml
  profiles/common/xdg-config-home/nvim/stylua.toml
  profiles/common/xdg-config-home/yazi/devenv.nix
  profiles/common/xdg-config-home/yazi/devenv.yaml
  profiles/common/xdg-config-home/yazi/stylua.toml
  ruff.toml
  rumdl.toml
  stylua.toml
  taplo.toml
  typos.toml
  yamlfmt.yaml
Due: just-fmt, yamlfix, taplo, biome, markdownlint

style: run formatter
  profiles/common/xdg-config-home/nvim/lazy-lock.json
  profiles/common/xdg-config-home/yazi/plugins/local-relative-motions.yazi/main.lua
  profiles/desktop/xdg-config-home/kitty/tab_bar.py
  profiles/desktop/xdg-config-home/mpv/scripts/clip-copy.lua
Due: none

nyx: 2026-06-09T20:32:06+09:00
  profiles/common/xdg-config-home/codex/AGENTS.md
  profiles/common/xdg-config-home/nvim/lazy-lock.json
Due: markdownlint

nyx: 2026-06-13T11:09:32+09:00
  profiles/common/xdg-config-home/codex/.gitignore
  profiles/common/xdg-config-home/opencode/opencode.jsonc
Due: biome

fix(kitty): bind command palette shortcut
  profiles/desktop/xdg-config-home/kitty/kitty.conf
Due: none

nyx: 2026-06-13T11:28:24+09:00
  devenv/common/devenv.nix
  devenv/lua/.gitignore
  devenv/lua/devenv.lock
Due: none

build: update lazy-lock.json
  profiles/common/xdg-config-home/nvim/lazy-lock.json
Due: none

feat(zsh): tighten zoxide wrapper arg validation and path handling
  profiles/common/xdg-config-home/zsh/modules/zoxide/init.zsh
Due: none

nyx: 2026-06-13T11:49:44+09:00
  profiles/common/xdg-config-home/opencode/opencode.jsonc
Due: biome

feat(termtitle): tmux owns termtitle in tmux
  profiles/common/xdg-config-home/tmux/tmux.conf
  profiles/common/xdg-config-home/zsh/modules/termtitle/init.zsh
Due: none

nyx: 2026-06-13T13:50:43+09:00
  profiles/common/xdg-config-home/codex/rules/default.rules
  profiles/common/xdg-config-home/yazi/.gitignore
  profiles/common/xdg-config-home/yazi/plugins/local-archive-previewer.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-change-permissions.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-change-permissions.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-copy-bracket-content.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-copy-bracket-content.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-copy-file-clipboard.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-copy-file-clipboard.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-copy-file-content.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-copy-file-content.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-copy-filename-osc52.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-copy-filename-osc52.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-copy-path-osc52.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-copy-path-osc52.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-file-create.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-file-create.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-mediainfo-preview.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-open-associated.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-open-associated.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-open-cwd-terminal.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-open-in-split.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-open-in-split.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-open-netrw-cr.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-open-netrw-cr.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-rename-with-vimv.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-rename-with-vimv.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-rmdir.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-rmdir.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-select-sort.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-select-sort.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-toggle-sort-reverse.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-toggle-sort-reverse.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-trash-with-trace.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-trash-with-trace.yazi/main.lua
Due: markdownlint

nyx: 2026-06-13T13:55:18+09:00
  profiles/common/xdg-config-home/opencode/AGENTS.md
Due: markdownlint

feat(kitty): force ctrl-shift-e horizontal split
  profiles/desktop/xdg-config-home/kitty/kitty.conf
Due: none

nyx: 2026-06-14T13:47:56+09:00
  profiles/common/xdg-config-home/nvim/lazy-lock.json
  profiles/common/xdg-data-home/navi/cheats/agent.cheat
Due: none

feat(yazi): add target paste workflow
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/plugins/local-targets.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-targets.yazi/main.lua
Due: taplo, markdownlint

fix(yazi): make target key follow hovered directory
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/plugins/local-targets.yazi/README.md
Due: taplo, markdownlint

docs(yazi): document target workflow keymap
  profiles/common/xdg-config-home/yazi/plugins/local-targets.yazi/README.md
Due: markdownlint

feat(yazi): add c-prefix file operations
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/plugins/local-targets.yazi/README.md
Due: taplo, markdownlint

nyx: 2026-06-14T14:20:15+09:00
  profiles/common/xdg-config-home/yazi/keymap.toml
Due: taplo

feat(local-targets): align m bindings with netrw
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-config-home/yazi/plugins/local-targets.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/local-targets.yazi/main.lua
Due: taplo, markdownlint

fix(local-targets): label target transfer prompts
  profiles/common/xdg-config-home/yazi/plugins/local-targets.yazi/main.lua
Due: none

Path conditions:
  shellharden: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shellcheck: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shfmt: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  just-fmt: any of: (^|/)(\.)?justfile$, but not: (?x)^(
  .*/lazy-lock.json
)$

  yamlfix: any of: \.(yaml|yml)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  taplo: any of: \.toml$, but not: (?x)^(
  .*/lazy-lock.json
)$

  biome: any of: \.(json|jsonc)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  markdownlint: any of: \.(md|markdown|mdown)$, but not: (?x)^(
  .*/lazy-lock.json
)$

