Repository hnjae/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellharden, shellcheck, shfmt, just-fmt, yamlfix, taplo, biome, markdownlint

shellharden:
  name: harden shell
  entry: shellharden --replace
  language: system

shellcheck:
  name: check shell
  entry: shellcheck
  language: system

shfmt:
  name: format shell
  entry: shfmt --indent 2 --simplify --write
  language: system

just-fmt:
  name: format just
  entry: bash -c 'just --fmt --unstable --justfile "$1"' --
  language: system

yamlfix:
  name: format yaml
  entry: yamlfix
  language: system

taplo:
  name: format toml
  entry: taplo format
  language: system

biome:
  name: format json(c)
  entry: biome format --write
  language: system

markdownlint:
  name: format markdown
  entry: markdownlint-cli2 --fix
  language: system

ci: migrate from markdownlint to rumdl
  .markdownlint.jsonc
  .pre-commit-config.yaml
  .rumdl.toml
  justfile
Due: just-fmt, yamlfix, taplo, biome

chore: add .yamlfmt.yaml with folded literal scanning
  .yamlfmt.yaml
Due: yamlfix

feat(editors): add installation task for Zed editor and include in main tasks
  ansible/roles/various/tasks/install-zed-editor.yaml
  ansible/roles/various/tasks/main.yaml
Due: yamlfix

refactor(ansible): replace is_flatpak with is_desktop and update env vars
  ansible/group_vars/all.yaml
  ansible/main.yaml
  ansible/roles/various/tasks/install-zed-editor.yaml
  install.sh
Due: shellharden, shellcheck, shfmt, yamlfix

hemera: 2026-03-15T12:18:00+09:00
  ansible/roles/various/tasks/install-zed-editor.yaml
Due: yamlfix

refactor(ansible): replace `which` with `command -v` for POSIX compatibility
  ansible/roles/default_app/tasks/remove-associations-brave.yaml
  ansible/roles/default_app/tasks/remove-associations-chrome.yaml
  ansible/roles/gather_facts/tasks/main.yaml
  ansible/roles/systemd_user_services/tasks/flatpak-update.yaml
  ansible/roles/systemd_user_services/tasks/nix-env-gc.yaml
  ansible/roles/systemd_user_services/tasks/tash-empty.yaml
  ansible/roles/systemd_user_services/tasks/tldr-update.yaml
  ansible/roles/various/tasks/deploy-secrets.yaml
  ansible/roles/various/tasks/init-or-sync-lazy-nvim.yaml
  ansible/roles/various/tasks/init-zimfw.yaml
Due: yamlfix

hemera: 2026-03-15T12:25:07+09:00
  README.md
  ansible/group_vars/all.yaml
  ansible/roles/various/tasks/install-zed-editor.yaml
Due: yamlfix, markdownlint

hemera: 2026-03-15T12:31:33+09:00
  ansible/roles/various/tasks/home-deploy-seafile-ignore.yaml
Due: yamlfix

hemera: 2026-03-15T12:50:46+09:00
  justfile
  profiles/40-kde/xdg-config/breezerc
Due: just-fmt

hemera: 2026-03-15T14:50:00+09:00
  profiles/00-default/xdg-config/wezterm/.editorconfig
  profiles/00-default/xdg-config/wezterm/.pre-commit-config.yaml
  profiles/00-default/xdg-config/wezterm/colors/_base24.toml
  profiles/00-default/xdg-config/wezterm/fonts.lua
  profiles/00-default/xdg-config/wezterm/refrences/colorscheme-example.toml
  profiles/00-default/xdg-config/wezterm/refrences/default-tabbar-color.lua
  profiles/00-default/xdg-config/wezterm/refrences/ui.lua
  profiles/00-default/xdg-config/wezterm/refrences/wezterm-inactive-pane-styling.md
  profiles/00-default/xdg-config/wezterm/refrences/wezterm-lua-api-reference.md
  profiles/00-default/xdg-config/wezterm/refrences/wezterm-pane-api-reference.md
  profiles/00-default/xdg-config/wezterm/stylua.toml
  profiles/00-default/xdg-config/wezterm/tabline.lua
  profiles/00-default/xdg-config/wezterm/wezterm.lua
Due: yamlfix, taplo, markdownlint

hemera: 2026-03-15T15:45:08+09:00
  profiles/00-default/xdg-config/ghostty/config
  profiles/00-default/xdg-config/joshuto/joshuto.toml
  profiles/00-default/xdg-config/nvim/lua/config/options/setups/options-appearance.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/replacements/colorscheme.lua
  profiles/00-default/xdg-config/zsh/.zimrc
  profiles/00-default/xdg-config/zsh/.zshrc
  profiles/40-kde/xdg-data/konsole/zsh.profile
Due: taplo

hemera: 2026-03-15T22:33:36+09:00
  profiles/00-default/home/.claude/settings.json
  profiles/00-default/xdg-config/ghostty/config
  profiles/40-linux-desktop/xdg-config/btop/btop.conf
Due: biome

hemera: 2026-03-16T11:27:18+09:00
  TODO.md
  install.sh
  profiles/00-default/xdg-config/ghostty/config
  profiles/00-default/xdg-data/navi/cheats/ostree.cheat
  profiles/80-home-desktop/Projects/mani.yaml
Due: shellharden, shellcheck, shfmt, yamlfix, markdownlint

hemera: 2026-03-16T12:12:55+09:00
  TODO.md
  profiles/00-default/xdg-data/navi/cheats/dnf.cheat
Due: markdownlint

fix(install): ensure script directory change occurs before dotbot command initialization
  install.sh
Due: shellharden, shellcheck, shfmt

hemera: 2026-03-16T19:32:44+09:00
  profiles/00-default/home/.claude/settings.json
  profiles/80-home-desktop/Projects/mani.yaml
Due: yamlfix, biome

feat(claude): add curl to allowed bash commands
  profiles/00-default/home/.claude/settings.json
Due: biome

feat(ansible): remove flatpak role and related tasks
  ansible/main.yaml
  ansible/roles/flatpak/tasks/add-flathub-repo.yaml
  ansible/roles/flatpak/tasks/bruno.yaml
  ansible/roles/flatpak/tasks/gimp.yaml
  ansible/roles/flatpak/tasks/global-overrides.yaml
  ansible/roles/flatpak/tasks/home-apps.yaml
  ansible/roles/flatpak/tasks/home-bottles.yaml
  ansible/roles/flatpak/tasks/home-calibre.yaml
  ansible/roles/flatpak/tasks/home-fooyin.yaml
  ansible/roles/flatpak/tasks/home-kid3.yaml
  ansible/roles/flatpak/tasks/home-opera.yaml
  ansible/roles/flatpak/tasks/home-picard.yaml
  ansible/roles/flatpak/tasks/home-puddletag.yaml
  ansible/roles/flatpak/tasks/home-telegram.yaml
  ansible/roles/flatpak/tasks/home-ticktick.yaml
  ansible/roles/flatpak/tasks/home-zotero.yaml
  ansible/roles/flatpak/tasks/image-viewer.yaml
  ansible/roles/flatpak/tasks/libreoffice.yaml
  ansible/roles/flatpak/tasks/main.yaml
  ansible/roles/flatpak/tasks/okular.yaml
  ansible/roles/flatpak/tasks/remove-apps.yaml
  ansible/roles/flatpak/tasks/thunderbird.yaml
  ansible/roles/flatpak/tasks/various-apps.yaml
  ansible/roles/flatpak/tasks/yacreader.yaml
  ansible/roles/gather_facts/tasks/main.yaml
  ansible/roles/various/files/profile.png
  ansible/roles/various/tasks/home-set-profile-picture.yaml
Due: yamlfix

feat(systemd): remove flatpak update service and timer
  ansible/roles/systemd_user_services/tasks/flatpak-update.yaml
Due: yamlfix

hemera: 2026-03-21T11:26:16+09:00
  profiles/00-default/home/.claude/settings.json
  profiles/00-default/xdg-config/nvim/ftplugin/markdown.lua
  profiles/00-default/xdg-config/nvim/lazyvim.json
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/_not-in-use/markdown.bullets.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/_not-in-use/markdown.formatting.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/_not-in-use/markdown.keymaps.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/_not-in-use/markdown.linting.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/_not-in-use/markdown.render-markdown.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/markdown.lsp.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/markdown.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/markdown.render-markdown.lua
Due: biome

chore: reorder editorconfig entries and adjust pre-commit hooks
  .biome.json
  .editorconfig
  .envrc
  .pre-commit-config.yaml
  .taplo.toml
  .yamlfmt.yaml
  justfile
Due: shellharden, shellcheck, shfmt, just-fmt, yamlfix, taplo, biome

hemera: 2026-03-21T13:03:12+09:00
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/json.lua
Due: none

hemera: 2026-03-21T14:47:38+09:00
  .pre-commit-config.yaml
  .taplo.toml
  profiles/00-default/xdg-data/navi/cheats/dnf.cheat
  profiles/00-default/xdg-data/navi/cheats/rpm-ostree.cheat
  profiles/80-home-desktop/ssh/config.bak
  profiles/80-home-desktop/xdg-config/git/config.bak
  scripts/ms-windows/registries/hwclock2utc.reg
Due: yamlfix, taplo

hemera: 2026-03-21T15:12:59+09:00
  profiles/00-default/xdg-config/ghostty/config
Due: none

hemera: 2026-03-21T15:24:49+09:00
  profiles/00-default/xdg-config/zsh/.zshrc
Due: none

hemera: 2026-03-21T15:27:15+09:00
  .envrc
Due: shellharden, shellcheck, shfmt

hemera: 2026-03-21T15:45:54+09:00
  install.sh
  profiles/00-default/xdg-config/ghostty/config
  profiles/00-default/xdg-config/zsh/.zshrc
Due: shellharden, shellcheck, shfmt

hemera: 2026-03-21T15:48:17+09:00
  profiles/00-default/xdg-config/zsh/.zshenv
  profiles/00-default/xdg-config/zsh/.zshrc
Due: none

hemera: 2026-03-22T10:55:21+09:00
  ansible/roles/systemd_user_services/tasks/ghostty.yaml
  ansible/roles/systemd_user_services/tasks/main.yaml
  ansible/roles/systemd_user_services/tasks/tldr-update.yaml
  ansible/roles/various/tasks/install-zed-editor.yaml
  ansible/roles/various/tasks/main.yaml
  profiles/00-default/home/.claude/settings.json
Due: yamlfix, biome

feat(zsh): source /etc/profile in .zshenv
  profiles/00-default/xdg-config/zsh/.zshenv
Due: none

nyx: 2026-03-22T11:37:55+09:00
  profiles/40-kde/xdg-config/kxkbrc
  profiles/40-linux-desktop/xdg-config/fcitx5/config
Due: none

nyx: 2026-03-22T11:40:04+09:00
  .envrc
Due: shellharden, shellcheck, shfmt

nyx: 2026-03-22T11:44:36+09:00
  install.sh
  profiles/00-default/Projects/justfile
  profiles/00-default/Projects/mani.yaml
  profiles/00-default/install.conf.yaml
  profiles/00-default/ssh/config
  profiles/00-default/ssh/known_hosts.permanent
  profiles/00-default/xdg-config/git/_base24-delta.gitconfig
  profiles/00-default/xdg-config/git/allowed_signers
  profiles/00-default/xdg-config/git/config
  profiles/00-default/xdg-config/git/config.bak
  profiles/00-default/xdg-config/git/gitmessage.txt
  profiles/00-default/xdg-config/git/ignore
  profiles/80-home-desktop/install.conf.yaml
  profiles/80-home-desktop/ssh/config.bak
Due: shellharden, shellcheck, shfmt, just-fmt, yamlfix

nyx: 2026-03-22T12:23:04+09:00
  README.md
  TODO.md
  ansible/README.md
  ansible/ansible.cfg
  ansible/group_vars/all.yaml
  ansible/inventory.ini
  ansible/main.yaml
  ansible/requirements.yml
  ansible/roles/default_app/tasks/audio-player.yaml
  ansible/roles/default_app/tasks/browser.yaml
  ansible/roles/default_app/tasks/main.yaml
  ansible/roles/default_app/tasks/others.yaml
  ansible/roles/default_app/tasks/remove-associations-brave.yaml
  ansible/roles/default_app/tasks/remove-associations-chrome.yaml
  ansible/roles/default_app/tasks/text-editor.yaml
  ansible/roles/default_app/tasks/video-player.yaml
  ansible/roles/gather_facts/tasks/main.yaml
  ansible/roles/systemd_user_services/files/nix-env-gc
  ansible/roles/systemd_user_services/handlers/main.yaml
  ansible/roles/systemd_user_services/tasks/ensure-directory.yaml
  ansible/roles/systemd_user_services/tasks/main.yaml
  ansible/roles/systemd_user_services/tasks/nix-env-gc.yaml
  ansible/roles/systemd_user_services/tasks/nix-profile-gc.yaml
  ansible/roles/systemd_user_services/tasks/tash-empty.yaml
  ansible/roles/systemd_user_services/vars/main.yaml
  ansible/roles/various/files/seafile-ignore.txt
  ansible/roles/various/tasks/deploy-secrets.yaml
  ansible/roles/various/tasks/deploy-systemd-user-tmpfiles.yaml
  ansible/roles/various/tasks/home-deploy-seafile-ignore.yaml
  ansible/roles/various/tasks/init-or-sync-lazy-nvim.yaml
  ansible/roles/various/tasks/init-zimfw.yaml
  ansible/roles/various/tasks/main.yaml
  ansible/run.sh
  justfile
  profiles/00-default/home/.claude/settings.json
  scripts/ms-windows/init-registries.ps1
  scripts/ms-windows/registries/disable-edge.reg
  scripts/ms-windows/registries/start-disable-search.reg
  scripts/ms-windows/registries/start-disable-web-suggestion.reg
Due: shellharden, shellcheck, shfmt, just-fmt, yamlfix, biome, markdownlint

nyx: 2026-03-22T12:43:39+09:00
  install.sh
  profiles/10-secrets/deploy.sh
  profiles/10-secrets/install.conf.yaml
Due: shellharden, shellcheck, shfmt, yamlfix

nyx: 2026-03-22T15:11:52+09:00
  .envrc
  profiles/00-default/Projects/mani.yaml
  profiles/50-kde/xdg-config/fcitx5/.gitignore
  profiles/50-kde/xdg-config/fcitx5/conf/notifications.conf
Due: shellharden, shellcheck, shfmt, yamlfix

hemera: 2026-03-22T17:57:48+09:00
  profiles/00-default/xdg-data/navi/cheats/pnpm.cheat
Due: none

Path conditions:
  shellharden: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shellcheck: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shfmt: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  just-fmt: any of: (^|/)(\.)?justfile$, but not: (?x)^(
  .*/lazy-lock.json
)$

  yamlfix: any of: \.(yaml|yml)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  taplo: any of: \.toml$, but not: (?x)^(
  .*/lazy-lock.json
)$

  biome: any of: \.(json|jsonc)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  markdownlint: any of: \.(md|markdown|mdown)$, but not: (?x)^(
  .*/lazy-lock.json
)$

