Repository hnjae/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellharden, shellcheck, shfmt, just-fmt, yamlfix, taplo, biome, markdownlint

shellharden:
  name: harden shell
  entry: shellharden --replace
  language: system

shellcheck:
  name: check shell
  entry: shellcheck
  language: system

shfmt:
  name: format shell
  entry: shfmt --indent 2 --simplify --write
  language: system

just-fmt:
  name: format just
  entry: bash -c 'just --fmt --unstable --justfile "$1"' --
  language: system

yamlfix:
  name: format yaml
  entry: yamlfix
  language: system

taplo:
  name: format toml
  entry: taplo format
  language: system

biome:
  name: format json(c)
  entry: biome format --write
  language: system

markdownlint:
  name: format markdown
  entry: markdownlint-cli2 --fix
  language: system

nyx: 2026-05-02T08:16:00+09:00
  profiles/common/home/.codex/rules/default.rules
  profiles/common/xdg-config-home/nvim/lazy-lock.json
  profiles/common/xdg-config-home/nvim/lazyvim.json
  profiles/common/xdg-config-home/nvim/lua/config/options/setups/local-macro.lua
Due: biome

feat(common): add bash config
  .gitmodules
  profiles/common/home/.bash_profile
  profiles/common/home/.bashrc
  profiles/common/xdg-config-home/bash/bashrc
Due: none

nyx: 2026-05-02T10:50:17+09:00
  profiles/common/xdg-config-home/nvim/lazy-lock.json
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/rust.lua
  profiles/desktop/xdg-config-home/zed/settings.json
Due: biome

nyx: 2026-05-02T11:27:02+09:00
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/qml.lua
Due: none

nyx: 2026-05-03T15:04:35+09:00
  profiles/common/xdg-config-home/nvim/lazy-lock.json
  profiles/common/xdg-config-home/nvim/lazyvim.json
  profiles/common/xdg-data-home/navi/cheats/agent.cheat
  profiles/common/xdg-data-home/navi/cheats/diskpart.cheat
Due: biome

nyx: 2026-05-03T16:05:30+09:00
  profiles/common/xdg-data-home/navi/cheats/agent.cheat
  profiles/desktop/install.conf.yaml
  profiles/desktop/install.d/mimeapps/__init__.py
  profiles/desktop/install.d/mimeapps/configure_removed_associations.py
  profiles/desktop/install.d/mimeapps/test_configure_removed_associations.py
Due: yamlfix

nyx: 2026-05-03T19:37:24+09:00
  profiles/common/xdg-config-home/nvim/.typos.toml
  profiles/common/xdg-config-home/nvim/shell.nix
Due: taplo

chore: centralize git hooks
  dev/devenv.nix
  devenv.nix
  profiles/common/home/.claude/.claude.json
  profiles/common/home/.gemini/settings.json
  profiles/common/xdg-config-home/nvim/devenv.nix
  profiles/common/xdg-config-home/nvim/justfile
  profiles/common/xdg-config-home/nvim/lazyvim.json
  profiles/common/xdg-config-home/yazi/devenv.nix
  profiles/common/xdg-config-home/yazi/justfile
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/desktop/xdg-config-home/alacritty/.pre-commit-config.yaml
Due: just-fmt, yamlfix, taplo, biome

nyx: 2026-05-04T00:56:33+09:00
  profiles/common/xdg-config-home/git/ignore
  profiles/desktop/install.d/mimeapps/configure_removed_associations.py
Due: none

nyx: 2026-05-04T22:31:55+09:00
  profiles/common/home/.codex/rules/default.rules
  profiles/common/home_Projects/mani.yaml
  profiles/common/xdg-config-home/zsh/modules/git/functions/git-commit-llm
  profiles/common/xdg-config-home/zsh/modules/git/functions/git-commit-llm-simple
  profiles/common/xdg-data-home/navi/cheats/agent.cheat
  profiles/common/xdg-data-home/navi/cheats/devenv.cheat
  profiles/common/xdg-data-home/navi/cheats/kde.cheat
Due: yamlfix

nyx: 2026-05-05T00:32:39+09:00
  artifacts/my-llm-prompts/20260505-spec.md-fix.md
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/asciidoc.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/editorconfig.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/json.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/lua.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/markdown.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/python.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/rust.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/sh.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/terraform.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/toml.formatting.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/yaml.formatting.lua
  profiles/common/xdg-config-home/zsh/modules/home/functions/agent-refactor
  profiles/common/xdg-data-home/navi/cheats/agent.cheat
  profiles/common/xdg-data-home/navi/cheats/tofu.cheat
  profiles/common/xdg-data-home/navi/cheats/virsh.cheat
Due: markdownlint

nyx: 2026-05-05T09:12:39+09:00
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/gitcommit.linting.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/gitcommit.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/hurl.lua
  profiles/common/xdg-config-home/zsh/modules/git/functions/git-commit-llm
Due: none

nyx: 2026-05-05T10:00:14+09:00
  profiles/common/home/.codex/rules/default.rules
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/gitcommit.lua
  profiles/common/xdg-data-home/navi/cheats/virsh.cheat
Due: none

fix(bash): source XDG bash startup files
  profiles/common/home/.bash_profile
  profiles/common/home/.bashrc
  profiles/common/xdg-config-home/bash/bashenv
  profiles/common/xdg-config-home/bash/bashrc
Due: none

feat(zsh): show date in SSH time segment
  profiles/common/xdg-config-home/zsh/modules/prompt/config.json
Due: biome

nyx: 2026-05-06T11:55:09+09:00
  profiles/common/xdg-config-home/bash/bashenv
  profiles/common/xdg-config-home/bash/bashrc
  profiles/common/xdg-config-home/oh-my-posh.json
  profiles/common/xdg-config-home/zsh/modules/prompt/init.zsh
Due: biome

nyx: 2026-05-06T13:05:46+09:00
  profiles/common/xdg-config-home/bash/bashrc
Due: none

nyx: 2026-05-06T13:40:55+09:00
  profiles/desktop-kde/install.d/apply-kde-config.sh
  profiles/desktop-kde/xdg-config-home/konsolerc
Due: shellharden, shellcheck, shfmt

nyx: 2026-05-06T13:43:55+09:00
  profiles/desktop-kde/xdg-data-home/konsole/gruvbox-dark.colorscheme
  profiles/desktop-kde/xdg-data-home/konsole/gruvbox-light-tuned.colorscheme
  profiles/desktop/xdg-config-home/alacritty/themes/gruvbox-dark.toml
  profiles/desktop/xdg-config-home/alacritty/themes/gruvbox-light-tuned.toml
  profiles/desktop/xdg-config-home/foot/themes/gruvbox-dark.ini
  profiles/desktop/xdg-config-home/foot/themes/gruvbox-light-tuned.ini
  profiles/desktop/xdg-config-home/ghostty/config
  profiles/desktop/xdg-config-home/ghostty/themes/gruvbox-dark.conf
  profiles/desktop/xdg-config-home/ghostty/themes/gruvbox-light-tuned.conf
Due: taplo

nyx: 2026-05-06T21:57:33+09:00
  profiles/common/codex_config_base.toml
  profiles/common/home_.ssh/config
Due: taplo

nyx: 2026-05-07T23:33:33+09:00
  profiles/common/home_.ssh/config
  profiles/common/xdg-config-home/nvim/lua/config/options/setups/options-appearance.lua
  profiles/common/xdg-config-home/nvim/snippets/snippets/just-2.json
  profiles/common/xdg-config-home/opencode/oh-my-openagent.jsonc
  profiles/common/xdg-config-home/opencode/oh-my-openagent.jsonc.bak.2026-05-07T03-41-45-552Z
  profiles/common/xdg-config-home/opencode/oh-my-openagent.jsonc.migrations.json
  profiles/common/xdg-config-home/zsh/.typos.toml
  profiles/common/xdg-config-home/zsh/modules/fzf/init.zsh
  profiles/common/xdg-config-home/zsh/modules/git/init.zsh
  profiles/common/xdg-data-home/navi/cheats/agent.cheat
  profiles/desktop-kde/xdg-config-home/konsolesshconfig
  profiles/desktop-kde/xdg-data-home/konsole/base24-gruvbox-dark.colorscheme
  profiles/desktop-kde/xdg-data-home/konsole/base24-gruvbox-light.colorscheme
  profiles/desktop-kde/xdg-data-home/konsole/gruvbox-dark-tuned.colorscheme
  profiles/desktop-kde/xdg-data-home/konsole/gruvbox-light-tuned.colorscheme
  profiles/desktop-kde/xdg-data-home/konsole/zsh.profile
  profiles/desktop/xdg-config-home/alacritty/_base24.toml
  profiles/desktop/xdg-config-home/alacritty/alacritty.toml
  profiles/desktop/xdg-config-home/alacritty/themes/gruvbox-dark-tuned.toml
  profiles/desktop/xdg-config-home/alacritty/themes/gruvbox-dark.toml
  profiles/desktop/xdg-config-home/foot/foot.ini
  profiles/desktop/xdg-config-home/foot/themes/gruvbox-dark-tuned.ini
  profiles/desktop/xdg-config-home/foot/themes/gruvbox-dark.ini
  profiles/desktop/xdg-config-home/foot/themes/gruvbox-light-tuned.ini
  profiles/desktop/xdg-config-home/ghostty/config
  profiles/desktop/xdg-config-home/ghostty/themes/gruvbox-dark
  profiles/desktop/xdg-config-home/ghostty/themes/gruvbox-light-tuned
  profiles/desktop/xdg-config-home/kitty/dark-theme.auto.conf
  profiles/desktop/xdg-config-home/kitty/kitty.conf
  profiles/desktop/xdg-config-home/kitty/light-theme.auto.conf
  profiles/desktop/xdg-config-home/kitty/no-preference-theme.auto.conf
  profiles/desktop/xdg-config-home/kitty/themes/gruvbox-dark-tuned.conf
  profiles/desktop/xdg-config-home/kitty/themes/gruvbox-light-tuned.conf
Due: taplo, biome

nyx: 2026-05-08T08:49:31+09:00
  .gitmodules
  profiles/common/home/.bashrc
  profiles/common/xdg-config-home/bash/.bash_modules
  profiles/common/xdg-config-home/bash/.bashenv
  profiles/common/xdg-config-home/bash/.bashrc
  profiles/common/xdg-config-home/bash/bashrc
  profiles/common/xdg-config-home/bash/modules/fzf/init.bash
  profiles/common/xdg-config-home/bash/modules/oh-my-posh/init.bash
  profiles/common/xdg-config-home/bash/modules/zoxide/init.bash
Due: shellharden, shellcheck, shfmt

nyx: 2026-05-09T14:56:10+09:00
  profiles/desktop-kde/install.d/configure-mimeapps.list.sh
  profiles/desktop-kde/xdg-config-home/fcitx5/config
  profiles/desktop/install.d/mimeapps/configure_removed_associations.py
  profiles/desktop/xdg-config-home/kitty/kitty.conf
  scripts/deploy-secrets-from-1password.sh
Due: shellharden, shellcheck, shfmt

nyx: 2026-05-09T15:17:58+09:00
  profiles/common/xdg-config-home/zsh/modules/fzf-tab/init.zsh
  profiles/common/xdg-config-home/zsh/modules/fzf/init.zsh
Due: none

build(nvim): update lazy-lock.json
  profiles/common/xdg-config-home/nvim/lazy-lock.json
Due: none

feat(nvim): add shfmt formatter for zsh
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/zsh.lua
Due: none

style(zsh): run shfmt
  profiles/common/xdg-config-home/zsh/.zimrc
  profiles/common/xdg-config-home/zsh/.zshenv
  profiles/common/xdg-config-home/zsh/.zshrc
  profiles/common/xdg-config-home/zsh/modules/bat/init.zsh
  profiles/common/xdg-config-home/zsh/modules/cheat/init.zsh
  profiles/common/xdg-config-home/zsh/modules/eza/init.zsh
  profiles/common/xdg-config-home/zsh/modules/flatpak/init.zsh
  profiles/common/xdg-config-home/zsh/modules/jq/init.zsh
  profiles/common/xdg-config-home/zsh/modules/mani/init.zsh
  profiles/common/xdg-config-home/zsh/modules/navi/init.zsh
  profiles/common/xdg-config-home/zsh/modules/nix/init.zsh
  profiles/common/xdg-config-home/zsh/modules/podman/init.zsh
  profiles/common/xdg-config-home/zsh/modules/prompt/init.zsh
  profiles/common/xdg-config-home/zsh/modules/rsync/init.zsh
  profiles/common/xdg-config-home/zsh/modules/systemd/init.zsh
  profiles/common/xdg-config-home/zsh/modules/termtitle/init.zsh
  profiles/common/xdg-config-home/zsh/modules/tmux/init.zsh
  profiles/common/xdg-config-home/zsh/modules/utilities/init.zsh
  profiles/common/xdg-config-home/zsh/modules/yazi/init.zsh
  profiles/common/xdg-config-home/zsh/modules/zoxide/init.zsh
Due: none

nyx: 2026-05-09T16:11:51+09:00
  profiles/common/xdg-config-home/zsh/.zprofile
Due: none

nyx: 2026-05-09T16:45:41+09:00
  profiles/common/README.md
  profiles/common/home/.bash_profile
  profiles/common/home/.bashenv
  profiles/common/home/.bashrc
  profiles/common/xdg-config-home/bash/.bashenv
  profiles/common/xdg-config-home/bash/.bashrc
  profiles/common/xdg-config-home/opencode/themes_/test.json
  profiles/common/xdg-config-home/zsh/.zprofile
  profiles/common/xdg-config-home/zsh/.zshenv
Due: biome, markdownlint

nyx: 2026-05-09T17:27:58+09:00
  profiles/common/home_Projects/mani.yaml
  profiles/common/xdg-config-home/opencode/.gitignore
  profiles/common/xdg-config-home/opencode/oh-my-openagent.jsonc
  profiles/common/xdg-data-home/navi/cheats/agent.cheat
  profiles/desktop-kde/xdg-data-home/konsole/zsh.profile
  profiles/desktop/xdg-config-home/ghostty/config
  profiles/desktop/xdg-config-home/kitty/kitty.conf
Due: yamlfix, biome

nyx: 2026-05-10T11:00:14+09:00
  profiles/common/xdg-config-home/tmux/tmux.conf
  profiles/common/xdg-config-home/zsh/modules/git/functions/git-commit-llm
  profiles/common/xdg-config-home/zsh/modules/git/init.zsh
  profiles/desktop/xdg-config-home/foot/themes/gruvbox-dark-tuned.ini
  profiles/desktop/xdg-config-home/foot/themes/gruvbox-light-tuned.ini
  profiles/desktop/xdg-config-home/ghostty/config
  profiles/desktop/xdg-config-home/ghostty/themes/gruvbox-dark-tuned
  profiles/desktop/xdg-config-home/ghostty/themes/gruvbox-light-tuned
  profiles/desktop/xdg-config-home/kitty/themes/gruvbox-dark-tuned.conf
  profiles/desktop/xdg-config-home/kitty/themes/gruvbox-light-tuned.conf
Due: none

nyx: 2026-05-10T13:07:21+09:00
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/markdown.lua
  profiles/common/xdg-config-home/tmux/tmux.conf
  profiles/common/xdg-config-home/zsh/modules/systemd/init.zsh
  profiles/common/xdg-data-home/navi/cheats/linux-utilities/lvm.cheat
Due: none

feat: implement logger in install.sh
  install.sh
Due: shellharden, shellcheck, shfmt

nyx: 2026-05-10T16:16:47+09:00
  profiles/desktop-kde/install.d/configure-mimeapps.list.sh
  profiles/desktop/install.d/mimeapps/configure_removed_associations.py
  profiles/desktop/install.d/mimeapps/justfile
  profiles/desktop/install.d/mimeapps/test_configure_removed_associations.py
Due: shellharden, shellcheck, shfmt, just-fmt

nyx: 2026-05-10T17:05:11+09:00
  install.sh
  profiles/common/install.d/install-mason-tools.sh
Due: shellharden, shellcheck, shfmt

nyx: 2026-05-12T22:15:31+09:00
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/tex.lua
  profiles/common/xdg-data-home/navi/cheats/linux-utilities/cups.cheat
Due: none

nyx: 2026-05-12T22:50:58+09:00
  profiles/common/xdg-config-home/opencode/.gitignore
  profiles/common/xdg-config-home/opencode/justfile
  profiles/common/xdg-config-home/opencode/oh-my-openagent.jsonc
  profiles/common/xdg-config-home/opencode/oh-my-openagent.jsonc.bak.2026-04-13T19-05-15+09:00
  profiles/common/xdg-config-home/opencode/oh-my-openagent.jsonc.migrations.json
Due: just-fmt, biome

nyx: 2026-05-13T08:49:43+09:00
  profiles/common/xdg-config-home/zsh/modules/git/functions/git-commit-llm
Due: none

nyx: 2026-05-14T10:59:11+09:00
  install.sh
  profiles/desktop-kde/install.d/configure-mimeapps.list.sh
  profiles/desktop/install.d/mimeapps/configure_removed_associations.py
Due: shellharden, shellcheck, shfmt

nyx: 2026-05-16T11:12:45+09:00
  profiles/common/xdg-config-home/cheat/cheatsheets/personal/tmux
  profiles/common/xdg-config-home/tmux/tmux.conf
  profiles/common/xdg-data-home/navi/cheats/git.cheat
  profiles/desktop/xdg-config-home/alacritty/keybindings.toml
  profiles/desktop/xdg-config-home/foot/foot.ini
  profiles/desktop/xdg-config-home/kitty/kitty.conf
  profiles/desktop/xdg-config-home/kitty/themes/gruvbox-dark-tuned.conf
  profiles/desktop/xdg-config-home/kitty/themes/gruvbox-light-tuned.conf
Due: taplo

Path conditions:
  shellharden: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shellcheck: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shfmt: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  just-fmt: any of: (^|/)(\.)?justfile$, but not: (?x)^(
  .*/lazy-lock.json
)$

  yamlfix: any of: \.(yaml|yml)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  taplo: any of: \.toml$, but not: (?x)^(
  .*/lazy-lock.json
)$

  biome: any of: \.(json|jsonc)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  markdownlint: any of: \.(md|markdown|mdown)$, but not: (?x)^(
  .*/lazy-lock.json
)$

