Repository hnjae/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellharden, shellcheck, shfmt, just-fmt, yamlfix, taplo, biome, markdownlint

shellharden:
  name: harden shell
  entry: shellharden --replace
  language: system

shellcheck:
  name: check shell
  entry: shellcheck
  language: system

shfmt:
  name: format shell
  entry: shfmt --indent 2 --simplify --write
  language: system

just-fmt:
  name: format just
  entry: bash -c 'just --fmt --unstable --justfile "$1"' --
  language: system

yamlfix:
  name: format yaml
  entry: yamlfix
  language: system

taplo:
  name: format toml
  entry: taplo format
  language: system

biome:
  name: format json(c)
  entry: biome format --write
  language: system

markdownlint:
  name: format markdown
  entry: markdownlint-cli2 --fix
  language: system

hemera: 2026-04-18T09:39:49+09:00
  dev/devenv.nix
  devenv.yaml
  profiles/common/xdg-config-home/cheat/cheatsheets/personal/podman
  profiles/common/xdg-config-home/nvim/lazy-lock.json
  profiles/common/xdg-config-home/nvim/lua/plugins/overrides/_conditional.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/overrides/lsp.mason.lua
  profiles/common/xdg-config-home/opencode/themes_/gruvbox-light.json
Due: yamlfix, biome

chore(devenv): overhaul devenv
  dev/devenv.nix
  dev/devenv.yaml
  devenv.lock
  devenv.nix
  devenv.yaml
  profiles/common/xdg-config-home/nvim/devenv.lock
  profiles/common/xdg-config-home/nvim/devenv.nix
  profiles/common/xdg-config-home/nvim/devenv.yaml
  profiles/common/xdg-config-home/yazi/devenv.lock
  profiles/common/xdg-config-home/yazi/devenv.nix
  profiles/common/xdg-config-home/yazi/devenv.yaml
Due: yamlfix

chore: typos overhaul
  .taplo.toml
  .typos.toml
  devenv.nix
  profiles/common/xdg-config-home/nvim/.typos.toml
  profiles/common/xdg-config-home/nvim/spell/en.utf-8.add
Due: taplo

style: fix typos
  profiles/common/xdg-config-home/cheat/conf.yml
  profiles/common/xdg-config-home/nvim/snippets/snippets/frameworks/unity.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/license.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/plantuml.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/ruby/rdoc.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/rust/rustdoc.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/solidity.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/svelte.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/tcl.json
  profiles/common/xdg-config-home/nvim/snippets/snippets/vhdl.json
  profiles/desktop-kde/xdg-config-home/fcitx5/conf/waylandim.conf
Due: yamlfix, biome

hemera: 2026-04-18T14:00:45+09:00
  profiles/common/xdg-config-home/nvim/lua/config/lazy.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/sh.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/overrides/_conditional.lua
  profiles/common/xdg-config-home/opencode/themes_/test.json
  profiles/common/xdg-config-home/zsh/modules/git/init.zsh
  profiles/common/xdg-config-home/zsh/modules/nix/init.zsh
  profiles/common/xdg-config-home/zsh/modules/oh-my-posh/init.zsh
  profiles/common/xdg-config-home/zsh/modules/utilities/init.zsh
Due: biome

feat(zsh): submodule-lize zsh-vi-mode and various updates
  .gitmodules
  profiles/common/xdg-config-home/zsh/.zimrc
  profiles/common/xdg-config-home/zsh/.zshrc
  profiles/common/xdg-config-home/zsh/modules/zsh-vi-mode/init.zsh
  profiles/common/xdg-data-home/navi/cheats/git-submodule.cheat
  profiles/common/xdg-data-home/navi/cheats/git.cheat
  profiles/desktop/xdg-config-home/ghostty/config
Due: none

feat(nvim/snacks): fix color
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/snacks.lua
Due: none

hemera: 2026-04-19T10:32:13+09:00
  .typos.toml
  profiles/common/home/.gemini/.gitignore
  profiles/common/home/.gemini/settings.json
  profiles/common/xdg-bin-home/ocv
  profiles/common/xdg-config-home/git/ignore
  profiles/common/xdg-config-home/nvim/lazyvim.json
  profiles/common/xdg-config-home/nvim/lua/plugins/overrides/_conditional.lua
  profiles/common/xdg-config-home/nvim/snippets/snippets/just-2.json
  profiles/common/xdg-config-home/opencode/themes/ansi.json
  profiles/common/xdg-config-home/opencode/themes/gruvbox2.json
  profiles/common/xdg-config-home/ruff/ruff.toml
  profiles/common/xdg-config-home/zsh/modules/home/init.zsh
  profiles/common/xdg-data-home/navi/cheats/apt.cheat
  profiles/common/xdg-data-home/navi/cheats/cargo.cheat
  profiles/common/xdg-data-home/navi/cheats/nix/flake-init.cheat
  profiles/common/xdg-data-home/navi/cheats/nix/flake.cheat
  profiles/common/xdg-data-home/navi/cheats/podman.cheat
Due: taplo, biome

hemera: 2026-04-19T16:07:32+09:00
  profiles/common/xdg-config-home/nvim/lua/config/lazy.lua
  profiles/common/xdg-config-home/nvim/lua/globals/icons.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/go.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lazydev/__not-in-use/grug-far.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lazydev/__not-in-use/mason.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lazydev/__not-in-use/noice.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lazydev/__not-in-use/nvim-cmp.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lazydev/__not-in-use/trouble.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/overrides/_conditional.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/icons._kind-icons.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/icons.mini-icons.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/icons.which-key.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/ui.lualine.conform.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/ui.lualine.lspconfig.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/which-key.lua
  profiles/common/xdg-config-home/ruff/pyproject.toml
  profiles/common/xdg-config-home/ruff/ruff.toml
  profiles/common/xdg-config-home/zsh/.zshrc
Due: taplo

hemera: 2026-04-19T20:09:46+09:00
  profiles/common/home/.codex/rules/default.rules
  profiles/common/xdg-config-home/nvim/lua/globals/icons.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/extends/util.gp.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/icons.which-key.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/which-key.overseer.lua
  profiles/common/xdg-config-home/opencode/opencode-vanilla.jsonc
  profiles/common/xdg-config-home/opencode/opencode.jsonc
  profiles/common/xdg-data-home/navi/cheats/virsh.cheat
Due: biome

hemera: 2026-04-19T20:56:01+09:00
  .gitmodules
  profiles/common/xdg-config-home/zsh/.zimrc
  profiles/common/xdg-config-home/zsh/.zshrc
  profiles/common/xdg-config-home/zsh/modules/fzf-tab/init.zsh
  profiles/common/xdg-config-home/zsh/modules/zsh-vi-mode/init.zsh
Due: none

hemera: 2026-04-19T21:28:46+09:00
  profiles/common/xdg-config-home/zsh/.zimrc
  profiles/common/xdg-config-home/zsh/.zshrc
  profiles/common/xdg-config-home/zsh/modules/fzf-tab/init.zsh
  profiles/common/xdg-config-home/zsh/modules/oh-my-posh/config.bak.json
Due: biome

hemera: 2026-04-19T21:59:16+09:00
  profiles/common/home/.codex/rules/default.rules
  profiles/common/xdg-config-home/yazi/plugins/my-open-netrw-cr.yazi/README.md
  profiles/common/xdg-config-home/yazi/plugins/my-open-netrw-cr.yazi/main.lua
  profiles/common/xdg-config-home/yazi/yazi.toml
  profiles/common/xdg-data-home/navi/cheats/virsh.cheat
Due: taplo, markdownlint

hemera: 2026-04-19T23:22:06+09:00
  profiles/common/home/.codex/rules/default.rules
  profiles/common/xdg-config-home/ruff/ruff.toml
  profiles/common/xdg-config-home/yazi/keymap.toml
  profiles/common/xdg-data-home/navi/cheats/virsh.cheat
Due: taplo

hemera: 2026-04-20T10:53:10+09:00
  profiles/common/xdg-config-home/zsh/.zprofile
  profiles/desktop-kde/xdg-config-home/kwinrulesrc
Due: none

feat(zsh): add git-commit-llm helper
  profiles/common/xdg-config-home/zsh/modules/git/functions/git-commit-llm
Due: none

feat(nvim): gate gruvbox-material on non truecolor support
  profiles/common/xdg-config-home/nvim/lua/config/options/setups/options-appearance.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/replacements/colorscheme.lua
Due: none

feat(nvim): skip Mason packages lacking prerequisites
  profiles/common/xdg-config-home/nvim/README.md
  profiles/common/xdg-config-home/nvim/lua/plugins/overrides/_conditional.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/overrides/lsp.mason.lua
Due: markdownlint

feat(nvim): skip Mason installs without prerequisites
  profiles/common/xdg-config-home/nvim/lua/plugins/overrides/lsp.mason.lua
  profiles/common/xdg-config-home/nvim/lua/utils/mason.lua
Due: none

hemera: 2026-04-20T18:11:55+09:00
  profiles/common/home/.claude/.claude.json
  profiles/common/home/.codex/rules/default.rules
  profiles/common/xdg-config-home/nvim/README.md
  profiles/common/xdg-config-home/nvim/lua/plugins/README.md
  profiles/common/xdg-config-home/nvim/lua/plugins/extends/editor.diffview.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/markdown.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/overrides/_not-in-use/lsp.mason.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/replacements/colorscheme.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/_not-in-use/which-key.flash.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/highlights.snacks.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/icons._kind-icons.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/icons.lazyvim.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/icons.mini-icons.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/icons.which-key.gitsigns.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/icons.which-key.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/icons.which-key.overseer.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/lazyvim.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/lualine.conform.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/lualine.lspconfig.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/lualine.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/lualine.none-ls.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/lualine.nvim-lint.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/lualine.overseer.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/visual/snacks.lua
  profiles/common/xdg-config-home/nvim/lua/utils/init.lua
  profiles/common/xdg-config-home/nvim/lua/utils/mason.lua
  profiles/common/xdg-config-home/opencode/opencode.jsonc
  profiles/common/xdg-config-home/zsh/.zshrc
  profiles/common/xdg-data-home/navi/cheats/git-remote.cheat
  profiles/desktop-kde/xdg-config-home/fcitx5/config
  profiles/desktop-kde/xdg-config-home/kwinrulesrc
Due: biome, markdownlint

hemera: 2026-04-20T22:58:09+09:00
  .gitmodules
  artifacts/my-llm-prompts/20260101-agent-spec.ko.md
  profiles/common/install.conf.yaml
  profiles/common/xdg-config-home/zsh/modules/zsh-vi-mode/init.zsh
  profiles/common/xdg-data-home/navi/cheats/git.cheat
  profiles/common/xdg-data-home/navi/cheats/ssh.cheat
  profiles/common/xdg-data-home/navi/cheats/yazi.cheat
Due: yamlfix, markdownlint

feat(common/nvim): install mason and treesitter tools using dotbot
  profiles/common/install.conf.yaml
Due: yamlfix

hemera: 2026-04-21T20:46:20+09:00
  profiles/common/home/.codex/rules/default.rules
  profiles/common/xdg-config-home/git/config
  profiles/common/xdg-config-home/git/ignore
  profiles/common/xdg-config-home/zsh/.zprofile
Due: none

build(nvim): update lazy-lock.json
  profiles/common/xdg-config-home/nvim/lazy-lock.json
Due: none

hemera: 2026-04-22T16:17:19+09:00
  README.md
  profiles/common/xdg-config-home/zsh/.zimrc
  profiles/common/xdg-config-home/zsh/.zprofile
  profiles/common/xdg-config-home/zsh/.zshenv
  profiles/common/xdg-config-home/zsh/.zshrc
  profiles/common/xdg-config-home/zsh/modules/history/init.zsh
Due: markdownlint

hemera: 2026-04-22T20:42:54+09:00
  profiles/common/xdg-config-home/opencode/opencode.jsonc
  profiles/common/xdg-config-home/yazi/plugins/my-archive-previewer.yazi/main.lua
  profiles/common/xdg-config-home/yazi/yazi.toml
  profiles/common/xdg-config-home/zsh/.zimrc
  profiles/common/xdg-config-home/zsh/modules/home/init.zsh
  profiles/common/xdg-config-home/zsh/modules/oh-my-posh/init.zsh
  profiles/common/xdg-config-home/zsh/modules/prompt/README.md
  profiles/common/xdg-config-home/zsh/modules/prompt/config.bak.json
  profiles/common/xdg-config-home/zsh/modules/prompt/config.json
  profiles/common/xdg-config-home/zsh/modules/prompt/hotstick.minimal.omp.json
  profiles/common/xdg-config-home/zsh/modules/prompt/init.zsh
  profiles/common/xdg-config-home/zsh/modules/prompt/stelbent.minimal.omp.json
  profiles/common/xdg-data-home/navi/cheats/touch.cheat
  profiles/desktop/xdg-config-home/ghostty/config
Due: taplo, biome, markdownlint

hemera: 2026-04-25T21:49:35+09:00
  README.md
  profiles/common/xdg-data-home/navi/cheats/pnpm.cheat
  profiles/desktop/xdg-config-home/ghostty/config
  profiles/desktop/xdg-config-home/mpv/mpv.conf
Due: markdownlint

hemera: 2026-04-26T01:21:53+09:00
  profiles/common/xdg-data-home/navi/cheats/rsgain.cheat
  profiles/common/xdg-data-home/navi/cheats/yt-dlp.cheat
  profiles/desktop/xdg-config-home/ghostty/config
Due: none

hemera: 2026-04-26T15:28:53+09:00
  profiles/common/xdg-config-home/yazi/plugins/my-mediainfo-preview.yazi/main.lua
  profiles/common/xdg-config-home/yazi/yazi.toml
  profiles/common/xdg-config-home/zsh/modules/git/functions/git-commit-date
  profiles/common/xdg-config-home/zsh/modules/zimfw/init.zsh
  profiles/common/xdg-data-home/rsync-exclude
  profiles/desktop-kde/xdg-config-home/kde.org/UserFeedback.org.kde.systemsettings.conf
Due: taplo

hemera: 2026-04-26T15:51:12+09:00
  profiles/common/xdg-config-home/zsh/modules/git/functions/git-commit-date
Due: none

hemera: 2026-04-29T21:19:42+09:00
  profiles/common/install.conf.yaml
  profiles/common/xdg-config-home/yazi/yazi.toml
  profiles/common/xdg-config-home/zsh/.zshenv
  profiles/desktop-kde/xdg-config-home/konsolerc
  profiles/desktop-kde/xdg-data-home/konsole/zsh.profile
Due: yamlfix, taplo

hemera: 2026-04-30T17:16:48+09:00
  README.md
  justfile
  profiles/common/xdg-data-home/navi/cheats/agent.cheat
  profiles/desktop/xdg-config-home/mpv/mpv.conf
Due: just-fmt, markdownlint

nyx: 2026-04-30T21:43:33+09:00
  profiles/common/home_projects/mani.yaml
  profiles/common/xdg-config-home/zsh/modules/home/init.zsh
  profiles/common/xdg-data-home/navi/cheats/agent.cheat
  scripts/btrfs-disposable-subvolumes.sh
  scripts/btrfs-snapshot-excluded-subvolumes.sh
  scripts/deploy-secrets-from-1password.sh
Due: shellharden, shellcheck, shfmt, yamlfix

nyx: 2026-04-30T23:04:51+09:00
  profiles/desktop-kde/xdg-data-home/kxmlgui5/konsole/konsoleui.rc
  profiles/desktop-kde/xdg-data-home/kxmlgui5/konsole/sessionui.rc
Due: none

nyx: 2026-04-30T23:47:49+09:00
  install.sh
  profiles/common/home_Projects/justfile
  profiles/common/home_Projects/mani.yaml
  profiles/common/install.conf.yaml
  profiles/common/xdg-config-home/zsh/modules/home/init.zsh
  profiles/desktop-kde/xdg-config-home/fontconfig/conf.d/10-generic.conf
  profiles/desktop-kde/xdg-data-home/konsole/zsh.profile
  profiles/tinted-theming/.gitignore
  profiles/tinted-theming/README.md
  profiles/tinted-theming/config/my-templates/tinted-alacritty/.gitignore
  profiles/tinted-theming/config/my-templates/tinted-alacritty/LICENSE
  profiles/tinted-theming/config/my-templates/tinted-alacritty/templates/config.yaml
  profiles/tinted-theming/config/my-templates/tinted-alacritty/templates/default.mustache
  profiles/tinted-theming/config/my-templates/tinted-ghostty/.gitignore
  profiles/tinted-theming/config/my-templates/tinted-ghostty/LICENSE
  profiles/tinted-theming/config/my-templates/tinted-ghostty/templates/config.yaml
  profiles/tinted-theming/config/my-templates/tinted-ghostty/templates/default.mustache
  profiles/tinted-theming/config/my-templates/tinted-konsole/.gitignore
  profiles/tinted-theming/config/my-templates/tinted-konsole/LICENSE.md
  profiles/tinted-theming/config/my-templates/tinted-konsole/templates/README.md
  profiles/tinted-theming/config/my-templates/tinted-konsole/templates/config.yaml
  profiles/tinted-theming/config/my-templates/tinted-konsole/templates/default.mustache
  profiles/tinted-theming/config/tinty/config.toml
  profiles/tinted-theming/custom-schemes/base24/my-gruvbox-dark.yaml
  profiles/tinted-theming/custom-schemes/base24/my-gruvbox-light-A.yaml
  profiles/tinted-theming/custom-schemes/base24/my-gruvbox-light-B.yaml
  profiles/tinted-theming/custom-schemes/base24/my-gruvbox-light-C.yaml
  profiles/tinted-theming/install.conf.yaml
  profiles/tinted-theming/justfile
Due: shellharden, shellcheck, shfmt, just-fmt, yamlfix, taplo, markdownlint

nyx: 2026-04-30T23:59:11+09:00
  profiles/common/install.conf.yaml
  profiles/common/install.d/install-mason-tools.sh
  profiles/common/install.d/install-treesitter-parsers.sh
  profiles/common/install.d/restore-neovim-plugins.sh
  profiles/common/install.d/seed-files.sh
  profiles/desktop-kde/xdg-config-home/ksplashrc
Due: shellharden, shellcheck, shfmt, yamlfix

nyx: 2026-05-01T00:43:27+09:00
  install.sh
  profiles/desktop-kde/install.conf.yaml
  profiles/desktop-kde/install.d/apply-kde-config.sh
  profiles/desktop-kde/xdg-config-home/dolphinrc
  profiles/desktop-kde/xdg-config-home/plasmaparc
Due: shellharden, shellcheck, shfmt, yamlfix

nyx: 2026-05-01T01:14:22+09:00
  profiles/common/home_Projects/mani.yaml
  profiles/common/xdg-data-home/navi/cheats/git.cheat
  profiles/desktop-kde/xdg-data-home/konsole/zsh.profile
  profiles/desktop/xdg-config-home/foot/foot.ini
  profiles/desktop/xdg-config-home/ghostty/config
Due: yamlfix

nyx: 2026-05-01T01:48:12+09:00
  profiles/desktop-kde/install.d/apply-kde-config.sh
  profiles/desktop-kde/xdg-data-home/konsole/zsh.profile
  profiles/desktop/xdg-config-home/foot/foot.ini
  profiles/desktop/xdg-config-home/foot/themes/gruvbox-dark.ini
Due: shellharden, shellcheck, shfmt

nyx: 2026-05-01T20:17:02+09:00
  profiles/common/xdg-data-home/navi/cheats/agent.cheat
  profiles/desktop-kde/install.d/configure-mimeapps.list.sh
  profiles/desktop-kde/xdg-config-home/fontconfig/README.md
  profiles/desktop-kde/xdg-config-home/fontconfig/conf.d/00-reject.conf
  profiles/desktop-kde/xdg-config-home/fontconfig/conf.d/10-generic.conf
  profiles/desktop/xdg-config-home/alacritty/alacritty.toml
Due: shellharden, shellcheck, shfmt, taplo, markdownlint

Path conditions:
  shellharden: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shellcheck: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shfmt: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  just-fmt: any of: (^|/)(\.)?justfile$, but not: (?x)^(
  .*/lazy-lock.json
)$

  yamlfix: any of: \.(yaml|yml)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  taplo: any of: \.toml$, but not: (?x)^(
  .*/lazy-lock.json
)$

  biome: any of: \.(json|jsonc)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  markdownlint: any of: \.(md|markdown|mdown)$, but not: (?x)^(
  .*/lazy-lock.json
)$

