Repository hnjae/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellharden, shellcheck, shfmt, just-fmt, yamlfix, taplo, biome, markdownlint

.pre-commit-config.yaml:

---
# See: https://pre-commit.com/
exclude: |
  (?x)^(
    .*/lazy-lock.json
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-private-key
        fail_fast: true
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: check-xml
  - repo: local
    hooks:
      - id: shellharden
        name: harden shell
        entry: shellharden --replace
        language: system
        files: \.(sh|bash|envrc|envrc.*)$
      - id: shellcheck
        name: check shell
        entry: shellcheck
        language: system
        files: \.(sh|bash|envrc|envrc.*)$
      - id: shfmt
        name: format shell
        entry: shfmt --indent 2 --simplify --write
        language: system
        files: \.(sh|bash|envrc|envrc.*)$
  - repo: local
    hooks:
      - id: just-fmt
        name: format just
        entry: bash -c 'just --fmt --unstable --justfile "$1"' --
        language: system
        files: (^|/)(\.)?justfile$
      - id: fish-indent
        name: format fish
        entry: fish_indent --write
        language: system
        types: [fish]
      - id: yamlfix
        name: format yaml
        entry: yamlfix
        language: system
        types: [yaml]
      - id: taplo
        name: format toml
        entry: taplo format
        language: system
        types: [toml]
      - id: biome
        name: format json(c)
        entry: biome format --write
        language: system
        files: \.(json|jsonc)$
      - id: markdownlint
        name: format markdown
        entry: markdownlint-cli2 --fix
        language: system
        types: [markdown]

refactor(zsh): consolidate XDG config and move .profile to .zprofile
  profiles/00-default/home/.profile
  profiles/00-default/xdg-config/zsh/.zprofile
  profiles/00-default/xdg-config/zsh/.zshenv
  profiles/00-default/xdg-config/zsh/.zshrc
Due: none

ci(pre-commit): replace local hooks with external rumdl repo
  .pre-commit-config.yaml
  profiles/00-default/xdg-config/alacritty/.pre-commit-config.yaml
  profiles/00-default/xdg-config/joshuto/.pre-commit-config.yaml
  profiles/00-default/xdg-config/nvim/.pre-commit-config.yaml
Due: yamlfix

feat(zsh): update hostname check from osiris to nyx
  profiles/00-default/xdg-config/zsh/my-home/init.zsh
Due: none

chore(.envrc): add pre-commit autoupdate check and execution
  .envrc
Due: shellharden, shellcheck, shfmt

chore(install): remove unused plasmanotifyrc and move skip-worktree logic
  .envrc
  install.sh
  profiles/50-kde/xdg-config/plasmanotifyrc
Due: shellharden, shellcheck, shfmt

feat(nvim): add justfile and update pre-commit config
  profiles/00-default/xdg-config/nvim/.pre-commit-config.yaml
  profiles/00-default/xdg-config/nvim/justfile
Due: just-fmt, yamlfix

style: run formatter
  profiles/00-default/xdg-config/cheat/conf.yml
  profiles/00-default/xdg-config/lazygit/config-default.yml
  profiles/00-default/xdg-config/lazygit/config.yml
  profiles/00-default/xdg-config/navi/config.yaml
  profiles/00-default/xdg-config/nvim/lazyvim.json
  profiles/99-tinted-theming/config/my-templates/_not-in-use/tinted-kdeplasma/templates/config.yaml
  profiles/99-tinted-theming/config/my-templates/_not-in-use/tinted-konsole/templates/config.yaml
  profiles/99-tinted-theming/config/my-templates/_not-in-use/tinted-wezterm/templates/config.yaml
  profiles/99-tinted-theming/config/my-templates/tinted-alacritty/templates/config.yaml
  profiles/99-tinted-theming/config/my-templates/tinted-ghostty/templates/config.yaml
  profiles/99-tinted-theming/custom-schemes/base24/_deprecated/my-code-dark.yaml
  profiles/99-tinted-theming/custom-schemes/base24/_deprecated/my-gruvbox-light.yaml
  profiles/99-tinted-theming/custom-schemes/base24/_deprecated/my-kanagawa-dragon.yaml
  profiles/99-tinted-theming/custom-schemes/base24/_deprecated/my-kanagawa-lotus.yaml
  profiles/99-tinted-theming/custom-schemes/base24/_deprecated/my-kanagawa-wave.yaml
  profiles/99-tinted-theming/custom-schemes/base24/_deprecated/my-rose-pine.yaml
  profiles/99-tinted-theming/custom-schemes/base24/_deprecated/my-selenized-light.yaml
  profiles/99-tinted-theming/custom-schemes/base24/my-gruvbox-dark.yaml
  profiles/99-tinted-theming/custom-schemes/base24/my-gruvbox-light.yaml
  profiles/99-tinted-theming/install.conf.yaml
Due: yamlfix, biome

nyx: 2026-03-22T19:41:11+09:00
  install.sh
  profiles/00-default/home/.claude/settings.json
  profiles/00-default/xdg-config/zsh/.zshenv
  profiles/00-default/xdg-config/zsh/.zshrc
  profiles/40-kde/xdg-config/kglobalshortcutsrc
  profiles/40-kde/xdg-config/plasmaparc
  profiles/40-linux-desktop/xdg-config/fcitx5/conf/hangul.conf
  profiles/40-linux-desktop/xdg-config/fcitx5/profile
  profiles/50-kde/xdg-config/ktimezonedrc
  profiles/50-kde/xdg-config/kxkbrc
Due: shellharden, shellcheck, shfmt, biome

feat: add codex configuration
  profiles/00-default/home/.codex/.gitignore
  profiles/00-default/home/.codex/rules/default.rules
  profiles/00-default/home/.codex/skills/.system/openai-docs/LICENSE.txt
  profiles/00-default/home/.codex/skills/.system/openai-docs/SKILL.md
  profiles/00-default/home/.codex/skills/.system/openai-docs/agents/openai.yaml
  profiles/00-default/home/.codex/skills/.system/openai-docs/assets/openai-small.svg
  profiles/00-default/home/.codex/skills/.system/openai-docs/assets/openai.png
  profiles/00-default/home/.codex/skills/.system/openai-docs/references/gpt-5p4-prompting-guide.md
  profiles/00-default/home/.codex/skills/.system/openai-docs/references/latest-model.md
  profiles/00-default/home/.codex/skills/.system/openai-docs/references/upgrading-to-gpt-5p4.md
  profiles/00-default/home/.codex/skills/.system/skill-creator/SKILL.md
  profiles/00-default/home/.codex/skills/.system/skill-creator/agents/openai.yaml
  profiles/00-default/home/.codex/skills/.system/skill-creator/assets/skill-creator-small.svg
  profiles/00-default/home/.codex/skills/.system/skill-creator/assets/skill-creator.png
  profiles/00-default/home/.codex/skills/.system/skill-creator/license.txt
  profiles/00-default/home/.codex/skills/.system/skill-creator/references/openai_yaml.md
  profiles/00-default/home/.codex/skills/.system/skill-creator/scripts/generate_openai_yaml.py
  profiles/00-default/home/.codex/skills/.system/skill-creator/scripts/init_skill.py
  profiles/00-default/home/.codex/skills/.system/skill-creator/scripts/quick_validate.py
  profiles/00-default/home/.codex/skills/.system/skill-installer/LICENSE.txt
  profiles/00-default/home/.codex/skills/.system/skill-installer/SKILL.md
  profiles/00-default/home/.codex/skills/.system/skill-installer/agents/openai.yaml
  profiles/00-default/home/.codex/skills/.system/skill-installer/assets/skill-installer-small.svg
  profiles/00-default/home/.codex/skills/.system/skill-installer/assets/skill-installer.png
  profiles/00-default/home/.codex/skills/.system/skill-installer/scripts/github_utils.py
  profiles/00-default/home/.codex/skills/.system/skill-installer/scripts/install-skill-from-github.py
  profiles/00-default/home/.codex/skills/.system/skill-installer/scripts/list-skills.py
Due: yamlfix, markdownlint

nyx: 2026-03-22T20:27:49+09:00
  profiles/00-default/xdg-config/zsh/.zshrc
Due: none

docs: create README with installation guide
  README.md
Due: markdownlint

hemera: 2026-03-22T20:53:11+09:00
  profiles/50-kde/xdg-config/fcitx5/conf/hangul.conf
Due: none

nyx: 2026-03-22T21:01:46+09:00
  install.sh
Due: shellharden, shellcheck, shfmt

nyx: 2026-03-22T21:11:38+09:00
  profiles/00-default/xdg-config/zsh/.zimrc
  profiles/00-default/xdg-config/zsh/.zshrc
  profiles/00-default/xdg-config/zsh/my-git-auto-fetch/LICENSE
  profiles/00-default/xdg-config/zsh/my-git-auto-fetch/functions/git-auto-fetch
  profiles/00-default/xdg-config/zsh/my-git-auto-fetch/functions/git-fetch-all
  profiles/00-default/xdg-config/zsh/my-git-auto-fetch/init.zsh
Due: none

nyx: 2026-03-22T21:31:14+09:00
  profiles/00-default/Projects/mani.yaml
  profiles/00-default/xdg-config/zsh/.zprofile
  profiles/00-default/xdg-config/zsh/.zshenv
  profiles/00-default/xdg-config/zsh/.zshrc
Due: yamlfix

nyx: 2026-03-22T21:56:42+09:00
  i
  profiles/00-default/home/.codex/rules/default.rules
  profiles/00-default/xdg-config/ghostty/config
  profiles/00-default/xdg-config/joshuto/bin/pistol-wrapper
  profiles/00-default/xdg-config/pistol/pistol.conf
  profiles/00-default/xdg-config/zsh/my-bat/init.zsh
Due: none

nyx: 2026-03-22T22:17:57+09:00
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/nix.linting.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/nix.lua
Due: none

hemera: 2026-03-22T23:05:52+09:00
  profiles/00-default/xdg-config/ghostty/config
Due: none

hemera: 2026-03-23T00:06:42+09:00
  i
Due: none

hemera: 2026-03-23T01:16:03+09:00
  profiles/00-default/xdg-config/ghostty/config
Due: none

hemera: 2026-03-23T01:50:48+09:00
  profiles/50-kde/xdg-config/kglobalshortcutsrc
Due: none

hemera: 2026-03-23T02:03:30+09:00
  install.sh
  profiles/50-kde/xdg-config/bluedevilglobalrc
  profiles/50-kde/xdg-config/dolphinrc
  profiles/50-kde/xdg-config/kdedefaults/kcminputrc
  profiles/50-kde/xdg-config/kdedefaults/kdeglobals
  profiles/50-kde/xdg-config/kdedefaults/ksplashrc
  profiles/50-kde/xdg-config/kdedefaults/kwinrc
  profiles/50-kde/xdg-config/kdedefaults/package
  profiles/50-kde/xdg-config/kdedefaults/plasmarc
  profiles/50-kde/xdg-config/kiorc
  profiles/51-linux-desktop/xdg-config/user-dirs.locale
Due: shellharden, shellcheck, shfmt

hemera: 2026-03-23T14:31:20+09:00
  profiles/00-default/xdg-config/ghostty/config
  profiles/50-kde/xdg-config/breezerc
  profiles/51-linux-desktop/xdg-config/btop/btop.conf
Due: none

style(nvim): run formatter
  profiles/00-default/Projects/mani.yaml
  profiles/00-default/home/.codex/skills/.system/openai-docs/SKILL.md
  profiles/00-default/home/.codex/skills/.system/openai-docs/agents/openai.yaml
  profiles/00-default/home/.codex/skills/.system/skill-creator/SKILL.md
  profiles/00-default/home/.codex/skills/.system/skill-creator/agents/openai.yaml
  profiles/00-default/home/.codex/skills/.system/skill-installer/SKILL.md
  profiles/00-default/home/.codex/skills/.system/skill-installer/agents/openai.yaml
Due: yamlfix, markdownlint

hemera: 2026-03-23T18:29:16+09:00
  profiles/00-default/xdg-config/alacritty/_base24.toml
  profiles/00-default/xdg-config/ghostty/config
  profiles/00-default/xdg-config/ghostty/themes/_base24
  profiles/00-default/xdg-config/ghostty/themes/base24-my-gruvbox-dark
  profiles/00-default/xdg-config/ghostty/themes/base24-my-gruvbox-light
  profiles/50-kde/xdg-data/konsole/_base24.colorscheme
  profiles/99-tinted-theming/README.md
  profiles/99-tinted-theming/config/tinty/config.toml
  profiles/99-tinted-theming/custom-schemes/base24/my-gruvbox-dark.yaml
  profiles/99-tinted-theming/custom-schemes/base24/my-gruvbox-light-A.yaml
  profiles/99-tinted-theming/custom-schemes/base24/my-gruvbox-light-B.yaml
  profiles/99-tinted-theming/custom-schemes/base24/my-gruvbox-light.yaml
Due: yamlfix, taplo, markdownlint

hemera: 2026-03-23T22:58:53+09:00
  profiles/00-default/xdg-data/navi/cheats/dnf.cheat
Due: none

hemera: 2026-03-24T18:26:37+09:00
  profiles/00-default/xdg-data/navi/cheats/pnpm.cheat
Due: none

nyx: 2026-03-25T11:37:22+09:00
  profiles/00-default/xdg-config/nvim/lazy-lock.json
  profiles/00-default/xdg-config/nvim/lua/config/options/setups/neovide.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/extends/ui.neovide.lua
  profiles/00-default/xdg-config/opencode/opencode.jsonc
  profiles/50-kde/xdg-config/kdedefaults/kdeglobals
  profiles/50-kde/xdg-config/kdedefaults/ksplashrc
  profiles/50-kde/xdg-config/kdedefaults/package
Due: biome

nyx: 2026-03-25T13:51:00+09:00
  profiles/00-default/xdg-config/qalculate/qalc.cfg
  profiles/00-default/xdg-data/navi/cheats/appman.cheat
  profiles/51-linux-desktop/install.conf.yaml
  profiles/51-linux-desktop/xdg-config/btop/btop.conf
  profiles/51-linux-desktop/xdg-data.applications/code-url-handler.desktop
  profiles/51-linux-desktop/xdg-data.applications/code.desktop
Due: yamlfix

nyx: 2026-03-28T11:43:31+09:00
  profiles/00-default/home/.codex/.gitignore
  profiles/00-default/home/.codex/skills/.system/openai-docs/LICENSE.txt
  profiles/00-default/home/.codex/skills/.system/openai-docs/SKILL.md
  profiles/00-default/home/.codex/skills/.system/openai-docs/agents/openai.yaml
  profiles/00-default/home/.codex/skills/.system/openai-docs/assets/openai-small.svg
  profiles/00-default/home/.codex/skills/.system/openai-docs/assets/openai.png
  profiles/00-default/home/.codex/skills/.system/openai-docs/references/gpt-5p4-prompting-guide.md
  profiles/00-default/home/.codex/skills/.system/openai-docs/references/latest-model.md
  profiles/00-default/home/.codex/skills/.system/openai-docs/references/upgrading-to-gpt-5p4.md
  profiles/00-default/home/.codex/skills/.system/skill-creator/SKILL.md
  profiles/00-default/home/.codex/skills/.system/skill-creator/agents/openai.yaml
  profiles/00-default/home/.codex/skills/.system/skill-creator/assets/skill-creator-small.svg
  profiles/00-default/home/.codex/skills/.system/skill-creator/assets/skill-creator.png
  profiles/00-default/home/.codex/skills/.system/skill-creator/license.txt
  profiles/00-default/home/.codex/skills/.system/skill-creator/references/openai_yaml.md
  profiles/00-default/home/.codex/skills/.system/skill-creator/scripts/generate_openai_yaml.py
  profiles/00-default/home/.codex/skills/.system/skill-creator/scripts/init_skill.py
  profiles/00-default/home/.codex/skills/.system/skill-creator/scripts/quick_validate.py
  profiles/00-default/home/.codex/skills/.system/skill-installer/LICENSE.txt
  profiles/00-default/home/.codex/skills/.system/skill-installer/SKILL.md
  profiles/00-default/home/.codex/skills/.system/skill-installer/agents/openai.yaml
  profiles/00-default/home/.codex/skills/.system/skill-installer/assets/skill-installer-small.svg
  profiles/00-default/home/.codex/skills/.system/skill-installer/assets/skill-installer.png
  profiles/00-default/home/.codex/skills/.system/skill-installer/scripts/github_utils.py
  profiles/00-default/home/.codex/skills/.system/skill-installer/scripts/install-skill-from-github.py
  profiles/00-default/home/.codex/skills/.system/skill-installer/scripts/list-skills.py
Due: yamlfix, markdownlint

fix(zsh): prioritize fzf over ZVM for `<C-r>`
  profiles/00-default/xdg-config/zsh/.zimrc
  profiles/00-default/xdg-config/zsh/.zshrc
Due: none

nyx: 2026-03-29T10:38:13+09:00
  profiles/00-default/Projects/mani.yaml
  profiles/00-default/xdg-config/opencode/opencode.jsonc
  profiles/00-default/xdg-config/zsh/my-fzf/init.zsh
Due: yamlfix, biome

hemera: 2026-03-30T13:54:23+09:00
  install.sh
  profiles/00-default/xdg-config/nvim/lua/plugins/extends/util.gp.lua
  profiles/10-secrets/deploy.sh
  profiles/10-secrets/install.conf.yaml
Due: shellharden, shellcheck, shfmt, yamlfix

hemera: 2026-03-30T16:10:58+09:00
  profiles/00-default/xdg-config/zsh/my-nix/init.zsh
  profiles/50-kde/xdg-config/kdedefaults/kcminputrc
  profiles/50-kde/xdg-config/kdedefaults/kdeglobals
  profiles/50-kde/xdg-config/kdedefaults/ksplashrc
  profiles/50-kde/xdg-config/kdedefaults/kwinrc
  profiles/50-kde/xdg-config/kdedefaults/package
  profiles/50-kde/xdg-config/kdedefaults/plasmarc
Due: none

hemera: 2026-03-30T16:34:04+09:00
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/gitcommit.gp.lua
Due: none

hemera: 2026-03-31T12:36:05+09:00
  .envrc
  .pre-commit-config.yaml
  profiles/00-default/xdg-config/zsh/.zshenv
Due: shellharden, shellcheck, shfmt, yamlfix

hemera: 2026-03-31T14:22:02+09:00
  profiles/00-default/xdg-config/nvim/snippets/pnpm-lock.yaml
  profiles/00-default/xdg-config/opencode/pnpm-lock.yaml
  profiles/00-default/xdg-data/navi/cheats/appman.cheat
Due: yamlfix

hemera: 2026-03-31T14:23:16+09:00
  justfile
Due: just-fmt
