Repository hnjae/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellharden, shellcheck, shfmt, just-fmt, yamlfix, taplo, biome, markdownlint

shellharden:
  name: harden shell
  entry: shellharden --replace
  language: system

shellcheck:
  name: check shell
  entry: shellcheck
  language: system

shfmt:
  name: format shell
  entry: shfmt --indent 2 --simplify --write
  language: system

just-fmt:
  name: format just
  entry: bash -c 'just --fmt --unstable --justfile "$1"' --
  language: system

yamlfix:
  name: format yaml
  entry: yamlfix
  language: system

taplo:
  name: format toml
  entry: taplo format
  language: system

biome:
  name: format json(c)
  entry: biome format --write
  language: system

markdownlint:
  name: format markdown
  entry: markdownlint-cli2 --fix
  language: system

feat(docs-review): focus on whole-tree contract repair
  profiles/common/xdg-config-home/codex/skills/docs-review/README.md
  profiles/common/xdg-config-home/codex/skills/docs-review/SKILL.md
  profiles/common/xdg-config-home/codex/skills/docs-review/agents/openai.yaml
  profiles/common/xdg-config-home/codex/skills/docs-review/references/review-checklist.md
Due: yamlfix, markdownlint

fix(docs): harden comprehensive review safeguards
  profiles/common/xdg-config-home/codex/skills/docs-review/SKILL.md
  profiles/common/xdg-config-home/codex/skills/docs-review/references/review-checklist.md
Due: markdownlint

fix(docs): load review checklist before project actions
  profiles/common/xdg-config-home/codex/skills/docs-review/SKILL.md
  profiles/common/xdg-config-home/codex/skills/docs-review/references/review-checklist.md
Due: markdownlint

fix(docs): close remaining review workflow gaps
  profiles/common/xdg-config-home/codex/skills/docs-review/SKILL.md
Due: markdownlint

fix(docs): make closed-scope verification fail closed
  profiles/common/xdg-config-home/codex/skills/design-review/README.md
  profiles/common/xdg-config-home/codex/skills/docs-review/SKILL.md
Due: markdownlint

nyx: 2026-07-18T23:14:19+09:00
  profiles/common/xdg-config-home/codex/skills/design-review/agents/openai.yaml
  profiles/common/xdg-config-home/codex/skills/generate-design-review-report/SKILL.md
  profiles/common/xdg-config-home/codex/skills/generate-design-review-report/agents/openai.yaml
  profiles/common/xdg-config-home/codex/skills/generate-design-review-report/references/audit.md
Due: yamlfix, markdownlint

fix(codex): scope design reviews to invocation directory
  profiles/common/xdg-config-home/codex/skills/generate-design-review-report/SKILL.md
  profiles/common/xdg-config-home/codex/skills/generate-design-review-report/agents/openai.yaml
Due: yamlfix, markdownlint

feat(docs): streamline docs review workflow
  profiles/common/xdg-config-home/codex/skills/docs-review/SKILL.md
  profiles/common/xdg-config-home/codex/skills/docs-review/references/delegated-review.md
  profiles/common/xdg-config-home/codex/skills/docs-review/scripts/docs_manifest.py
  profiles/common/xdg-config-home/codex/skills/docs-review/tests/test_docs_manifest.py
Due: markdownlint

nyx: 2026-07-22T18:07:23+09:00
  profiles/common/xdg-config-home/codex/.gitignore
Due: none

nyx: 2026-07-23T21:33:49+09:00
  profiles/desktop-kde/xdg-config-home/fcitx5/config
  profiles/desktop/xdg-config-home/mpv/mpv.conf
Due: none

eris: 2026-07-23T21:34:39+09:00
  profiles/common/xdg-config-home/codex/AGENTS.md
Due: markdownlint

nyx: 2026-07-26T15:37:21+09:00
  profiles/common/xdg-config-home/zsh/modules/systemd/init.zsh
  profiles/desktop-kde/install.d/configure-mimeapps.list.sh
Due: shellharden, shellcheck, shfmt

nyx: 2026-07-30T11:57:35+09:00
  profiles/common/xdg-data-home/navi/cheats/gpac.cheat
Due: none

fix: require explicit design review invocation
  profiles/common/xdg-config-home/codex/skills/generate-design-review-report/SKILL.md
  profiles/common/xdg-config-home/codex/skills/generate-design-review-report/agents/openai.yaml
Due: yamlfix, markdownlint

fix: align design review audit contracts
  profiles/common/xdg-config-home/codex/skills/generate-design-review-report/SKILL.md
  profiles/common/xdg-config-home/codex/skills/generate-design-review-report/references/audit.md
Due: markdownlint

feat: add design review finding remediation skill
  profiles/common/xdg-config-home/codex/skills/address-design-review-findings/SKILL.md
  profiles/common/xdg-config-home/codex/skills/address-design-review-findings/agents/openai.yaml
Due: yamlfix, markdownlint

feat: add mkv2webm remux helper
  profiles/common/xdg-bin-home/mkv2webm
Due: none

nyx: 2026-07-31T18:23:54+09:00
  profiles/desktop/xdg-config-home/mpv/mpv.conf
Due: none

fix: require explicit docs review invocation
  profiles/common/xdg-config-home/codex/skills/docs-review/SKILL.md
  profiles/common/xdg-config-home/codex/skills/docs-review/agents/openai.yaml
Due: yamlfix, markdownlint

fix(codex/skills): disable implicit invocation for link-html-clipper, researched-html-note
  profiles/common/xdg-config-home/codex/skills/link-html-clipper/agents/openai.yaml
  profiles/common/xdg-config-home/codex/skills/researched-html-note/agents/openai.yaml
Due: yamlfix

docs(codex): relax intent commit workflow
  profiles/common/xdg-config-home/codex/AGENTS.md
Due: markdownlint

docs(codex): adapt workflow for solo projects
  profiles/common/xdg-config-home/codex/AGENTS.md
Due: markdownlint

nyx: 2026-08-05T13:00:40+09:00
  profiles/common/xdg-config-home/codex/.gitignore
  profiles/desktop/xdg-config-home/mpv/mpv.conf
Due: none

chore: update lazy-lock.json
  profiles/common/xdg-config-home/nvim/lazy-lock.json
Due: none

nyx: 2026-08-14T17:47:50+09:00
  profiles/common/xdg-config-home/opencode/AGENTS.md
  profiles/common/xdg-config-home/opencode/justfile
  profiles/common/xdg-config-home/opencode/oh-my-openagent.backup.2026-05-23T03-46-46Z/README.md
  profiles/common/xdg-config-home/opencode/opencode.backup.2026-08-14/AGENTS.md
  profiles/common/xdg-config-home/opencode/opencode.backup.2026-08-14/opencode.jsonc
  profiles/common/xdg-config-home/opencode/opencode.backup.2026-08-14/package-lock.json
  profiles/common/xdg-config-home/opencode/opencode.backup.2026-08-14/package.json
  profiles/common/xdg-config-home/opencode/opencode.backup.2026-08-14/tui.jsonc
  profiles/common/xdg-config-home/opencode/opencode.jsonc
  profiles/common/xdg-config-home/opencode/tui.json
Due: just-fmt, biome, markdownlint

nyx: 2026-08-15T17:26:01+09:00
  profiles/common/xdg-config-home/cheat/cheatsheets/personal/OmO
  profiles/common/xdg-config-home/git/ignore
  profiles/common/xdg-config-home/opencode/README.md
  profiles/common/xdg-config-home/opencode/omo.jsonc
  profiles/desktop-kde/install.d/configure-mimeapps.list.sh
Due: shellharden, shellcheck, shfmt, biome, markdownlint

nyx: 2026-08-18T16:10:26+09:00
  profiles/desktop-kde/install.d/configure-mimeapps.list.sh
  profiles/desktop/xdg-config-home/mpv/mpv.conf
Due: shellharden, shellcheck, shfmt

nyx: 2026-08-23T12:04:42+09:00
  profiles/common/xdg-config-home/codex/config.toml.backup.2026-05-31
  profiles/common/xdg-config-home/opencode/AGENTS.md
  profiles/common/xdg-config-home/opencode/README.md
  profiles/common/xdg-config-home/opencode/oh-my-openagent.backup.2026-05-23T03-46-46Z/oh-my-openagent.jsonc
  profiles/common/xdg-config-home/opencode/oh-my-openagent.backup.2026-05-23T03-46-46Z/oh-my-openagent.jsonc.bak.2026-05-07T03-41-45-552Z
  profiles/common/xdg-config-home/opencode/oh-my-openagent.backup.2026-05-23T03-46-46Z/opencode-oh-my-openagent.jsonc
  profiles/common/xdg-config-home/opencode/oh-my-openagent.backup.2026-05-23T03-46-46Z/package-lock.json
  profiles/common/xdg-config-home/opencode/oh-my-openagent.backup.2026-05-23T03-46-46Z/package.json
  profiles/common/xdg-config-home/opencode/omo.jsonc
  profiles/common/xdg-config-home/opencode/opencode.backup.2026-08-14/AGENTS.md
  profiles/common/xdg-config-home/opencode/opencode.backup.2026-08-14/opencode.jsonc
  profiles/common/xdg-config-home/opencode/opencode.backup.2026-08-14/package-lock.json
  profiles/common/xdg-config-home/opencode/opencode.backup.2026-08-14/package.json
  profiles/common/xdg-config-home/opencode/opencode.backup.2026-08-14/tui.jsonc
  profiles/common/xdg-config-home/opencode/opencode.jsonc
  profiles/common/xdg-config-home/opencode/skills/link-html-clipper/SKILL.md
  profiles/common/xdg-config-home/opencode/skills/link-html-clipper/agents/openai.yaml
  profiles/common/xdg-config-home/opencode/skills/link-html-clipper/assets/obsidian-source-clip-template.html
  profiles/common/xdg-config-home/opencode/skills/researched-html-note/SKILL.md
  profiles/common/xdg-config-home/opencode/skills/researched-html-note/agents/openai.yaml
  profiles/common/xdg-config-home/opencode/skills/researched-html-note/assets/researched-note-template.html
Due: yamlfix, biome, markdownlint

nyx: 2026-08-23T12:13:33+09:00
  profiles/common/xdg-config-home/opencode/AGENTS.md
  profiles/common/xdg-config-home/opencode/justfile
  profiles/common/xdg-config-home/zsh/.zimrc
  profiles/common/xdg-config-home/zsh/modules/opencode/.gitignore
  profiles/common/xdg-config-home/zsh/modules/opencode/init.zsh
  profiles/common/xdg-data-home/navi/cheats/opencode.cheat
Due: just-fmt, markdownlint

chore(nvim): update lazy-lock.json
  profiles/common/xdg-config-home/nvim/lazy-lock.json
Due: none

nyx: 2026-08-23T15:56:48+09:00
  profiles/common/home_.ssh/config
  profiles/common/xdg-config-home/nvim/lua/plugins/extends/ai.codecompanion.lua
  profiles/common/xdg-config-home/nvim/lua/plugins/lang/markdown.obsidian.lua
  profiles/common/xdg-config-home/opencode/opencode.jsonc
Due: biome

nyx: 2026-08-25T11:17:21+09:00
  profiles/common/xdg-config-home/opencode/opencode.jsonc
  profiles/common/xdg-config-home/opencode/tui.json
Due: biome

fix(zsh): remove raw ANSI escapes from prompt
  profiles/common/xdg-config-home/oh-my-posh.json
Due: biome

nyx: 2026-08-27T12:31:42+09:00
  profiles/common/xdg-config-home/opencode/AGENTS.md
  profiles/common/xdg-data-home/navi/cheats/freedesktop/xdg.cheat
  profiles/common/xdg-data-home/navi/cheats/x11.cheat
Due: markdownlint

chore: update devenv.lock
  devenv/common/devenv.lock
Due: none

fix(yazi): read url from File objects in selected iteration
  profiles/common/xdg-config-home/yazi/plugins/local-copy-bracket-content.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-copy-file-clipboard.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-copy-file-content.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-copy-filename-osc52.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-copy-path-osc52.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-rename-with-vimv.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-rmdir.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-targets.yazi/main.lua
  profiles/common/xdg-config-home/yazi/plugins/local-trash-with-trace.yazi/main.lua
Due: none

nyx: 2026-08-29T15:24:34+09:00
  profiles/common/xdg-config-home/opencode/AGENTS.md
Due: markdownlint

feat: remove 3 code agent's config
  profiles/common/home/.claude/.claude.json
  profiles/common/home/.claude/.gitignore
  profiles/common/home/.claude/README.md
  profiles/common/home/.claude/settings.json
  profiles/common/home/.gemini/.gitignore
  profiles/common/home/.gemini/settings.json
  profiles/common/home/.omp/.gitignore
  profiles/common/home/.omp/agent/AGENTS.md
  profiles/common/home/.omp/agent/config.yml
Due: yamlfix, biome, markdownlint

refactor: merge common agent skills
  profiles/common/home/.agents/skills/link-html-clipper/SKILL.md
  profiles/common/home/.agents/skills/link-html-clipper/agents/openai.yaml
  profiles/common/home/.agents/skills/link-html-clipper/assets/obsidian-source-clip-template.html
  profiles/common/home/.agents/skills/researched-html-note/SKILL.md
  profiles/common/home/.agents/skills/researched-html-note/agents/openai.yaml
  profiles/common/home/.agents/skills/researched-html-note/assets/researched-note-template.html
  profiles/common/xdg-config-home/opencode/skills/link-html-clipper/SKILL.md
  profiles/common/xdg-config-home/opencode/skills/link-html-clipper/agents/openai.yaml
  profiles/common/xdg-config-home/opencode/skills/link-html-clipper/assets/obsidian-source-clip-template.html
  profiles/common/xdg-config-home/opencode/skills/researched-html-note/SKILL.md
  profiles/common/xdg-config-home/opencode/skills/researched-html-note/agents/openai.yaml
  profiles/common/xdg-config-home/opencode/skills/researched-html-note/assets/researched-note-template.html
Due: yamlfix, markdownlint

Path conditions:
  shellharden: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shellcheck: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  shfmt: any of: \.(sh|bash|envrc|envrc.*)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  just-fmt: any of: (^|/)(\.)?justfile$, but not: (?x)^(
  .*/lazy-lock.json
)$

  yamlfix: any of: \.(yaml|yml)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  taplo: any of: \.toml$, but not: (?x)^(
  .*/lazy-lock.json
)$

  biome: any of: \.(json|jsonc)$, but not: (?x)^(
  .*/lazy-lock.json
)$

  markdownlint: any of: \.(md|markdown|mdown)$, but not: (?x)^(
  .*/lazy-lock.json
)$

