Repository hnjae/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellharden, shellcheck, shfmt, just-fmt, yamlfix, taplo, biome, markdownlint

.pre-commit-config.yaml:

---
# See: https://pre-commit.com/
exclude: |
  (?x)^(
    .*/lazy-lock.json
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-private-key
        fail_fast: true
      - id: check-added-large-files
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: check-xml
  - repo: local
    hooks:
      - id: shellharden
        name: harden shell
        entry: shellharden --replace
        language: system
        files: \.(sh|bash|envrc|envrc.*)$
      - id: shellcheck
        name: check shell
        entry: shellcheck
        language: system
        files: \.(sh|bash|envrc|envrc.*)$
      - id: shfmt
        name: format shell
        entry: shfmt --indent 2 --simplify --write
        language: system
        files: \.(sh|bash|envrc|envrc.*)$
  - repo: local
    hooks:
      - id: just-fmt
        name: format just
        entry: bash -c 'just --fmt --unstable --justfile "$1"' --
        language: system
        files: (^|/)(\.)?justfile$
      - id: fish-indent
        name: format fish
        entry: fish_indent --write
        language: system
        types: [fish]
      - id: yamlfix
        name: format yaml
        entry: yamlfix
        language: system
        types: [yaml]
      - id: taplo
        name: format toml
        entry: taplo format
        language: system
        types: [toml]
      - id: biome
        name: format json(c)
        entry: biome format --write
        language: system
        files: \.(json|jsonc)$
      - id: markdownlint
        name: format markdown
        entry: markdownlint-cli2 --fix
        language: system
        types: [markdown]

hemera: 2026-02-17T23:55:14+09:00
  profiles/00-default/xdg-config/nvim/lua/config/options/setups/local-macro.lua
  profiles/00-default/xdg-data/navi/cheats/network/nmcli.cheat
  profiles/40-kde/xdg-config/dolphinrc
Due: none

hemera: 2026-02-26T21:07:46+09:00
  profiles/00-default/xdg-config/zsh/my-home/init.zsh
Due: none

hemera: 2026-02-26T21:50:16+09:00
  profiles/00-default/xdg-config/nvim/lua/plugins/extends/_not-in-use/editor.obsidian.lua
Due: none

hemera: 2026-02-26T22:51:07+09:00
  profiles/00-default/home/.claude/.gitignore
  profiles/00-default/home/.claude/CLAUDE.md
  profiles/00-default/home/.claude/plugins/blocklist.json
  profiles/00-default/home/.claude/plugins/known_marketplaces.json
  profiles/00-default/home/.claude/settings.json
Due: biome, markdownlint

hemera: 2026-02-26T22:56:37+09:00
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/_not-in-use/markdown.render-markdown.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/markdown.bullets.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/markdown.formatting.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/markdown.linting.lua
Due: none

hemera: 2026-03-01T18:47:58+09:00
  profiles/00-default/home/.claude/plugins/blocklist.json
  profiles/00-default/home/.claude/plugins/known_marketplaces.json
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/markdown.linting.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/markdown.render-markdown.lua
  profiles/80-home-desktop/Projects/mani.yaml
Due: yamlfix, biome

hemera: 2026-03-02T12:00:37+09:00
  profiles/00-default/home/.claude/.gitignore
  profiles/00-default/home/.claude/plugins/blocklist.json
  profiles/00-default/home/.claude/plugins/known_marketplaces.json
  profiles/00-default/home/.claude/settings.json
  profiles/00-default/xdg-config/opencode/opencode.jsonc
  profiles/00-default/xdg-config/opencode/opencode.jsonc.tui-migration.bak
  profiles/00-default/xdg-config/opencode/tui.json
Due: biome

hemera: 2026-03-02T12:16:20+09:00
  profiles/00-default/home/.claude/plugins/blocklist.json
  profiles/00-default/home/.claude/plugins/known_marketplaces.json
  profiles/00-default/home/.claude/settings.json
Due: biome

hemera: 2026-03-02T16:28:18+09:00
  profiles/00-default/home/.claude/plugins/blocklist.json
  profiles/00-default/home/.claude/plugins/known_marketplaces.json
  profiles/00-default/home/.claude/settings.json
  profiles/00-default/xdg-config/nvim/snippets/snippets/markdown-2.json
Due: biome

osiris: 2026-03-02T21:59:36+09:00
  profiles/00-default/xdg-config/alacritty/alacritty.toml
  profiles/00-default/xdg-config/ghostty/config
  profiles/00-default/xdg-config/wezterm/fonts.lua
Due: taplo

osiris: 2026-03-06T22:28:47+09:00
  profiles/00-default/xdg-config/cheat/cheatsheets/personal/google-sheets
Due: none

hemera: 2026-03-07T23:57:58+09:00
  profiles/00-default/home/.claude/plugins/blocklist.json
  profiles/00-default/home/.claude/plugins/known_marketplaces.json
  profiles/00-default/home/.claude/settings.json
  profiles/40-kde/xdg-config/kglobalshortcutsrc
  profiles/40-linux-desktop/xdg-data/fcitx5/lua/imeapi/extensions/dash.lua
  profiles/40-linux-desktop/xdg-data/fcitx5/lua/imeapi/extensions/uuid4.lua
  profiles/40-linux-desktop/xdg-data/fcitx5/lua/imeapi/extensions/uuid7.lua
Due: biome

hemera: 2026-03-08T00:20:07+09:00
  profiles/00-default/xdg-config/ghostty/config
  profiles/40-linux-desktop/xdg-config/fontconfig/conf.d/10-generic.conf
Due: none

hemera: 2026-03-08T00:20:48+09:00
  README.md
Due: markdownlint

hemera: 2026-03-08T00:21:53+09:00
  profiles/00-default/xdg-config/ghostty/config
Due: none

hemera: 2026-03-08T00:44:41+09:00
  profiles/00-default/xdg-config/ghostty/config
  profiles/00-default/xdg-config/zed/settings.json
Due: biome

hemera: 2026-03-08T00:49:24+09:00
  profiles/00-default/xdg-config/ghostty/config
  profiles/00-default/xdg-config/starship.toml
  profiles/00-default/xdg-pin/opencode-ohmy
Due: taplo

hemera: 2026-03-08T11:15:06+09:00
  profiles/00-default/home/.claude/plugins/blocklist.json
  profiles/00-default/home/.claude/plugins/known_marketplaces.json
  profiles/00-default/xdg-config/alacritty/alacritty.toml
  profiles/00-default/xdg-config/ghostty/config
  profiles/40-kde/xdg-config/kglobalshortcutsrc
Due: taplo, biome

hemera: 2026-03-08T11:27:13+09:00
  profiles/00-default/xdg-config/nvim/lua/config/autocmds/setups/_not-in-use/highlight-yank.lua
  profiles/00-default/xdg-config/nvim/lua/config/options/setups/options-background.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/replacements/colorscheme.lua
Due: none

hemera: 2026-03-08T11:28:09+09:00
  profiles/00-default/xdg-config/nvim/lua/plugins/overrides/ai.sidekick.lua
  profiles/00-default/xdg-config/nvim/lua/sidekick/mywezterm.lua
Due: none

build(nvim): update lazy-lock.json
  profiles/00-default/xdg-config/nvim/lazy-lock.json
Due: none

hemera: 2026-03-08T11:34:55+09:00
  ansible/tasks/components/various/deploy-secrets.yaml
  profiles/00-default/xdg-config/nvim/lua/config/lazy.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/replacements/colorscheme.lua
Due: yamlfix

hemera: 2026-03-08T16:52:42+09:00
  my-llm-prompts/20260308 AGENT_PROMPT_TEMPLATE (type 2).md
  my-llm-prompts/20260308 AGENT_PROMPT_TEMPLATE.md
  profiles/00-default/home/.claude/plugins/blocklist.json
  profiles/00-default/home/.claude/plugins/known_marketplaces.json
  profiles/00-default/home/.claude/settings.json
  profiles/00-default/xdg-config/nvim/lazy-lock.json
  profiles/00-default/xdg-config/nvim/lua/config/options/setups/options-appearance.lua
  profiles/00-default/xdg-config/nvim/lua/plugins/extends/_not-in-use/ui.auto-dark-mode.lua
Due: biome, markdownlint

hemera: 2026-03-08T17:02:43+09:00
  my-llm-prompts/20260308 AGENT BUILD PROMPT TEMPLATE.md
  profiles/00-default/home/.claude/plugins/known_marketplaces.json
Due: biome, markdownlint

hemera: 2026-03-08T17:54:18+09:00
  profiles/00-default/home/.claude/plugins/blocklist.json
  profiles/00-default/home/.claude/plugins/known_marketplaces.json
  profiles/00-default/home/.claude/settings.json
Due: biome

hemera: 2026-03-09T00:55:55+09:00
  profiles/00-default/home/.claude/plugins/known_marketplaces.json
  profiles/00-default/home/.claude/settings.json
  profiles/00-default/xdg-config/ghostty/config
  profiles/00-default/xdg-data/navi/cheats/git.cheat
  profiles/40-kde/xdg-config/kglobalshortcutsrc
Due: biome

hemera: 2026-03-09T10:25:56+09:00
  profiles/00-default/home/.claude/plugins/blocklist.json
  profiles/00-default/home/.claude/plugins/known_marketplaces.json
  profiles/40-kde/xdg-config/kglobalshortcutsrc
Due: biome

hemera: 2026-03-09T10:32:35+09:00
  ansible/tasks/components/flatpak/apps/_not-in-use/onlyoffice.yaml
Due: yamlfix

hemera: 2026-03-09T12:01:41+09:00
  profiles/00-default/xdg-config/ghostty/config
  profiles/00-default/xdg-config/ghostty/themes/kanagawa-lotus
  profiles/00-default/xdg-config/ghostty/themes/kanagawa-wave
  profiles/00-default/xdg-config/tinted-theming/my-schemes/base24/my-kanagawa-lotus.yaml
  profiles/00-default/xdg-config/tinted-theming/my-schemes/base24/my-kanagawa-wave.yaml
Due: yamlfix

hemera: 2026-03-09T12:07:27+09:00
  profiles/00-default/xdg-config/ghostty/config
  profiles/00-default/xdg-config/nvim/CHEATSHEET.md
  profiles/00-default/xdg-config/nvim/lazy-lock.json
  profiles/00-default/xdg-config/nvim/lua/plugins/replacements/colorscheme.lua
Due: markdownlint

feat(ansible): add systemd user service for ghostty
  ansible/tasks/components/systemd-user-services/services/ghostty.yaml
Due: yamlfix

hemera: 2026-03-09T12:26:59+09:00
  profiles/00-default/home/.claude/plugins/blocklist.json
  profiles/00-default/home/.claude/plugins/known_marketplaces.json
  profiles/00-default/home/.claude/settings.json
Due: biome

hemera: 2026-03-10T20:36:32+09:00
  profiles/00-default/xdg-config/alacritty/alacritty.toml
  profiles/00-default/xdg-config/ghostty/config
  profiles/00-default/xdg-config/nvim/lua/plugins/lang/markdown.render-markdown.lua
  profiles/00-default/xdg-config/nvim/snippets/snippets/global-2.json
  profiles/00-default/xdg-config/nvim/snippets/snippets/markdown-2.json
Due: taplo, biome

hemera: 2026-03-12T21:07:09+09:00
  profiles/80-home-desktop/Projects/mani.yaml
Due: yamlfix

hemera: 2026-03-14T15:41:16+09:00
  profiles/00-default/home/.claude/plugins/blocklist.json
  profiles/00-default/home/.claude/plugins/known_marketplaces.json
  profiles/00-default/home/.claude/settings.json
  profiles/80-home-desktop/xdg-config/git/ignore
Due: biome

hemera: 2026-03-15T11:17:28+09:00
  README.md
  profiles/00-default/home/.claude/plugins/blocklist.json
  profiles/00-default/home/.claude/plugins/known_marketplaces.json
  profiles/00-default/xdg-data/navi/cheats/systemd/journalctl.cheat
  profiles/40-linux-desktop/xdg-config/btop/btop.conf
Due: biome, markdownlint

hemera: 2026-03-15T11:22:59+09:00
  ansible/run.sh
  profiles/00-default/home/.claude/.gitignore
  profiles/00-default/home/.claude/plugins/blocklist.json
  profiles/00-default/home/.claude/plugins/known_marketplaces.json
Due: shellharden, shellcheck, shfmt, biome
